{% extends 'copo/base2.html' %}

{% load static %}
{% block title %}About{% endblock %}

{% block stylesheet_block %}
<style>
    body {
        background-color: rgba(49, 48, 44, 0.7);
    }
    
    a {
        color: mediumblue;
    }

    p {
        color: #1a1c1a;
        font-size: 19px;
        font-weight: 400;
    }
</style>
{% endblock stylesheet_block%}

{% block carouselblock %}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item one"></div>
        <div class="carousel-item two"></div>
        <div class="carousel-item three"></div>
    </div>
</div>
{% endblock carouselblock %}


{% block header_section %}
<div class="container" id="home">
    <div class="row text-center">
        <div class="col-md-12 col-md-12 col-sm-12">
            <h1 style="height: 300px;">
                <!-- <img style="margin-top: 50px" class="header-img" src="/static/assets/img/logo8_white_trans.png"
                    alt="header image"> -->
            </h1>
        </div>
    </div>
</div>
{% endblock header_section %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>About COPO</h2>
        <p>
            Collaborative OPen Omics (COPO) is a portal for scientists to describe, store and 
            retrieve data more easily, using community standards and public repositories that 
            enable the open sharing of results. The COPO project is one of several projects 
            supported by the 
            <a href="https://www.earlham.ac.uk/research-project/collaborative-open-omics-copo">
                Earlham Institute</a> (EI), in Norwich, United Kingdom.
        </p><br>
        <p>
            COPO can link your outputs to your ORCiD profile. By tracking unique identifiers 
            and Digital Object Identifiers (DOIs), COPO can provide a way to monitor usage and 
            get credit for your work such as source code or research data, which are still
            not typically cited in the majority of scientific papers.
        </p><br>
        <p>
            COPO wizards allow metadata to be added to your research objects with guided help and
            natural workflows. COPO can suggest metadata that might be appropriate for your data
            based on past submissions and similar workflows.
        </p><br>
        <p>
            The portal requires cookies, fonts and the limited processing of your personal data 
            in order to function as outlined in the 
            <a style="text-decoration: underline; color: mediumblue;" href="/about/privacy_notice">Privacy Notice</a>
            and <a style="text-decoration: underline; color: mediumblue;" href="/about/terms_of_use">Terms of Use</a>.
        </p>
        <br>
        <p>
            More information about COPO is available in its <a href="https://copo-docs.readthedocs.io/en/latest/">
            documentation</a>.
        </p>
        <hr>
    </div>

    <br><br>
    <div id="project-team-section-current" class="col-md-10 col-md-offset-1">
        <h2>COPO Team</h2>
        <p>
            The Collaborative OPen Omics (COPO) team is part of the Data Infrastructure and Algorithms group
            at the Earlham Institute, Norwich.<br><br>

            The Data Infrastructure and Algorithms group focuses on research into understanding how best to
            manage, represent and analyse data for open science, as well as exploring new hardware, 
            algorithms and methodologies to develop tools to push the boundaries of data-driven 
            informatics in the life sciences.<br><br>

            The team applies their research expertise to develop infrastructure platforms for data and
            software dissemination and publication, assembly algorithms for viral and microbial 
            metagenomics, large-scale data visualisation, and best practice and training in bioinformatics.
        </p>
        <br><br>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 row">
            <div class="col-lg-3 col-md-3 col-sm-3 person">
                <img class="img-circle" src="/static/assets/img/felix.jpg" alt="Felix Shaw's portrait picture">
            </div>
            <div class="p_bio col-md-9 col-sm-9 col-lg-9">
                <h3 class="header_font_weight">Felix Shaw</h3>
                <p class="p_position">Earlham Institute</p>
                <p>
                   Felix is a Research Software Engineer working on the COPO platform; a tool for creating,
                   depositing and searching for bundles of research objects.
                   <br><br>

                   His PhD is in Computer Science studying facial animation, computer graphics, signal
                   processing and machine learning. His current interests are
                   in the fields of data science, open source and how to apply machine learning techniques in
                   these areas to improve the tools available to researchers.
                </p>
                <p class="p_orcid"><img src="/static/assets/img/orcid.png" alt="ORCID logo"><a
                        href="http://orcid.org/0000-0001-9649-5906"> orcid.org/0000-0001-9649-5906</a></p>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-offset-1 col-md-10 row">
            <div class="col-md-9 col-sm-9 col-lg-9 text-end">
                <h3 class="header_font_weight text-end">Debby Ku</h3>
                <p class="p_position text-end">Earlham Institute</p>
                <p> 
                    Debby is a Research Software Engineer working on COPO.<br><br>

                    Prior to working at the Earlham Institute, Debby worked in Hong Kong with industrial
                    experience in software development and system engineering. She obtained a 
                    BSc. in Computer Engineering and MPhil degree in Computer Science 
                    from the University of Hong Kong.
                </p>

                <p class="p_orcid text-end"><img src="/static/assets/img/orcid.png" alt="ORCID logo"><a
                    href="http://orcid.org/0000-0001-9174-3296"> orcid.org/0000-0001-9174-3296</a>
                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 person">
                <img class="img-circle" src="/static/assets/img/debby.jpg" alt="Debby Ku's portrait picture">
            </div>

        </div>

        <div class="row pt-4">
            <div class="col-md-10 col-md-offset-1 row">
                <div class="col-lg-3 col-md-3 col-sm-3 person">
                    <img class="img-circle" src="/static/assets/img/aaliyah.jpg"
                        alt="Aaliyah Providence's portrait picture">
                </div>
                <div class="p_bio col-md-9 col-sm-9 col-lg-9">
                    <h3 class="header_font_weight">Aaliyah Providence</h3>
                    <p class="p_position">Earlham Institute</p>
                    <p>
                        Aaliyah is a Junior Software Developer supporting existing COPO code by writing unit 
                        and integration tests. She also supports EI, national, international and COPO users 
                        in tasks like metadata annotation, addition to COPO groups and upload to different 
                        repositories.<br><br>

                        In addition, Aaliyah performs quality assurance of existing and new COPO pipelines in
                        development and she promotes COPO to the research community by producing content 
                        through the COPO project web pages.<br><br>

                        Prior to joining EI, Aaliyah completed a BSc. in Software Engineering Mobile Application
                        Technologies at the University of the West Indies Mona (UWI Mona) in Jamaica. Her 4-year
                        undergraduate tenure comprised of a 2-year study at the UWI Mona and a 2-year study at
                        the Global Institute of Software Technology (GIST) in Suzhou, China.
                    </p>

                    <p class="p_orcid"><img src="/static/assets/img/orcid.png" alt="ORCID logo"><a
                            href="https://orcid.org/0000-0002-4348-7387"> orcid.org/0000-0002-4348-7387</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-5">
    <div id="project-team-section-former" class="col-md-10 col-md-offset-1">
        <h3 class="header_font_weight"> Former Team Members and Contributors</h3>
        <ul id="former_members_contributors_ul" class="margin-left: 10px">
            <li><a href="http://orcid.org/0000-0002-5589-7754">Dr. Robert Davey</a>, Earlham Institute</li>
            <li><a href="https://orcid.org/0000-0002-1670-1675">Alice Minotto</a>, Earlham Institute</li>
            <li><a href="http://orcid.org/0000-0001-8320-660X">Anthony Etuk</a>, Earlham Institute</li>
            <li><a href="http://orcid.org/0000-0001-5306-5690">Susanna Sansone</a>, Oxford e-Research Centre
            </li>
            <li><a href="http://orcid.org/0000-0002-2323-6847">David Johnson</a>, Oxford e-Research Centre
            </li>
            <li><a href="http://orcid.org/0000-0003-3499-8262&quot;">Alejandra Gonzalez Beltran</a>, Oxford
                e-Research
                Centre
            </li>
            <li><a href="http://orcid.org/0000-0001-9853-5668">Philippe Rocca-Serra</a>, Oxford e-Research
                Centre
            </li>
            <li><a href="http://orcid.org/0000-0002-7857-6814">Katherine Denby</a>, University of York</li>
            <li>Paul Kersey, EMBL EBI</li>
            <li>Ruth Bastow, Global Plant Council</li>
        </ul>
    </div>

</div>
{% endblock content%}