{% extends "secondary.html" %}



{% block topbanner %}

    About COPO

{% endblock %}

{% block content %}

    <p>
        COPO is a portal for scientists to describe, store and retrieve data more easily, using
        community standards and public repositories that enable the open sharing of results.
        COPO
        can link your outputs to your ORCiD profile.
    </p>

    <p>
        By tracking unique identifiers and DOIs, COPO can provide a way to monitor usage and get
        credit for your work, such as source code or research data, which still are not
        typically
        cited in the majority of scientific papers.
    </p>

    <p>
        COPO Wizards allow metadata to be added to your research objects with guided help and
        natural workflows. COPO can suggest metadata that might be appropriate for your data
        based
        on past submissions and similar workflows.
    </p>

    <span class="ArticleCopy">
        <blockquote>


            <span class="author"> </span>
        </blockquote>
    </span>


{% endblock %}