{% extends "secondary.html" %}
{% load static %}


{% block topbanner %}

    Earth Biogenome Project

{% endblock %}

{% block content %}

    <p>
        Earth Biogenome Project resources
    </p>


    <div style="margin-left: 40px">
        <li>
            <a href="{% url 'manifests:manifests' %}">Current manifests</a>
        </li>
        <li>
            <a href="/static/assets/files/COPO_visual_user_documentation.pdf" download>Visual guide to DTOL/ASG and ERGA
                submissions</a>:
            the guide is referring to DToL as an example, but you can follow the very same steps for ASG and ERGA, as
            long as you create a profile of the
            right type at the start.


        </li>
        <br/>
        Email us at EI.COPO@earlham.ac.uk if you need to be added to the user group of the subproject you are part of.

    </div>


{% endblock %}