{% extends "base1.html" %}
{% load static %}

{% block meta_description %}Explore COPO — a brokering platform for managing omics data with metadata submission to public repositories for open access and long-term preservation.{% endblock %}
{% block title %}Collaborative OPen Omics{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static '/copo_news/css/copo_news.css' %}">
{% endblock %}

{% block javascript_block %}
<script src="{% static '/copo_news/js/copo_news.js' %}"></script>
{% endblock %}

{% block baseblock %}
    <div class="container-fluid">

        <section id="statistics-section">
            <!-- Top navigation bar -->
            <div class="pull-right">
                {% if user.is_authenticated %}
                    {% include 'nav_authenticated.html' %}
                {% else %}
                    {% include 'nav_public.html' %}
                {% endif %}
            </div>
            
            <br><br><br><br><br>
            
            <!--<div id="copo-icon">
               <img src="{% static 'assets/img/COPO-logo-full-CMYK-black.png' %}" alt="copo_black image">
            </div>
            -->
            
            <!-- <div class="green-subtitle">
                COPO: FAIR Data Brokering for the Life Sciences
            </div> -->
       
            <div class="button_bar big">
                <a href="https://copo-project.org/copo">
                    <button class="ui big_button inverted button">Submit Data</button>
                </a>
                <a href="http://demo.copo-project.org/copo">
                    <button class="ui big_button inverted button">Try Demo</button>
                </a>
            </div>

            <div id="stats_bar" style="margin-top: 67px;">
                {% include "statistics.html" %}
            </div>
        </section>

        <section id="news-section">
            {% include 'copo/news_sublist.html' with newsList=newsList %}    
        </section>
    </div>
    <!-- </br></br></br></br></br> -->
    <footer id="footer" class="for-full-back footer-frontpage">
        <div class="pull-right">
            <a href="https://www.earlham.ac.uk/">
                <img class="img-responsive" src="{% static 'assets/img/ei.png' %}" width="200" height="200" alt="Earlham Institute logo"/>
            </a>
        </div>
    </footer>
{% endblock %}

