{% extends "base1.html" %}
{% load static %}

{% block title %}Collaborative OPen Omics{% endblock %}

{% block javascript_block %}



{% endblock %}


{% block css_block %}



{% endblock %}


{% block baseblock %}

    <div class="container-fluid">
        {% if banner and banner.active %}

            <div class="warning_banner">

                <h1>{{ banner.header_txt }}</h1>
                <p style="color:red">{{ banner.body_txt }}</p>
            </div>

        {% endif %}

        <section>


            <!-- include navbar html -->
            <div class="pull-right">
                {% include "nav_dropdown.html" %}
            </div>
            <br><br><br><br><br><br><br><br><br>
            <div id="copo-icon">
                <!--<img src="{% static "assets/img/COPO-logo-full-CMYK.png" %}" alt="copo_white image">-->
            </div>

            <!--
            <div class="green-subtitle">
                FAIR Data Brokering for the Life Sciences
            </div>
        -->

            <div class="button_bar big">
                <a href="https://copo-project.org/copo">
                    <button class="ui big_button inverted button">Submit Data</button>
                </a>
                <a href="http://demo.copo-project.org/copo">
                    <button class="ui big_button inverted button">Try Demo</button>
                </a>
            </div>

            <div id="stats_bar">
                {% include "statistics.html" %}
            </div>

        </section>
        <section class="shade">
            <!-- main content block -->
            {% block content %}
            {% endblock %}
            <div class="col-md-3"></div>
            <div class="col-md-6" id="contact-sec">
                <div>
                    <h2 class="big_button" style="width: fit-content">Contact Us</h2>

                </div>
                <div>

                    <form id="email_form" action="mailto:ei.copo@earlham.ac.uk?subject=I'm intetested in COPO!"
                          method="post"
                          enctype="text/plain">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required"
                                           placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control"
                                              rows="3"
                                              placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button id="email_submit" type="submit" class="btn btn-default">Submit Request
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                    <br/>
                </div>
                <div class="col-md-3"></div>
            </div>
        </section>


    </div>
    <br/><br/>
    <footer class="for-full-back" style="background-color: white; min-height: 100px; padding:20px 50px 0 0" id="footer">
    <div class="pull-right">
        <a href="https://www.earlham.ac.uk/">
            <img class="img-responsive" src="/static/assets/img/ei.png" width="200" height="200" style=""
                 alt="Earlham Institute logo"/>
        </a>
    </div>
</footer>

{% endblock %}
