{% extends "secondary.html" %}
{% load static %}
{% load web_tags %}
{% block title %}Manifests{% endblock %}

{% block topbanner %}
    Manifests
    <span id="spinner_div" class="float-end" style="font-size:12px; font-weight:normal">
            <h4 class="h4" style="font-weight:bold">Status</h4>
            <div class="alert alert-info" style="min-width: 400px; min-height: 55px;" role="alert">
                <span id="spinner" style="margin-top:10px" class="float-end ui tiny active inline loader"></span>
                <div id="sub_spinner" style="margin-top:10px"
                     class="float-end ui tiny indeterminate inline loader"></div>
                <p id="" style="color:#3a87ad !important; font-size:20px !important;">Manifest is generating...</p>
            </div>
    </span>
{% endblock %}

{% block content %}
    <p style=" display: inline-block;vertical-align: middle;margin: 10px 0;">
        Current Tree of Life Manifests </p>

    <div style="margin-left: 40px">
        <table class="ui padded table" style="text-align: center">
            <thead>
            <tr>
                <th>Manifest Type</th>
                <th>Version</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ASG (Aquatic Symbiosis Genomics)</td>
                <td id="current_asg_version"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle border-secondary-subtle" type="button" 
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{ 'ASG'|get_blank_manifest_url  }}">
                                Blank template
                                </a>
                            </li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a id="asg_prefilled_template_option" class="dropdown-item wizard-link" href="javascript:"
                                   onclick="showWizardBasedOnManifestType('asg')">
                                   Prefilled template
                                </a>
                            </li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ 'ASG'|get_sop_url  }}">
                                    Standard Operating Procedure (SOP)
                                </a>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>DTOL (Darwin Tree of Life)</td>
                <td id="current_dtol_version"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle border-secondary-subtle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{  'DTOL'|get_blank_manifest_url  }}">
                                Blank template
                                </a>
                            </li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a id="dtol_prefilled_template_option" class="dropdown-item wizard-link" href="javascript:"
                                   onclick="showWizardBasedOnManifestType('dtol')">
                                   Prefilled template
                                </a>
                            </li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ 'DTOL'|get_sop_url  }}">
                                    Standard Operating Procedure (SOP)
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>ERGA (European Reference Genome Atlas)</td>
                <td id="current_erga_version"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle border-secondary-subtle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Download
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{'ERGA'|get_blank_manifest_url }}">
                                Blank template</a></li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a id="erga_prefilled_template_option" class="dropdown-item wizard-link" href="javascript:"
                                   onclick="showWizardBasedOnManifestType('erga')">
                                   Prefilled template</a></li>
                            <li role="separator">
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ 'ERGA'|get_sop_url  }}">
                                    Standard Operating Procedure (SOP)
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Barcoding</td>
                <td>1.0</td>
                <td><a href="{% static 'assets/manifests/BARCODING_MANIFEST_TOL_TEMPLATE.xlsx' %}">BARCODING_MANIFEST_TOL_TEMPLATE.xlsx</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Reads</td>
                <td>1.0</td>
                <td><a
                        href="{% static 'assets/manifests/READS_MANIFEST_TOL_TEMPLATE.xlsx' %}">READS_MANIFEST_TOL_TEMPLATE.xlsx</a>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    {#  Modal wizard starts #}
    <div class="modal fade" id="modal-placeholder" data-backdrop="static" data-keyboard="false" tabindex="-1"
         role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h4 id=modalLabel class="modal-title"><b style="margin-left: 80px;">Tree of Life Manifest Wizard</b>
                    <button id="closeModalIcon" type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                    </button>
                    </h4>
                </div>

                <div class="modal-body">
                    <section class="mt-4">
                        <div class="card card-wizard">
                            <div class="card-header wizard-container">
                                <nav class="nav nav-pills nav-fill">
                                    <a class="nav-link tab-pills active" href="#">
                                        <span class="badge badge-info">1</span>
                                        Samples
                                        <span class="chevron"></span>
                                    </a>
                                    <a class="nav-link tab-pills disabled" href="#">Download
                                        <span class="chevron"></span>
                                    </a>
                                </nav>
                            </div>
                            <div class="card-body">
                                <div class="tab">
                                    <div class="mb-3 card-wizard-well">
                                        <label>How many samples would you like to describe?</label>
                                        <br>
                                        <input class="form-control" id="numberOfSamples" type="number" value="1" min="1" max="10000"
                                            required onkeypress="return event.keyCode === 8 || event.charCode > 48
                                            && event.charCode <= 57" />
                                    </div>
                                    <div class="mb-3 card-wizard-well">
                                        <label>Are there common values for these fields?&nbsp;
                                            <i id="info" class="fa fa-info-circle" aria-hidden="true"></i>
                
                                        </label>
                                        <br>
                                        <div id="commonfieldsDropdownlistDiv" class="mb-3">
                                            <span style="display:none;" id="commonFieldErrorMessageID" class="help-block"></span>
                                            <select class="form-control" id="commonfields" onchange="insertFormDiv(this)"
                                                aria-describedby="commonFieldErrorMessageID">
                                            </select>
                                        </div>
                                    </div>
                                    <div id="formDiv">
                                        <form id="formID"></form>
                                            {% csrf_token %}
                                    </div>
                                </div>
                
                                <div class="tab d-none">
                                    <div class="mb-3 card-wizard-well">
                                        <p style="text-align:center; font-size: medium">
                                            The manifest template is ready to be
                                            generated. Click the finish button to generate it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end card-wizard-actions">    
                                <!-- <button type="button" id="back_button" class="btn btn-link" onclick="back()">Prev</button> -->
                                <button id='resetBtn' type="button" class="btn btn-sm btn-primary btn-reset"><i
                                        class="fa fa-refresh"></i> Reset</button>
                                <button type="button" id="next_button" class="btn btn-success ms-auto" onclick="next()">Next<i id="rightIcon" class="fa fa-arrow-right" style="padding-left: 5px"></i></button>
                            </div>   
                        </div>
                              
                    </section>
                    <!-- <div class="wizard" id="manifest-wizard">
                        <div class="steps-container">
                            <ul class="steps">
                                {#                                <li data-step="1" class="active">#}
                                {#                                    <span class="badge badge-info">1</span>Type<span class="chevron"></span>#}
                                {#                                </li>#}
                                <li data-step="2" class="active">
                                    <span class="badge">1</span>Samples<span class="chevron"></span>
                                </li>
                                <li data-step="3">
                                    <span class="badge">2</span>Download<span class="chevron"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="step-content">
                            {#                            <div class="step-pane" data-step="1">#}
                            {#                                <div class="well">#}
                            {#                                    <label>Which manifest do you want to create?</label>#}
                            {#                                    <select id="manifestType" class="form-control">#}
                            {#                                        <option value="asg">ASG</option>#}
                            {#                                        <option value="dtol">DTOL</option>#}
                            {#                                        <option value="erga">ERGA</option>#}
                            {#                                        <option value="env">ENV</option>#}
                            {#                                    </select>#}
                            {##}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="step-pane" data-step="2">
                                <div class="well">
                                    <label>How many samples would you like to describe?</label>
                                    <br>
                                    <input class="form-control" id="numberOfSamples"
                                           type="number" value="1" min="1"
                                           max="10000" required
                                           onkeypress="return event.keyCode === 8 || event.charCode > 48
                                               && event.charCode <= 57"/>
                                </div>

                                <div class="well">
                                    <label>Are there common values for these fields?&nbsp;
                                        <i id="info" class="fa fa-info-circle" aria-hidden="true"
                                           aria-label="Information about common values"
                                           role="tooltip">
                                        </i>

                                    </label>
                                    <br>
                                    <div id="commonfieldsDropdownlistDiv" class="mb-3">
                                        <span style="display:none;" id="commonFieldErrorMessageID"
                                              class="help-block"></span>
                                        <select class="form-control" id="commonfields"
                                                onchange="insertFormDiv(this)"
                                                aria-describedby="commonFieldErrorMessageID">
                                        </select>
                                    </div>

                                </div>


                                <div id="formDiv">
                                    <form id="formID"></form>
                                    {% csrf_token %}
                                </div>


                            </div>

                            <div class="step-pane" data-step="3">
                                <p style="text-align:center; font-size: medium">The manifest template is ready to be
                                    generated. Click the finish button to generate it.
                                </p>

                            </div>


                        </div>

                        <div class="actions">
                            <button type="button" class="btn btn-sm btn-primary btn-prev">
                                <i class="fa fa-arrow-left"></i> Prev
                            </button>

                            <button id='resetBtn' type="button" class="btn btn-sm btn-primary btn-reset">
                                <i class="fa fa-refresh"></i> Reset
                            </button>

                            <button id='nextBtn' type="button" class="btn btn-sm btn-success btn-next"
                                    data-last="Finish ">
                                Next<i id="rightIcon" class="fa fa-arrow-right" style="padding-left: 5px"></i>
                            </button>

                        </div>
                    </div> -->


                </div>

            </div>
        </div>
    </div>
    {#  Modal wizard ends #}
{% endblock %}

{% block headblock %}

    <!-- <link rel="stylesheet" href="{% static 'copo/bootstrap/css/bootstrap-5.3.2.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'copo/fuelux/css/fuelux-3.17.2.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/manifests.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


    <!-- <script src="{% static 'copo/jquery/js/jquery-3.7.1.min.js' %}" 
            crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="{% static 'assets/js/manifests.js' %}"></script>

    <!-- <script src="{% static 'copo/bootstrap/js/bootstrap-5.3.2.bundle.min.js' %}"></script> -->
    <!-- <script src="{% static 'copo/fuelux/js/fuelux-3.17.2.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js"></script>
{% endblock %}