<div class="dropdown">


    <i class="dropdown-toggle ellipsis vertical big icon dot-color" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false"></i>

    <div class="dropdown-menu dropdown-menu-right">

        <a class="dropdown-item" href="/">
            <div class="item">
                Home
            </div>
        </a>
        <a class="dropdown-item" href="/about">
            <div class="item">
                About
            </div>
        </a>
        <a class="dropdown-item" href="/ebp">
            <div class="item">
                EBP resources
            </div>
        </a>
        <a class="dropdown-item" href="/copo/stats">
            <div class="item">
                Stats
            </div>
        </a>
        <!--
        <div class="item">
            Darwin Tree of Life
        </div>
        -->
        <a class="dropdown-item" href="http://demo.copo-project.org/copo">
            <div class="item">
                Try Demo
            </div>
        </a>
        <a class="dropdown-item" href="https://copo-project.org/copo">
            <div class="item">
                Submit Data
            </div>
        </a>

    </div>
</div>

