{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>News | COPO</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/static/copo/css/fontawesome/fontawesome-6.5.1.min.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet"/>
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Slabo+27px" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'copo/img/favicon.png' %}"/>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'copo/img/favicon_black.png' %}"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            background-color: rgba(179, 151, 89, 0.7);
        }

        @media (max-width: 768px) {
            .navbar-collapse {
                background-color: rgba(179, 151, 89, 1);
            }

        }

    </style>
</head>

<body>


<!-- Navigation -->
<div class="pull-right">
    {% include "nav_dropdown.html" %}
</div>
{#<nav class="navbar-inverse" role="navigation">#}
{##}
{#    <div class="navbar-header">#}
{#        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#        </button>#}
{#    </div>#}
{#    <!-- Collect the nav links for toggling -->#}
{#    <div class="collapse navbar-collapse navbar-ex1-collapse">#}
{#        <ul class="nav navbar-nav pull-right" style="font-weight: bolder ;">#}
{##}
{#            <li><a href="/">Home</a>#}
{#            </li>#}
{#            <li><a href="/dtol">DToL</a>#}
{#            </li>#}
{#            <li><a href="/news">News</a>#}
{#            </li>#}
{#            <li><a href="/people">People</a>#}
{#            </li>#}
{#            <li><a href="/#contact-sec">Contact us</a>#}
{#            </li>#}
{##}
{##}
{##}
{#        </ul>#}
{#    </div>#}
{#    <!-- /.navbar-collapse -->#}
{##}
{#    <!-- /.container -->#}
{##}
{#</nav>#}

<!--End Navigation -->

<div id="myCarousel" class="carousel container slide">
    <div class="carousel-inner">
        <div class="item one"></div>
        <div class="item two"></div>
        <div class="item eight"></div>
        <div class="item three"></div>
        <div class="item four"></div>
        <div class="item five"></div>
        <div class="item six"></div>
        <div class="item nine"></div>
        <div class="item eleven"></div>
        <div class="item twelve"></div>
        <div class="item thirteen"></div>
        <div class="item fourteen"></div>
    </div>
</div>

<!--Header section  -->
<div class="container" id="home">
    <div class="row text-center">
        <div class="col-md-12 col-md-12 col-sm-12">
            <h1>
                <img style="margin-top: 50px" class="header-img" src="/static/assets/img/logo8_white_trans.png">
            </h1>
            <!--
            <div class="head-sub-main">
                <p id="carousel_text" class="text-center">Publications, data, images, and other ‘research objects’ can
                    be submitted through COPO to remote long-term
                    storage repositories, with a helpful graphical user interface (GUI) relieving much of the
                    eye-watering
                    formatting burden required for preparing the information that goes alongside the research data.</p>
            </div>
            -->
        </div>
    </div>
</div>
<!--End Header section  -->


<section class="color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 border-right">
                <h2>Latest News</h2>
                <p>Read about our involvement in the Darwin Tree of Life project
                    <a href="https://www.earlham.ac.uk/newsroom/liberators-knowledge-copo-launches-darwin-tree-life">here
                    </a>.</p>
                <br/>
                <br/>
                <p>The COPO paper is available for you to read <a href="https://f1000research.com/articles/9-495/v1">
                    on f1000Research</a>.</p>
            </div>
            <div class="col-md-5" style="margin-left: 10px;">
                <h2>Releases and new features</h2>
                <p>You can find a full list of releases and features in <a
                        href="https://github.com/collaborative-open-plant-omics/COPO">
                    our GitHub repository</a></p>
                <br/>
                <li><strong> Version 1.2 <span class="label label-success">NEW</span> : </strong> released DToL
                    submission route with taxonomy validation
                    and checks for SOP 2.2 compliance
                </li>
            </div>
        </div>
    </div>

</section>


<div class="for-full-back" style="background-color: rgb(64,64,64); min-height: 200px" id="footer">

    <div class="row">
        <div class="text-left">
            <h4>Organisations</h4>
        </div>
        <div class="col-md-2 col-md-2 col-sm-2">
            <img class="img-responsive" src="/static/assets/img/ei.png"/>
        </div>
        <div class="col-md-2 col-md-2 col-sm-2">
            <img class="img-responsive" src="/static/assets/img/oerc-logo.jpg"/>
        </div>
        <div class="col-md-2 col-md-2 col-sm-2">
            <img class="img-responsive" src="/static/assets/img/york.png"/>
        </div>
        <div class="col-md-2 col-md-2 col-sm-2">
            <img class="img-responsive" src="/static/assets/img/ebi.png"/>
        </div>
    </div>
    <div>
    <span style="float: left"><a href="https://www.jetbrains.com/pycharm/"><img style="margin-left:20px" height="40px"
                                                                                src="/static/assets/img/icon_PyCharm.png"></a></span>
        <span style="float: left"><a href="https://github.com/collaborative-open-plant-omics"><img
                style="margin-left:20px" height="40px" src="/static/copo/img/Octocat.png"/></a></span>


        <span style="float: right; text-align: center"><a rel="license"
                                                          href="http://creativecommons.org/licenses/by/4.0/"><img
                alt="Creative Commons License" style="border-width:0"
                src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/><a rel="license"
                                                                                    href="http://creativecommons.org/licenses/by/4.0/">CC 4.0</a></span>
        <!--<span style="float: right"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img style="margin-top:10px" alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></span>-->

    </div>
</div>
<!--End footer Section -->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="/static/copo/js/jquery-3.7.1.js"></script>
<!-- BOOTSTRAP CORE SCRIPT   -->
<script src="/static/assets/plugins/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="/static/assets/js/custom.js"></script>

</body>

</html>