{% extends "base1.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block javascript_block %}



{% endblock %}


{% block css_block %}
    .dot-color{
        color: #eaf0f0 !important;
    }
    .navbar-brand > img {
        margin-top: -10px !important;
    }
{% endblock %}


{% block baseblock %}


    {% include "nav_dropdown.html" %}
    <section>
        <div class="row">

            <div id="main_banner" class="col-sm-7 col-md-7 col-lg-7 left-panel">
                <div class="topbanner-light">{% block topbanner %}{% endblock %}</div>
                <div class="secondary-container">
                    {% block content %}



                    {% endblock %}
                </div>

            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 zero-padding">
            </div>
        </div>

    </section>
{% endblock %}
