{% extends "base1.html" %}
{% load static %}
{% block javascript_block %}



{% endblock %}


{% block css_block %}

    .dot-color{
    color: #eaf0f0 !important;
    }

{% endblock %}


{% block baseblock %}



    <section>
        <div class="row">

            <div id="main_banner" class="col-sm-8 col-md-8 col-lg-8 left-panel">
                <div class="topbanner-light">{% block topbanner %}{% endblock %}</div>
                <div class="secondary-container">
                    {% block content %}



                    {% endblock %}
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 zero-padding">
                <div style="padding:30px" class="pull-right">
                    {% include "nav_dropdown.html" %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}
