<div class="ui cards centered raised link">
    <div class="card link">
        <div class="ui statistic">
            <div class="value">
                <i class="dna icon teal"></i> <span id="num_samples">0</span>
            </div>
            <div class="label">
                Samples
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="folder open icon violet"></i><span id="num_profiles">0</span>
            </div>
            <div class="label">
                Profiles
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon orange"></i><span id="num_users">0</span>
            </div>
            <div class="label">
                Users
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="upload icon green"></i><span id="num_uploads">0</span>
            </div>
            <div class="label">
                File Uploads
            </div>
        </div>
    </div>
</div>
</div>
