<div class="ui cards centered raised link">
    <div class="card link">
        <div class="ui statistic">
            <div class="value">
                <i class="dna icon" style="color:#aec278"></i> <span id="num_samples">0</span>
            </div>
            <div class="label">
                Samples
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="folder open icon" style="color:#659193"></i><span id="num_profiles">0</span>
            </div>
            <div class="label">
                Profiles
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon" style="color:#ba5d6d"></i><span id="num_users">0</span>
            </div>
            <div class="label">
                Users
            </div>
        </div>
    </div>
    <div class="card">
        <div class="ui statistic">
            <div class="value">
                <i class="upload icon" style="color:#495b82"></i><span id="num_uploads">0</span>
            </div>
            <div class="label">
                File Uploads
            </div>
        </div>
    </div>
</div>
