{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Accessions{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo_accessions/css/copo_accessions.css' %}">
    <style></style>
{% endblock %}

{% block title_block %}
    {% if showAllCOPOAccessions is True %}
        Accessions 
    {% else %}
        Accessions Dashboard
    {% endif %}
{% endblock %}

{% block tagline_block %}

{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="showAllCOPOAccessions" value="{{ showAllCOPOAccessions }}" />

        {% if showAllCOPOAccessions is True %}
        <input type="hidden" id="nav_component_name" value="accessions_dashboard" />
        {% else %}
        <input type="hidden" id="nav_component_name" value="accessions" />
        <input type="hidden" id="profile_id" value="{{ profile_id }}" />
        <input type="hidden" id="profile_type" value="{{ profile.type | get_short_profile_type }}" />
        <input type="hidden" id="profile_title" value="{{ profile.title }}" />
        <input type="hidden" value="{# url 'copo:copo_submissions' profile_id=profile_id #}" name="submission_url"
            id="submission_url" />
        {% endif %}
    </div>
{% endblock browse_header_block %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}

{% block content %}
    <script> let groups = {{ groups| safe }}</script>
    <input type="hidden" id="groups" value="{{ groups|safe }}" />

    <!-- accessions table section -->
    <div style="margin-top: 15px;">
        <!-- getting started section -->
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message" style="display: none;">
                <div class="copo-webui-popover">
                    <div class="webui-popover-inner">
                        <h3 class="copo-webui-popover-title">Accessions - Getting started</h3>
                        <div class="copo-webui-popover-content">
                            <div class="webpop-content-div">
                                The accessions page provides a platform for retrieving and analysing
                                biological samples that have biosample accession, SRA accession
                                and submission accession associated with them as part of a project
                                after the samples have been accepted.

                                {% if showAllCOPOAccessions is False %}
                                <br /><br />
                                <div><strong>All COPO accessions: </strong>To explore all accessions on COPO,
                                    click the
                                    <button class="circular tiny ui icon pink button">
                                        <i class="icon sitemap"></i>
                                    </button>
                                    icon.
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- accessions table  -->
        <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
            data-copo-tour-id="accessions_table"></div>
        <table id="accessions_table" class="ui celled table hover copo-noborders-table" style="width:100%">
        </table>
    </div>
{% endblock %}

{% block help_section %}
{% endblock %}

{% block js_block %}
    <script src="{% static 'copo_accessions/js/copo_accessions.js' %}"></script>
    <script src="{% static 'copo/datatables/js/moment-2.30.1.js' %}"></script>
    <script src="{% static 'copo/datatables/js/datetime.moment-1.13.7.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
{% endblock %}