<div class="modal fade" tabindex="-1" role="dialog" id="sample_spreadsheet_modal" style="overflow-y: scroll"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document" style="width: 99%">
        <div class="modal-content">
            <div class="modal-header">
                <button id='sample_spreadsheet_close_btn1' type="button" class="close" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload {{ profile.type | upper }} Sample Spreadsheet</h4>
            </div>
            <div class="modal-body" style="width: 100%">
                <div id="upload_buttons">
                    <label class="ui blue button" for="file" id="upload_label">
                        <input id="file" type="file" style="display:none" onchange="upload_spreadsheet(this.files[0])">
                        Upload Sample Manifest
                    </label>
                    <!--
                        <label class="ui violet button" for="images" id="files_label" disabled>

                            <input enctype='multipart/formdata' id="images" name="images" type="file"
                                   accept=".png,.jpg, .jpeg" multiple style="display:none"
                                   onchange="upload_image_files(this.files)" disabled>
                            Upload Barcoding Data
                        </label>
                        -->
                    <label class="ui teal button disabled" for="images" id="images_label" disabled>

                        <input enctype='multipart/formdata' id="images" name="images" type="file"
                            accept=".png,.jpg, .jpeg" multiple style="display:none"
                            onchange="upload_image_files(this.files)">
                        Upload Images
                    </label>
                    <label class="ui orange button disabled" for="permits" id="files_label" disabled>

                        <input enctype='multipart/formdata' id="permits" name="permits" type="file" accept=".pdf"
                            multiple style="display:none" onchange="upload_permit_files(this.files)">
                        Upload Permits
                    </label>
                    <button class="ui green button" id="finish_button" style="display:none">Finish</button>
                    <button class="ui green button" id="confirm_button" style="display:none">Confirm</button>
                    <div class="ui active inline loader" id="ss_upload_spinner" style="display:none">
                        <div class="percent"></div>
                    </div>

                    <button class="ui red button float-end" style="display:none" id="export_errors_button">Export
                        Errors
                    </button>
                </div>

                <div id="upload_controls"></div>

                <div id="sample_info" class="sample-alert sample-alert-info"></div>
                
                <div id="warning_info" class="sample-alert sample-alert-info"></div>
                
                <div id="warning_info2" class="sample-alert sample-alert-info"></div>
                
                <div id="warning_info3" class="sample-alert sample-alert-info"></div>

                <!--<div style="display:none; margin-top: 30px; " id="sample_warning" class="alert alert-warning"
                         role="alert"></div> -->
            </div>

            <div style="display:none; margin-top: 30px; " id="sample_valid" class="alert alert-info" role="alert">
                Validated
            </div>

            <div style="display:none; margin-top: 10px; " id="parse_info" class="alert alert-info" role="alert">
                ...
            </div>

            <ul class="nav nav-tabs" id="tabs" style="display:none" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" id="meta_table_nav_tab" href="#meta" role="tab">Sample Metadata</a>
                </li>
                <!--<li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="barcode_table_nav_tab" href="#image">Sample Images</a>
                    </li>-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" id="image_table_nav_tab" href="#image" role="tab">Sample Images</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" id="permits_table_nav_tab" href="#permits_div" role="tab">Sample Permits</a>
                </li>
            </ul>
            
            <div class="tab-content" style="padding:30px" >
                <div class="tab-pane show active" id="meta" role="tabpanel">
                    <table id="sample_parse_table" class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="tab-pane" id="image" role="tabpanel">
                    <table id="image_table" class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="tab-pane" id="permits_div" role="tabpanel">
                    <table id="permits_table" class="table table-striped table-bordered">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button id='sample_spreadsheet_close_btn2' type="button" class="btn btn-default">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>