{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Samples{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-noscript.css' %}">
    </noscript>
    <noscript>
        <link rel="stylesheet"
              href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-ui-noscript.css' %}">
    </noscript>
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_wizard.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/copo/sample.css' %}">

    <style>
        th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .confirm {
            border: 1px solid rgba(221, 221, 221, 0.95);
            border-radius: 11px;
            padding: 10px;
            width: 400px;
            margin-bottom: 20px;
        }

        #image_table img {
            height: 100px
        }

        .cell_highlight_in_column {
            background-color: #e0e1e2 !important;
        }

        .cell_updated {
            background-color: #1678c2 !important;
            color: white !important;
        }

        .cell_accepted {
            background-color: #16ab39 !important;
            color: white !important
        }

        .cell_tentative {
            background-color: #eaae00 !important;
            color: white !important;
        }
    </style>
{% endblock %}



{% block title_block %} Sample {% endblock %}

{% block tagline_block %}

{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="sample"/>
        <input type="hidden" id="profile_id" value="{{ profile_id }}"/>
        <input type="hidden" id="profile_title" value="{{ profile.title }}"/>
        <input type="hidden" id="profile_type" value="{{ profile.type }}" />
        <input type="hidden" value="{% url 'copo:copo_submissions' profile_id=profile_id %}" name="submission_url"
               id="submission_url"/>
        <input type="hidden" value="{{ profile.type }}" id="profile_type"/>
        <input type="hidden" id="blank_manifest_url" value="{{ profile.type | get_short_profile_type | get_blank_manifest_url  }}"/>  }}"        
    </div>
{% endblock browse_header_block %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}


{% block content %}
    <script>
        var groups =
        {{ groups|safe }}
    </script>
    <!--test ends -->
    <!--test ends -->
    <input type="hidden" id="groups" value="{{ groups|safe }}"/>

    <div style="display:none;">
        <a id="download-sample-manifest-link"><span>download</span></a>
    </div>  

    <!-- file upload control template -->
    <div id="file_upload_template1" style="display: none;">
        <div style="display: inline-block;">
            <form enctype="multipart/form-data" id="file_upload_form" name="file_upload_form" method="POST"
                  action="/rest/sample_wiz/">
                {% csrf_token %}
                <span class="tiny ui basic teal button fileinput-button"
                      style="background-image: none; border-color:transparent;">
                    <span>Upload CSV...</span>
                    <input type="file" id="description_file" name="description_file"/>
                </span>
            </form>
        </div>
    </div>

    <!-- sample wizard section -->
    <div id="wizard_toggle" class="collapse" style="margin-bottom: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Sample Description</div>
            <div class="panel-body">
                <div class="fuelux" style="margin-bottom: 5px;">
                    <div class="row action-rw">
                        <!-- Discard description button -->
                        <div id="remove_act" class=" tiny ui basic red button"
                             data-toggle="tooltip"
                             title="Discard description"
                             tabindex="0">
                            <span style="padding-left: 3px;">Discard description</span>
                        </div>

                        <!-- save for later description button -->
                        <div id="reload_act" class=" tiny ui basic secondary button"
                             data-toggle="tooltip"
                             title="Save description for later"
                             tabindex="0">
                            <span style="padding-left: 3px;">Exit wizard</span>
                        </div>

                    </div>
                    <div class="wizard" data-initialize="wizard" id="sampleWizard">
                        <div class="steps-container">
                            <ul class="steps">
                                <li data-step="1" data-name="intro" class="active">
                                    <span class="badge">1</span>Intro
                                    <span class="chevron"></span>
                                </li>
                                <li data-step="2" data-name="review">
                                    <span class="badge">2</span>Review
                                    <span class="chevron"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="actions">
                            <button id="wiz_prev_btn" type="button" class="tiny ui left labeled icon button btn-prev">
                                <i class="left arrow icon"></i>
                                Prev
                            </button>
                            <button id="wiz_next_btn" type="button"
                                    class="tiny ui primary right labeled icon button btn-next"
                                    data-last="Finish!">
                                <i class="right arrow icon"></i>
                                Next
                            </button>
                        </div>
                        <div class="step-content"
                             style="margin-bottom: 45px; border: 0.1em solid rgba(229, 239, 255, 1.0); border-radius: 4px;">
                            <div class="step-pane active sample-pane" data-step="1">
                                <form id="wizard_form_1" class="wizard-dynamic-form">
                                    <input id="current_stage"
                                           name="current_stage"
                                           value="intro" type="hidden">
                                </form>

                                <!-- description wizard getting started section -->
                                <div class="webpop-content-div">
                                    <h4>Getting started...</h4>
                                    The following tips are provided to help you navigate the wizard:
                                    <div style="margin-top: 10px;"></div>
                                    <ol>
                                        <li>
                                            Use the <strong><a class="wiz-showme" data-target="wiz_next_btn"
                                                               data-label="Next stage" href="#"
                                                               title="show me">Next</a></strong> button to proceed
                                            to
                                            the next
                                            stage of the wizard,
                                            and the <strong><a class="wiz-showme" data-target="wiz_prev_btn"
                                                               data-label="Previous stage" href="#"
                                                               title="show me">Prev</a></strong> button to return to
                                            a
                                            previous
                                            stage
                                        </li>
                                        <li>
                                            Use the <a class="wiz-showme" data-target="wizard-help-checkbox"
                                                       data-label="Help tips" href="#"
                                                       title="show me"><strong>help tips</strong></a> button to
                                            toggle
                                            display of help
                                            tips
                                        </li>
                                        <li>
                                            The <a class="wiz-showme" data-target="copo-documentation"
                                                   data-label="Documentation" href="#"
                                                   title="show me"><strong>documentation</strong></a> page offers a
                                            more
                                            detailed guide
                                            to sample description
                                        </li>
                                        <li>
                                            Click the <a class="wiz-showme" data-target="remove_act"
                                                         data-label="Discard description" href="#"
                                                         title="show me"><strong>discard button</strong></a> to
                                            terminate the description
                                            (and exit the wizard)

                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="step-pane" data-step="2">
                                <h4>Wrap up!</h4>
                                <p>
                                <div class="webpop-content-div">You have reached the final stage of the wizard.<br/>
                                    If you are satisfied with the entries you have made, click the
                                    <strong>Finish!</strong>
                                    button to finalise your description and terminate the wizard.<br/> You can still use
                                    the <strong>Prev</strong> button to go back and make changes.
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sample table section -->
    <div style="margin-top: 15px;">
        <!-- getting started section -->
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message"
                 style="display: none;">
                <div class="copo-webui-popover">
                    <div class="webui-popover-inner">
                        <h3 class="copo-webui-popover-title">Samples - Getting started</h3>
                        <div class="copo-webui-popover-content">
                            <div class="webpop-content-div">
                                The samples page provides a platform for describing and managing
                                biological samples,
                                obtained as part of a project.
                                <br/><br/>The description functionality presents a wizard that guides
                                the user through a step-by-step
                                process of sample metadata attribution.
                                <br/><br/>
                                Use the
                                <button id="help_add_button" class="circular tiny ui icon button">
                                    <i class="icon sign table"></i>
                                </button>
                                to upload <strong>{{ profile.type }}</strong> samples.
                                <br/><br/>
                                Click the
                                    <button class="circular tiny ui icon brown  button">
                                        <i class="icon download sign"></i>
                                    </button>
                                to download a blank <strong>{{ profile.type }}</strong> manifest template.
                                <br /><br />
                                <div><strong>Quick Tour: </strong>To explore the various
                                    controls available on this page, click the
                                    <button class="circular tiny ui icon orange button">
                                        <i class="icon lightbulb"></i>
                                    </button>
                                    icon.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sample table -->
        <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
             data-copo-tour-id="sample_table"></div> <!-- div used by the quick tour agent -->
        <table id="sample_table"
               class="ui celled table hover copo-noborders-table compact nowrap"
               cellspacing="0" width="100%">
        </table>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="sample_spreadsheet_modal" style="overflow-y: scroll">
        <div class="modal-dialog modal-lg" role="document" style="width: 99%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload Spreadsheet</h4>
                </div>
                <div class="modal-body" style="width: 100%">
                    <div id="upload_buttons">
                        <label class="ui blue button" for="file" id="upload_label">
                            <input id="file" type="file" style="display:none"
                                   onchange="upload_spreadsheet(this.files[0])">
                            Upload Sample Manifest
                        </label>
                        <!--
                        <label class="ui violet button" for="images" id="files_label" disabled>

                            <input enctype='multipart/formdata' id="images" name="images" type="file"
                                   accept=".png,.jpg, .jpeg" multiple style="display:none"
                                   onchange="upload_image_files(this.files)" disabled>
                            Upload Barcoding Data
                        </label>
                        -->
                        <label class="ui teal button disabled" for="images" id="images_label" disabled>

                            <input enctype='multipart/formdata' id="images" name="images" type="file"
                                   accept=".png,.jpg, .jpeg" multiple style="display:none"
                                   onchange="upload_image_files(this.files)">
                            Upload Images
                        </label>
                        <label class="ui orange button disabled" for="permits" id="files_label" disabled>

                            <input enctype='multipart/formdata' id="permits" name="permits" type="file"
                                   accept=".pdf" multiple style="display:none"
                                   onchange="upload_permit_files(this.files)">
                            Upload Permits
                        </label>
                        <button class="ui green button" id="finish_button" style="display:none">Finish</button>
                        <button class="ui green button" id="confirm_button" style="display:none">Confirm</button>
                        <div class="ui active inline loader" id="ss_upload_spinner" style="display:none">
                            <div class="percent"></div>
                        </div>

                        <button class="ui red button pull-right" style="display:none" id="export_errors_button">Export
                            Errors
                        </button>


                    </div>


                    <div id="upload_controls">

                    </div>
                    <div style="display:none; margin-top: 30px; " id="warning_info" class="alert alert-info"
                         role="alert">
                    </div>
                    <div style="display:none; margin-top: 30px; " id="warning_info2" class="alert alert-info"
                         role="alert">
                    </div>
                    <div style="display:none; margin-top: 30px; " id="warning_info3" class="alert alert-info"
                         role="alert">
                    </div>
                    <div style="display:none; margin-top: 30px; " id="sample_info" class="alert alert-info"
                         role="alert"></div>
                    <!--<div style="display:none; margin-top: 30px; " id="sample_warning" class="alert alert-warning"
                         role="alert"></div> -->
                </div>
                <div style="display:none; margin-top: 30px; " id="sample_valid" class="alert alert-info"
                     role="alert">Validated
                </div>
                <div style="display:none; margin-top: 10px; " id="parse_info" class="alert alert-info" role="alert">
                    ...
                </div>


                <ul class="nav nav-tabs" id="tabs" style="display:none">
                    <li class="active">
                        <a data-toggle="tab" id="meta_table_nav_tab" href="#meta">Sample Metadata</a>
                    </li>
                    <!--<li>
                        <a data-toggle="tab" id="barcode_table_nav_tab" href="#image">Sample Images</a>
                    </li>-->
                    <li>
                        <a data-toggle="tab" id="image_table_nav_tab" href="#image">Sample Images</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="permits_table_nav_tab" href="#permits_div">Sample Permits</a>
                    </li>

                </ul>
                <div class="tab-content" style="padding:30px">
                    <div class="tab-pane active" id="meta">

                        <table id="sample_parse_table" class="table table-striped table-bordered">

                            <thead></thead>
                            <tbody></tbody>


                        </table>

                    </div>
                    <div class="tab-pane" id="image">
                        <table id="image_table" class="table table-striped table-bordered">

                            <thead></thead>
                            <tbody></tbody>


                        </table>
                    </div>
                    <div class="tab-pane" id="permits_div">
                        <table id="permits_table" class="table table-striped table-bordered">

                            <thead></thead>
                            <tbody></tbody>


                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div><!-- /.modal-content -->


        </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="csv_update_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg" role="document" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Column</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="ui attached message">
                                <div class="header">
                                    Update Column Data
                                </div>
                                <p>Choose a column to update from the dropdown, then click download to get the column
                                    data
                                    in spreadsheet form. Make your alterations in your spreadsheet program, and then
                                    upload
                                    the edited spreadsheet by clicking browse and navigating to the updated file. Then
                                    click
                                    submit.</p>
                            </div>


                            <form class="ui form attached fluid segment" id="csv_upload_form">
                                <div class="field">
                                    <label for="column_dropdown">Column Name</label>
                                    <select class="form-control" id="column_dropdown" placeholder="">

                                    </select>
                                </div>
                                <h4 class="ui horizontal header divider">
                                    <i class="bar chart icon"></i>
                                    Download -> Edit -> Upload -> Validate
                                </h4>
                                <div class="field">
                                    <button class="ui button" id="ss_download_button">Download Column Data</button>
                                </div>
                                <div class="fields">
                                    <div class="field">
                                        <label for="csv_upload_button">File input</label>

                                        <input type="file" enctype="multipart/formdata" id="csv_upload_button">
                                    </div>
                                    <div class="field" style="margin-top:30px">
                                        <button id="csv_reload" class="ui icon button">
                                            <i class="redo icon"></i>
                                        </button>
                                    </div>
                                </div>

                                <button id="csv_validate" class="ui button disabled">Validate</button>
                                <button id="csv_save" class="ui button disabled">Save</button>
                                <span id="validate_loader" style="display: none"><img height="30px"
                                                                                      src="{% static "copo/img/loading.gif" %}"/></span>
                            </form>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h1>Column Inspector</h1>
                            <div id="column_inspector" style="overflow:scroll; max-height:80vh">

                                <table id="column_inspect_table" class="ui celled table">
                                    <thead></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close_button" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block help_section %}

{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_sample.js' %}"></script>
    <script src="{% static 'copo/js/dtol_functions.js' %}"></script>
    <script src="{% static 'copo/js/copo_parse_spreadsheet.js' %}"></script>
    <script src="{% static 'copo/js/csv_column_updates.js' %}"></script>
    <script src="{% static 'copo/js/fastdom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.5/sorting/datetime-moment.js"></script>
{% endblock %}
