{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Samples{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/blueimp-gallery.min.css' %}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'copo/jquery/jQuery-File-Upload-master/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'copo/jquery/jQuery-File-Upload-master/css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{% static 'copo/jquery/jQuery-File-Upload-master/css/jquery.fileupload-noscript.css' %}">
    </noscript>
    <noscript>
        <link rel="stylesheet"
              href="{% static 'copo/jquery/jQuery-File-Upload-master/css/jquery.fileupload-ui-noscript.css' %}">
    </noscript>
    <link rel="stylesheet" href="{% static 'copo/css/copo_wizard.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/sample.css' %}">

    <style>
    </style>
{% endblock %}

{% block title_block %} Sample {% endblock %}

{% block tagline_block %}

{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="sample"/>
        <input type="hidden" id="profile_id" value="{{ profile_id }}"/>
        <input type="hidden" id="profile_title" value="{{ profile.title }}"/>
        <input type="hidden" id="profile_type" value="{{ profile.type }}" />
        <input type="hidden" value="{% url 'copo:copo_submissions' profile_id=profile_id %}" name="submission_url"
               id="submission_url"/>
        <input type="hidden" value="{{ profile.type }}" id="profile_type"/>
        <input type="hidden" id="blank_manifest_url" value="{{ profile.type | get_blank_manifest_url  }}"/>
        <input type="hidden" id="sop_url"
            value="{{ profile.type | get_sop_url  }}" />
    </div>
{% endblock browse_header_block %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}

{% block content %}
    <script>
        var groups =
        {{ groups|safe }}
    </script>

    <input type="hidden" id="groups" value="{{ groups|safe }}"/>

    <div style="display:none;">
        <a id="download-sample-manifest-link"><span>download</span></a>
    </div>  

    <!-- file upload control template -->
    <div id="file_upload_template1" style="display: none;">
        <div style="display: inline-block;">
            <form enctype="multipart/form-data" id="file_upload_form" name="file_upload_form" method="POST"
                  action="/rest/sample_wiz/">
                {% csrf_token %}
                <span class="tiny ui basic teal button fileinput-button"
                      style="background-image: none; border-color:transparent;">
                    <span>Upload CSV...</span>
                    <input type="file" id="description_file" name="description_file"/>
                </span>
            </form>
        </div>
    </div>

    <!-- sample wizard section -->
    <div id="wizard_toggle" class="collapse" style="margin-bottom: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Sample Description</div>
            <div class="panel-body">
                <div class="fuelux" style="margin-bottom: 5px;">
                    <div class="row action-rw">
                        <!-- Discard description button -->
                        <div id="remove_act" class=" tiny ui basic red button"
                             data-toggle="tooltip"
                             title="Discard description"
                             tabindex="0">
                            <span style="padding-left: 3px;">Discard description</span>
                        </div>

                        <!-- save for later description button -->
                        <div id="reload_act" class=" tiny ui basic secondary button"
                             data-toggle="tooltip"
                             title="Save description for later"
                             tabindex="0">
                            <span style="padding-left: 3px;">Exit wizard</span>
                        </div>

                    </div>
                    <div class="wizard" data-initialize="wizard" id="sampleWizard">
                        <div class="steps-container">
                            <ul class="steps">
                                <li data-step="1" data-name="intro" class="active">
                                    <span class="badge">1</span>Intro
                                    <span class="chevron"></span>
                                </li>
                                <li data-step="2" data-name="review">
                                    <span class="badge">2</span>Review
                                    <span class="chevron"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="actions">
                            <button id="wiz_prev_btn" type="button" class="tiny ui left labeled icon button btn-prev">
                                <i class="left arrow icon"></i>
                                Prev
                            </button>
                            <button id="wiz_next_btn" type="button"
                                    class="tiny ui primary right labeled icon button btn-next"
                                    data-last="Finish!">
                                <i class="right arrow icon"></i>
                                Next
                            </button>
                        </div>
                        <div class="step-content"
                             style="margin-bottom: 45px; border: 0.1em solid rgba(229, 239, 255, 1.0); border-radius: 4px;">
                            <div class="step-pane active sample-pane" data-step="1">
                                <form id="wizard_form_1" class="wizard-dynamic-form">
                                    <input id="current_stage"
                                           name="current_stage"
                                           value="intro" type="hidden">
                                </form>

                                <!-- description wizard getting started section -->
                                <div class="webpop-content-div">
                                    <h4>Getting started...</h4>
                                    The following tips are provided to help you navigate the wizard:
                                    <div style="margin-top: 10px;"></div>
                                    <ol>
                                        <li>
                                            Use the <strong><a class="wiz-showme" data-target="wiz_next_btn"
                                                               data-label="Next stage" href="#"
                                                               title="show me">Next</a></strong> button to proceed
                                            to
                                            the next
                                            stage of the wizard,
                                            and the <strong><a class="wiz-showme" data-target="wiz_prev_btn"
                                                               data-label="Previous stage" href="#"
                                                               title="show me">Prev</a></strong> button to return to
                                            a
                                            previous
                                            stage
                                        </li>
                                        <li>
                                            Use the <a class="wiz-showme" data-target="wizard-help-checkbox"
                                                       data-label="Help tips" href="#"
                                                       title="show me"><strong>help tips</strong></a> button to
                                            toggle
                                            display of help
                                            tips
                                        </li>
                                        <li>
                                            The <a class="wiz-showme" data-target="copo-documentation"
                                                   data-label="Documentation" href="#"
                                                   title="show me"><strong>documentation</strong></a> page offers a
                                            more
                                            detailed guide
                                            to sample description
                                        </li>
                                        <li>
                                            Click the <a class="wiz-showme" data-target="remove_act"
                                                         data-label="Discard description" href="#"
                                                         title="show me"><strong>discard button</strong></a> to
                                            terminate the description
                                            (and exit the wizard)

                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="step-pane" data-step="2">
                                <h4>Wrap up!</h4>
                                <p>
                                <div class="webpop-content-div">You have reached the final stage of the wizard.<br/>
                                    If you are satisfied with the entries you have made, click the
                                    <strong>Finish!</strong>
                                    button to finalise your description and terminate the wizard.<br/> You can still use
                                    the <strong>Prev</strong> button to go back and make changes.
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sample table section -->
    <div style="margin-top: 15px;">
        <!-- getting started section -->
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message"
                 style="display: none;" data-tour-id="getting_started">
                <div class="copo-webui-popover">
                    <div class="webui-popover-inner">
                        <h3 class="copo-webui-popover-title">Getting started</h3>
                        <div class="copo-webui-popover-content">
                            <div class="webpop-content-div">
                                This page relates to <strong>{{ profile.type | get_profile_type_description}}</strong> as part 
                                of the <strong>Samples</strong> component 
                                (<i id="componentIcon" class="ui icon" aria-hidden="true"></i>) of a profile. 
                                Samples represent units of biomaterial usually associated with single collection events.
                                <br><br>
                                <div>
                                    <strong>Download blank manifest</strong>: Click 
                                    <button class="circular tiny ui icon brown button no-click">
                                        <i class="icon download sign"></i>
                                    </button>
                                    above to download a blank manifest template.  
                                </div>
                                <br>
                                <div>
                                    <strong>Upload completed manifest</strong>: After having completed the manifest, click 
                                    <button id="help_add_button" class="circular tiny ui icon button no-click">
                                        <i class="icon table sign"></i>
                                     </button>
                                    above to upload it.
                                </div>
                                <br>
                                <div>
                                    <strong>Quick tour</strong>: To explore various controls on this page, click 
                                    <button class="circular tiny ui icon orange button no-click">
                                        <i class="icon lightbulb"></i>
                                    </button>
                                    above.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sample table -->
        <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
             data-copo-tour-id="sample_table"></div> <!-- div used by the quick tour agent -->
        <table id="sample_table"
               class="ui celled table hover copo-noborders-table compact nowrap"
               cellspacing="0" width="100%">
        </table>

    </div>

    <!-- sample spreadsheet modal -->
    {% include './component_sample_spreadsheet_modal.html' %}
    <!-- end sample spreadsheet modal -->
    
    <!-- csv update modal -->
    {% include './component_csv_update_modal.html' %}
    <!-- end  csv update modal -->
    
    <!-- sample images modal -->
    {% include 'copo/component_sample_images_modal.html' %}
    <!-- end sample images modal -->
{% endblock %}

{% block help_section %}

{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_sample.js' %}"></script>
    <!--script src="{% static 'copo/js/dtol_functions.js' %}"></script-->
    <script src="{% static 'copo/js/animated_ellipsis.js' %}"></script>
    <script src="{% static 'copo/js/copo_parse_spreadsheet.js' %}"></script>
    <!-- <script src="{% static 'copo/js/csv_column_updates.js' %}"></script> -->
    <script src="{% static 'copo/js/fastdom.js' %}"></script>
    <script src="{% static 'copo/js/filesaver.js' %}"></script>
    <script src="{% static 'copo/js/jszip-utils.min.js' %}"></script>
    <script src="{% static 'copo/js/jszip.min.js' %}"></script>
    <script src="{% static 'copo/datatables/js/moment.min.js' %}"></script>
    <script src="{% static 'copo/datatables/js/datetime-moment.js' %}"></script>
{% endblock %}
