.card-header a:after {
    content: "\e114";
    float: right;
    color: grey;
}

.card-header a.collapsed:after {
    content: "\e080";
}

.ena_form_validation_icon .has-feedback .form-control-feedback {
    margin-top: 10px;
}

.attr{
    margin-right:10px
}

table{
    width:100%
}
th{
    background-color:#3da9d1;
    opacity:0.8;
}
table, th {
    /*border: 1px solid rgba(75, 79, 87, 0.08);*/
    /*padding:10px;*/
    color:white;
}

#exp_info{
    border: 1px solid #DDD;
    margin:30px 10px 30px 30px;
    padding:20px;
    border-radius:20px
}

#exp_detail{
    margin:30px 20px 30px 0;
    padding:20px;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.card-header span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.file_info{
    margin-top:20px
}

.upload_input {
    width:180px !important

}

.file_status_label, .alert_success{
    margin:0 20px 0 20px;

}
.alert{
    color:black;
}

form{
    margin-bottom:20px
}

#exp_data_table {
    margin-bottom:20px
}
#exp_data_table .delete_cell {
    color:red;
    cursor:pointer;
}

.collection_type_title {
    font-size: 0.7em;
}

