.sample_attributes_div > div {
    margin: 5px;
}

hr {
    margin: 10px 0 10px 0;
}

.char_factor {
    margin: 10px 0 10px 10px;
}

.autocomplete {
    z-index: 10;
    margin-left: -170px;
    margin-top: 0
}

/*CSS for tables*/
th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.cell-no-content,
.empty_color {
    background-color: #fff3f3 !important;
}

.na_color {
    background-color: #eee;
}

/*Filter projecttypes usign checkboxes*/
.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-primary {
    --bs-alert-color: #084298;
    --bs-alert-bg: #cfe2ff;
    --bs-alert-border-color: #b6d4fe;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    /*--bs-card-border-color: var(--bs-border-color-translucent);*/
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: break-word;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

/* Filter accessions' checkboxes*/
.accession_type_info_icon {
    position: relative;
    left: 4px;
}