{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %} Barcoding Manifest {% endblock %}

{% block stylesheet_block %}

<style>
    .highlight_accession {
        background-color: #d9e8d9 !important;
    }
    .highlight_no_accession {
        background-color: #FFD700 !important;
    }
    .highlight_error_file_processing_status {
            background-color: #f88080!important;
        }          
</style>  

{% endblock %}


{% block title_block %} Barcoding Manifest {% endblock %}

{% block tagline_block %}

{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="profile_title" value="{{ profile.title }}"/>
        <input type="hidden" id="profile_type" value="{{ profile.type }}" />
        <input type="hidden" id="profile_id" value="{{ profile_id }}" />
        <input type="hidden" id="nav_component_name" value="taggedseq"/>
        <input type="hidden" id="blank_manifest_url" value="">
        {% for checklist in checklists %}
            <input type="hidden" id="blank_manifest_url_{{checklist.primary_id}}" value="{{ checklist.primary_id  | get_blank_manifest_url  }}"/>  }}"
        {% endfor %}
        <input type="hidden" id="component_subtitle" value="<select id='checklist_id' name='checklists'>{% for checklist in checklists %}<option value='{{ checklist.primary_id }}' title='{{checklist.description}}' >{{ checklist.primary_id }}: {{ checklist.name }}</option>{% endfor %}</select> "/>
    </div>

{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}

    <!--div class="row " >
        <label for="checklist_id">Select a checklist</label>
        <select id="checklist_id" name="checklists">
            {% for checklist in checklists %}
                <option value="{{ checklist.primary_id }}" title="{{checklist.description}}" >{{ checklist.primary_id }}: {{ checklist.name }}</option>
            {% endfor %}
        </select>
    </div-->
{% endblock page_tile %}


{% block content %}

    <!-- select for checklist -->


    <!-- publication entry options -->
    <div id="pub_options" class="row collapse" style="margin-bottom: 20px;">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button type="button" style="background-image:none;"
                    class="btn btn-sm btn-primary new-form-call"
                    data-component="publication">Publication Form (Manual Entry)
            </button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control input-sm resolver-data" data-resolver="doi"
                       placeholder="Enter a DOI">
                <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary resolver-submit" type="button"
                                    style="background-image:none;">Resolve</button>
                        </span>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control input-sm resolver-data" data-resolver="pmid"
                       placeholder="Enter a PubMed ID">
                <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary resolver-submit"
                                    type="button"
                                    style="background-image:none;">Resolve</button>
                        </span>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>


    <!-- getting started section -->
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            This page relates to the <strong>Barcoding manifest</strong> component 
                            (<i id="componentIcon" class="ui icon" aria-hidden="true"></i>) of a profile. 
                            Barcoding manifests (also known as <span style="font-style: italic;">targeted sequences</span>) 
                            are assembled and annotated sequences representing interesting features or gene regions.
                            <br><br>
                            <div>
                                <strong>Download blank manifest</strong>: Select the desired checklist from 
                                the dropdown menu above then, click the
                                <button class="circular tiny ui icon brown button no-click">
                                    <i class="icon download sign"></i>
                                </button>
                                button next to it to download a blank manifest.
                            </div>
                            <br>
                            <div>
                                <strong>Upload completed manifest</strong>: After having completed the manifest, 
                                choose the matching checklist option from the dropdown menu then, click the
                                <button id="help_add_button" class="circular tiny ui icon button no-click">
                                    <i class="icon table sign"></i>
                                </button>
                                button to upload it.
                            </div>
                            <!--<div>
                                <strong>Quick tour</strong>: To explore various controls on this page, click the
                                <button class="circular tiny ui icon orange button no-click">
                                    <i class="icon lightbulb"></i>
                                </button>
                                icon.
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">File upload form</h4>
            </div>
            <div class="modal-body">
                <label class="ui blue button" for="file" id="upload_label" style="width:200px">
                    <input id="file" type="file" style="display:none"/>
                          
                </label>
                <div class="ui active inline loader" id="ss_upload_spinner" style="display:none">
                    <div class="percent"></div>
                </div>
                <button class="ui green button" id="ena_finish_button" style="display:none">Finish</button>
            </div>
       
          </div>
      
        </div>
      </div>


    <!-- read_table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5" data-copo-tour-id="tagged_seq_table"></div> <!-- div used by the quick tour agent -->
    <div class="table-parent-div">
        <table id="tagged_seq_table" class="ui celled table hover copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

    <div id="data" style="display: none;"></div>


{% endblock %}

{% block help_section %}
{% endblock %}

{% block component_info %}
<div style="display:none; margin-top: 30px; " id="tagged_seq_info" class="alert alert-info"
role="alert"></div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_tagged_seq.js' %}"></script>

{% endblock %}
