{% spaceless %}
{% load static %}
{% load web_tags %}
<div class="grid">
    <div class="copo-records-card" profile_type="{{ profile.type }}" shared_profile_type="{{ profile.shared_type }}"  study_status="{{ profile.study_status | get_first_value_from_array }}" study_release_date="{{ profile.study_release_date | get_first_value_from_array }}">
        <!--Card -->
        <div class="card">
            <!--Card heading -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title card-title">
                        <span id="{{ profile.id }}" class=showEllipsisFor1TextLine>{{ profile.title }}&nbsp;</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 row-ellipsis" title="View profile options">
                      <div id="{{ profile.id }}" class="float-end ellipsisDiv">
                        <a id="ellipsisID" class="fa fa-ellipsis-v link-light" tabindex="0" data-bs-toggle="popover"
                           role="button">
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <!--Card body -->
            <div class="grid-card-body card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12"
                         style="height:fit-content;">
                        <!--Card content -->
                        <!-- Row: Profile information-->
                        <div class="profile-info-row">
                            <div class="date_createdDiv" style="display:inline; margin-bottom: 10px;" date_created="{{ profile.date_created }}"><span class="boldText">Created: </span> {{ profile.date_created }}</div>
                            <div class="boldText" style="margin-top: 10px;">Description:</div>
                            <div class="showEllipsisFor2TextLines profileDescription">{{ profile.description }}</div>
                            
                            {% if profile.study_status or profile.associated_type or profile.sequencing_centre|is_list_empty %}
                                <a id="showMoreProfileInfoBtn" class="btn {% if profile.description.strip|length < 56 %}showMoreProfileInfoBtn_margin{% elif profile.description.strip|length >= 56 %}showMoreProfileInfoBtn_2LineDescriptionText{% endif %}" 
                                  tabindex="0" data-bs-toggle="popover" role="button">View more...</a>                         
                            {% endif %}

                            <!-- Content for 'showMoreProfileInfo' popover -->
                            <div id="showMoreProfileInfoContent" class="hidden">
                                <div class="popover-arrow" style="position: absolute; top: 0px; transform: translate3d(0px, 47px, 0px);"></div>
                                <div class="popover-header"></div>
                                <div class="popover-body showMoreProfileInfoPopover-content-div">
                                    {% if profile.study_status %}
                                        <div class="studyStatusDiv" style="margin-top: 10px;">
                                            <span class="boldText">Release Status: </span> 
                                            <span id="study_status_{{profile.id}}">{{ profile.study_status | get_first_value_from_array}}</span>
                                        </div>
                                        <div style="margin-top: 10px;"><span class="boldText">Release Date: </span>    
                                            <span id="study_release_date_{{profile.id}}">{{ profile.study_release_date | get_first_value_from_array}}</span>
                                        </div>
                                    {% endif %}
                                    {% if profile.associated_type %}
                                        <div class="profile-info-label">
                                            Associated
                                            Profile Type(s):
                                        </div>
                                        <div class="associated_type_div_value ">
                                            <ul class="associated_type_ulTag">
                                                {% for element in profile.associated_type %}
                                                    <li> {{ element.value }}
                                                        <i class="fa fa-info-circle associated_type_info_icon" title="{{ element.label }}"></i>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if profile.sequencing_centre|is_list_empty %}
                                        <div class="profile-info-label">
                                            Associated Sequencing Centre(s):
                                        </div>
                                        <div class="sequencing_centre_div_value">
                                            <ul class="sequencing_centre_ulTag">
                                                {% for element in profile.sequencing_centre%}
                                                    <li> {{ element }} 
                                                        <i class="fa fa-info-circle sequencing_centre_info_icon" title="{{ element | get_sequencing_centre_label }}"></i>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                
                                </div>
                            </div>                  
                        </div>
                        <!--Card expanding menu -->
                        <!-- Row: Profile menu-->
                        <div class="{% if profile.study_status or profile.associated_type or profile.sequencing_centre|is_list_empty %}menu-row{% else %}menu-no-addtl-info-row{% endif %}">
                            <span id="expanding_menu" class="btn-group expanding_menu compact" role="group">
                                <!--div class="ui up pointing dropdown link item" tabindex="0">
                                    Actions
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <a class="item action ui divider" profile_component="all" anchor_type="all" data-action_type="release_study" style="margin: 1em 0;">Release Study</a>
                                    </div>
                                </div-->
                                <!-- <div class="ui up pointing dropdown link item" tabindex="0">
                                    Components
                                    <i class="dropdown icon"></i>
                                    <div class="menu comp" tabindex="-1"></div>
                                </div> -->
                                <div class="btn-group" role="group"></div>
                                    <button class="btn btn-light dropdown-toggle dropdown-toggle-split border-secondary-subtle bg-transparent"
                                        data-bs-toggle="dropdown" tabindex="0" type="button" aria-expanded="false">
                                        Components
                                        <!-- <i class="dropdown icon"></i> -->
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu menu comp" tabindex="-1"></ul>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}