{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}

{% block title %}Profiles{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo_profile/css/copo_profile_index.css' %}">
{% endblock %}


{% block title_block %} Profiles {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="profile"/>
        <input type="hidden" value="{ % url 'copo_sample:copo_samples' profile_id='999' %}" name="sample_url"
               id="sample_url"/>
        <input type="hidden" value="{ % url 'copo_accession:copo_accessions' profile_id='999' %}" name="accessions_url"
               id="accessions_url"/>
        <input type="hidden" value="{ % url 'copo_seq_annotation_submission:copo_seq_annotation' profile_id='999' %}" name="seqannotation_url"
               id="seqannotation_url"/>
        <input type="hidden" value="{ % url 'copo_assembly_submission:copo_assembly' profile_id='999' %}" name="assembly_url"
               id="assembly_url"/>
        <input type="hidden" value="{ % url 'copo_read_submission:copo_reads' profile_id='999' %}" name="read_url"
               id="read_url"/>
        <input type="hidden" value="{ % url 'copo_file:copo_files' profile_id='999' %}" name="files_url"
               id="files_url"/>
        <input type="hidden" value="{ % url 'copo_barcoding_submission:copo_taggedseq' profile_id='999' %}" name="taggedseq_url"
        id="taggedseq_url"/>    
        <input
        type="hidden"
        id="component_subtitle"
        value="<select id='profile_type' name='profile_type'>{% for profile_type in profile_types %}<option value='{{ profile_type.value }}' title='{{profile_type.label}}' >{{ profile_type.label }}</option>{% endfor %}</select> "
      />   
        <input type="hidden" id="copo_email" value="{{copo_email}}"/>
        <input type="hidden" id="groups" value="{{groups}}"/>
        <input type="hidden" id="profilesVisibleLength" value="{{profiles_visible_length}}"/>
        <input type="hidden" id="profilesTotal" value="{{profiles_total}}"/>
        <input type="hidden" id="profilesPerPage" value="{{profiles_per_page}}" />
    </div>

    <style>

    </style>
{% endblock browse_header_block %}

{% block page_tile %}
    <div id="global-notifications" class="row collapse">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:40px;">
            <div class="global-notifications-title">Notifications</div>
            <div class="notifications-body" style="border-bottom: 2px solid rgba(38, 38, 38, 0.4);">
                No notifications
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:70px;">
        <div class="col-sm-5 col-md-5 col-lg-9 copo-page-headers"></div>
        <div class="col-sm-7 col-md-7 col-lg-3 copo-page-icons">
            <button id="accept_reject_shortcut" style="display:none"
                    class="big circular ui icon teal button pull-right accept_reject_samples copo-tooltip"
                    title="Accept/Reject TOL Samples">
                <i class="icon tasks sign"></i>
            </button>
        </div>
    </div>
{% endblock page_tile %}

{% block content %}
    <!-- Indicate that one should scroll downwards to view more profiles -->
    <a href="javascript:void(0);" id="navigateToBottom" class="navigate-to-bottom"
       title="Scroll down to view more profiles">
        <i class="down-arrow"></i><i class="down-arrow"></i>
    </a>
    <!-- Navigate to top of web page button -->
    <a href="javascript:void(0);" id="navigateToTop" class="navigate-to-top"
       title="Navigate to top of the web page">
        <i class="up-arrow"></i><i class="up-arrow"></i>
    </a>
    <!-- getting started section -->

    <div class="row">

        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">COPO - Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            Here are a few quick steps to get you started with COPO.
                            <ol>
                                <li>
                                    <strong>COPO Profile: </strong>
                                    <p>The first step to getting work done in COPO is to create a work profile. A
                                        profile is a collection of 'research objects' or components that form part of
                                        your research project or study. Use the
                                        <button class="circular mini ui icon primary button">
                                            <i class="icon add sign"></i>
                                        </button>
                                        button on the page
                                        to create a new profile.
                                    </p>
                                </li>
                                <li>
                                    <strong>Profile Components: </strong>
                                    <p>Once you have created a work profile, you can start creating components within
                                        the profile. COPO provides templates/wizards for creating and managing different
                                        components including: Datafiles, Samples, Submission, Publications, People, and
                                        Annotations. Profile components can be created in any order.</p></li>
                                <li>
                                    <strong>Quick Tour: </strong>
                                    <p>Finally, if you've not done so already, take some time to explore the various
                                        controls available on the page. Click the
                                        <button class="circular mini ui icon orange button">
                                            <i class="icon lightbulb"></i>
                                        </button>
                                        icon on the
                                        page to activate the quick tour agent.
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="profile_table"></div>
    <!-- div used by the quick tour agent -->
    <!-- Profile tables div-->

    <!-- Sort Work Profiles button-->
    {% if profiles %}
        <div id="sortProfilesDiv" class="row">
            <div class="col-xs-2 col-md-3 col-lg-4">
                <div class="pull-right" style="padding-top: 9px;"> Sort by:</div>
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2">
                <select id="sortProfilesBtn" class="form-control" style="padding-bottom:10px">
                    <option value="date_created">Date Created</option>
                    <option value="title">Profile Title</option>
                    <option value="type">Profile Type</option>
                </select>
            </div>
            <div class="col-xs-0 col-md-0 col-lg-0">
                <div class="pull-left"><i id="sortIconID" class="sort-down fa fa-sort-down sort-icon"></i></div>

            </div>
        </div>
    {% endif %}
    <br>
    <!-- COPO profiles' grid -->
    <div id="copo_profiles_table">
        {% for profile in profiles %}
            {% include 'copo/profile/copo_profile_record.html' %}
        {% endfor %}
    </div>
    <div id="copo_shared_profiles_table">
        {% for shared_profile in shared_profiles %}
            {% include 'copo/profile/copo_shared_profile_record.html' %}
        {% endfor %}
    </div>
    <div id="bottom-panel">
        Showing:
        &nbsp;<b><span id="grid-count"></span>
        &nbsp;</b>/
        &nbsp;<b><span id="grid-total"></span></b>&ensp;profiles
    </div>
{% endblock %}

{% block help_section %}

    <!-- sidebar -->

{% endblock %}

{% block sidebar_custom_section %}
    <!-- profiles legend -->
    <div class="profiles-legend">
        <h4 class="profiles-legend-title">Profile Types Legend</h4>
        <ul class="profiles-legend-group">
        </ul>
    </div>
{% endblock sidebar_custom_section %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo_profile/js/copo_profile_index.js' %}"></script>
    {% include 'copo/profile/custom_profile_js.html' %}
{% endblock %}

 