{% load static %}
{% load web_tags %}
<div class="grid">
    <div class="copo-records-panel" profile_type="{{ profile.type }}" shared_profile_type="{{ profile.shared_type }}"  study_status="{{ profile.study_status | get_first_value_from_array }}" study_release_date="{{ profile.study_release_date | get_first_value_from_array }}">
        <!--Panel -->
        <div class="panel">
            <!--Panel heading -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                        <span id={{ profile.id }} class=showEllipsisFor1TextLine>{{ profile.title }}&nbsp;</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 row-ellipsis" title="View profile options">
                        <div id="{{ profile.id }}" class="pull-right ellipsisDiv">
                            <i id="ellipsisID" class="fa fa-ellipsis-v" data-toggle="popover"
                               data-html="true" role="button"
                               title='<i id="profileOptionsPopoverCloseBtn" class="fa fa-times pull-right"></i>'></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--Panel body -->
            <div class="grid-panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12"
                         style="height:fit-content;">
                        <!--Panel content -->
                        <!-- Row: Profile information-->
                        <div class="profile-info-row">
                            <div class="date_createdDiv" style="display:inline; margin-bottom: 10px;" date_created="{{ profile.date_created }}"><span class="boldText">Created: </span> {{ profile.date_created }}</div>
                            <div class="boldText" style="margin-top: 10px;">Description:</div>
                            <div class="showEllipsisFor2TextLines profileDescription">{{ profile.description }}</div>
                            
                            {% if profile.study_status or profile.associated_type or profile.sequencing_centre|is_list_empty %}
                                <a id="showMoreProfileInfoBtn" class="btn {% if profile.description.strip|length < 56 %}showMoreProfileInfoBtn_margin{% elif profile.description.strip|length >= 56 %}showMoreProfileInfoBtn_2LineDescriptionText{% endif %}" href="#" rel="popover"
                                    data-popover-content="#showMoreProfileInfoContent" data-placement="right">View more...</a>                         
                            {% endif %}

                            <!-- Content for 'showMoreProfileInfo' popover -->
                            <div id="showMoreProfileInfoContent" class="hidden">
                                <div class="popover-heading"></div>
                                <div class="popover-content showMoreProfileInfoPopover-content-div">
                                    {% if profile.study_status %}
                                        <div class="studyStatusDiv" style="margin-top: 10px;">
                                            <span class="boldText">Release Status: </span> 
                                            <span id="study_status_{{profile.id}}">{{ profile.study_status | get_first_value_from_array}}</span>
                                        </div>
                                        <div style="margin-top: 10px;"><span class="boldText">Release Date: </span>    
                                            <span id="study_release_date_{{profile.id}}">{{ profile.study_release_date | get_first_value_from_array}}</span>
                                        </div>
                                    {% endif %}
                                    {% if profile.associated_type %}
                                        <div class="profile-info-label">
                                            Associated
                                            Profile Type(s):
                                        </div>
                                        <div class="associated_type_div_value ">
                                            <ul class="associated_type_ulTag">
                                                {% for element in profile.associated_type %}
                                                    <li> {{ element.value }}
                                                        <i class="fa fa-info-circle associated_type_info_icon" title="{{ element.label }}"></i>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if profile.sequencing_centre|is_list_empty %}
                                        <div class="profile-info-label">
                                            Associated Sequencing Centre(s):
                                        </div>
                                        <div class="sequencing_centre_div_value">
                                            <ul class="sequencing_centre_ulTag">
                                                {% for element in profile.sequencing_centre%}
                                                    <li> {{ element }} </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                
                                </div>
                            </div>                  
                        </div>
                        <!--Panel expanding menu -->
                        <!-- Row: Profile menu-->
                        <div class="{% if profile.study_status or profile.associated_type or profile.sequencing_centre|is_list_empty %}menu-row{% else %}menu-no-addtl-info-row{% endif %}">
                            <span class="ui compact menu expanding_menu" id="expanding_menu">
                                <div class="ui up pointing dropdown link item" tabindex="0">
                                    Actions
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <a class="item action" profile_component="all" anchor_type="seq_annotation" data-action_type="seq_annotation">Submit
                                            Annotation</a>
                                        <a class="item action" profile_component="all" anchor_type="assembly" data-action_type="assembly">Submit Assembly</a>
                                        <a class="item action" profile_component="erga" anchor_type="taggedseq" data-action_type="taggedseq">Submit Barcoding
                                            Manifest</a>
                                        <a class="item action" profile_component="dtol" anchor_type="taggedseq" data-action_type="taggedseq">Submit Barcoding
                                            Manifest</a>
                                        <a class="item action" profile_component="dtol" anchor_type="sample" data-action_type="sample">Submit DTOL/ASG manifest</a>
                                        <a class="item action" profile_component="erga" anchor_type="sample" data-action_type="sample">Submit ERGA Manifest</a>                            
                                        <a class="item action" profile_component="all" anchor_type="reads" data-action_type="read">Submit Reads</a>
                                        <a class="item action" profile_component="all" anchor_type="files" data-action_type="files">Upload Files</a>
                                        <a class="item action ui divider" profile_component="all" anchor_type="all" data-action_type="release_study" style="margin: 1em 0;">Release Study</a>
                                    </div>
                                </div>
                                <div class="ui up pointing dropdown link item" tabindex="0">
                                    Components
                                    <i class="dropdown icon"></i>
                                    <div class="menu comp" tabindex="-1"></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
