{% load static %}
{% load web_tags %}
<div class="grid">
    <div class="copo-records-panel" profile_type="{{ profile.type }}" shared_profile_type="{{ profile.shared_type }}"  study_status="{{ profile.study_status | get_first_value_from_array }}" study_release_date="{{ profile.study_release_date | get_first_value_from_array }}">
        <!--Panel -->
        <div class="panel">
            <!--Panel heading -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                        <span id={{ profile.id }} class=showEllipsisFor1TextLine>{{ profile.title }}&nbsp;</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 row-ellipsis" title="View profile options">
                        <div id="{{ profile.id }}" class="pull-right ellipsisDiv">
                            <i id="ellipsisID" class="fa fa-ellipsis-v" data-toggle="popover"
                               data-html="true" role="button"
                               title='<i id="popoverCloseBtn" class="fa fa-times pull-right"></i>'></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--Panel body -->
            <div class="grid-panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12"
                         style="height:fit-content;">
                        <!--Panel content -->
                        <div class="date_createdDiv" style="display:inline; margin-bottom: 10px;" date_created="{{ profile.date_created }}"><span class="boldText">Created: </span> {{ profile.date_created }}</div>
                        
                        {% if profile.study_status %}
                            <div class="studyStatusDiv" style="margin-top: 10px;"><span class="boldText">Release Status: </span> <span id="study_status_{{profile.id}}">{{ profile.study_status | get_first_value_from_array}}</span></div>
                            <div style="margin-top: 10px;"><span class="boldText">Release Date: </span>    
                                <span id="study_release_date_{{profile.id}}">{{ profile.study_release_date | get_first_value_from_array}}</span></div>
                        {% endif %}                        
                        <div class="boldText" style="margin-top: 10px;">Description:</div>

                        {% if profile.associated_type %}
                            <div class="showEllipsisFor2TextLines associatedTypes_marginBottom profileDescription">
                                {{ profile.description }}</div>
                            <div class="associated_type_div_label" style="display: block;">
                                Associated
                                Profile Type(s):
                            </div>

                            {% if profile.study_status %}
                                <div class="associated_type_div_value {% if profile.associated_type|length == 1 %}one_associatedType_marginBottom_release {% elif profile.associated_type|length == 2 %}two_associatedTypes_marginBottom_release {% elif profile.associated_type|length == 3 %}three_associatedTypes_marginBottom_release {% else %}several_associatedTypes_marginBottom_release {% endif %}">
                                    <ul class="associated_type_ulTag">
                                        {% for element in profile.associated_type %}
                                            <li>  {{ element.value }}
                                                <i class="fa fa-info-circle associated_type_info_icon"
                                                title="{{ element.label }}"></i>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="associated_type_div_value {% if profile.associated_type|length == 1 %}one_associatedType_marginBottom {% elif profile.associated_type|length == 2 %}two_associatedTypes_marginBottom {% elif profile.associated_type|length == 3 %}three_associatedTypes_marginBottom {% else %}several_associatedTypes_marginBottom {% endif %}">
                                    <ul class="associated_type_ulTag">
                                        {% for element in profile.associated_type %}
                                            <li>  {{ element.value }}
                                                <i class="fa fa-info-circle associated_type_info_icon"
                                                title="{{ element.label }}"></i>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                        {% else %}
                            {% if profile.study_status %}
                                <div class="showEllipsisFor2TextLines profileDescription {% if profile.description.strip|length < 56 %}no_associatedTypes_marginBottom_release{% elif profile.description.strip|length >= 56 %}no_associatedTypes_marginBottom_2LineDescriptionText_release{% endif %}">
                                    {{ profile.description }}</div>
                            {% else %}     
                                <div class="showEllipsisFor2TextLines profileDescription {% if profile.description.strip|length < 56 %}no_associatedTypes_marginBottom{% elif profile.description.strip|length >= 56 %}no_associatedTypes_marginBottom_2LineDescriptionText{% endif %}">
                                    {{ profile.description }}</div>
                            {% endif %}
                        {% endif %}
                          
                        <!--Panel expanding menu -->
                        <span class="ui compact menu expanding_menu" id="expanding_menu">
                            <div class="ui up pointing dropdown link item" tabindex="0">
                                Actions
                                <i class="dropdown icon"></i>
                                <div class="menu" tabindex="-1">
                                    <a class="item action" profile_component="dtol" anchor_type="sample" data-action_type="sample">Submit DTOL/ASG manifest</a>
                                    <a class="item action" profile_component="erga" anchor_type="sample" data-action_type="sample">Submit ERGA Manifest</a>
                                    <a class="item action" profile_component="erga" anchor_type="taggedseq" data-action_type="taggedseq">Submit Barcoding Manifest</a>
                                    <a class="item action" profile_component="dtol" anchor_type="taggedseq" data-action_type="taggedseq">Submit Barcoding Manifest</a>                                    
                                    <a class="item action" profile_component="all" anchor_type="files" data-action_type="files">Upload Files</a>                                   
                                    <a class="item action" profile_component="all" anchor_type="reads" data-action_type="read">Submit Reads</a>
                                    <a class="item action" profile_component="all" anchor_type="assembly" data-action_type="assembly">Submit Assembly</a>
                                    <a class="item action" profile_component="all" anchor_type="seq_annotation" data-action_type="seq_annotation">Submit Annotation</a>

                                    <!--a class="item action" profile_component="erga" anchor_type="files" data-action_type="files">Upload Files</a>                                   
                                    <a class="item action" profile_component="erga" anchor_type="reads" data-action_type="read">Submit Reads</a>                                    
                                    <a class="item action" profile_component="stand-alone" anchor_type="assembly" data-action_type="assembly">Submit Assembly</a>
                                    <a class="item action" profile_component="stand-alone" anchor_type="seq_annotation" data-action_type="seq_annotation">Submit Annotation</a-->
                                    <a class="item action" profile_component="all" anchor_type="all" data-action_type="release_study">Release Study</a>
                                </div>
                            </div>
                            <div class="ui up pointing dropdown link item" tabindex="0">
                                Components
                                <i class="dropdown icon"></i>
                                <div class="menu comp" tabindex="-1"></div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
