th {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 1);

}

td {
    z-index: 1;
}

.confirm {
    border: 1px solid rgba(221, 221, 221, 0.95);
    border-radius: 11px;
    padding: 10px;
    width: 400px;
    margin-bottom: 20px;
}

.selected {
    background-color: #e1e1e1 !important;
}

.na_color {
    background-color: #eee;
}

.empty_color {
    background-color: #f7eded;
}

.selectable_row {
    cursor: pointer;
}

.table_viewport {
    max-height: 600px;
    overflow: scroll;
}

.tickbox {
    vertical-align: middle !important;
}

.processing_row {
    background-color: rgba(0, 52, 255, 0.16);
}

.table_viewport {
    padding-left: 20px
}

.selected_row {
    background-color: #fff3ce !important;
}

.filter_margin {
    margin-top: 46px
}

.fieldID:hover {
    color: #4183c4;
    text-decoration: underline;
}

canvas {
    width: 100%;
    object-fit: contain;
}

/*CSS for ToL inspection card*/
.profile_titles_table_component_loader,
.sample_table_component_loader {
    display: flex;
    justify-content: center;
}

.huge_loader:after,
.huge_loader:before {
    width: 4.14285714rem;
    height: 4.14285714rem;
    margin: 0 0 0 -2.07142857rem
}

.huge_loader {
    width: 4.14285714rem;
    height: 4.14285714rem;
    font-size: 1.42857143em
}

#current_sample_profile {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 1.5em; /*1.5em x 1 = 1.5em*/ /* fallback */
    color: #344767;
    font-weight: bold;
}