/* Banner */
.frontpage-logo {
  margin-left: 12px;
  padding: 2px 2px 4px 2px;
}

#copoGlobalNav {
  height: 55px;
  min-height: 10px;
  max-height: 180px;
}

#copoGlobalNav .global-warning-banner,
#frontpageNav .global-warning-banner {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#copoGlobalNav .global-warning-banner h1,
#frontpageNav .global-warning-banner h1 {
  color: red;
  text-decoration: none;
  min-height: 1rem;
  line-height: 1.1 !important;
  font-family: revert;
  font-family: 'Open Sans', sans-serif !important;
}

#copoGlobalNav .global-warning-banner h1 {
  font-weight: 500 !important;
  font-size: 2em !important;
}

#frontpageNav .global-warning-banner h1 {
  margin-top: 8px;
  padding: revert !important;
  font-weight: 700 !important;
  font-size: 1.8em !important;
}

#copoGlobalNav .global-warning-banner p,
#frontpageNav.global-warning-banner p {
  text-decoration: none;
  font-size: 16px;
}

.top-banner-light,
.top-banner-dark {
  font-size: 4em;
  font-weight: bold;
  padding: 20px 7px 7px 50px;
}

.top-banner-light {
  background-color: #eaf0f0 !important;
  color: #414141 !important;

}

.top-banner-dark {
  background-color: rgba(65, 65, 65, 1) !important;
  color: #eaf0f0 !important;
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.margin-top-neg-8 {
  margin-top: -8px !important;
}

.margin-top-neg-12 {
  margin-top: -12px !important;
}

@media (max-width: 1512px) {
  #frontpageNav.has-margin-top-neg-12 {
    height: 85px;
  }

  #frontpageNav.has-margin-top-neg-12 .global-warning-banner {
    width: 80px;
    padding-bottom: 5px;
  }
}

@media (max-width: 1471px) {
  #copoGlobalNav.has-margin-top-neg-12 .global-warning-banner {
    padding-top: 12px;
  }
  #copoGlobalNav.has-margin-top-neg-12 {
    height: 85px;
  }
}

@media (max-width: 1452px) {
  #copoGlobalNav.has-margin-top-neg-12 {
    height: 80px;
  }
  .has-banner .copo-sidebar {
    top: 100px;
  }
}

@media (max-width: 1113px) {
  #frontpageNav.has-margin-top-neg-12 .global-warning-banner > h1,
  #copoGlobalNav.has-margin-top-neg-12 .global-warning-banner > h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines */
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 790px) {
  /* Hide on small screens */
  #frontpageNav .global-warning-banner {
    display: none;
  }
  #frontpageNav.has-margin-top-neg-12 {
    height: 59px;
  }
}

@media (max-width: 768px) {
  /* Hide on small screens */
  #copoGlobalNav .global-warning-banner {
    display: none;
  }

  .container-fluid.display-flex {
    display: block !important;
  }

  #copoGlobalNav.has-margin-top-neg-12 {
    height: 55px;
  }
}
