/* Banner */
.frontpage-logo {
  margin-left: 12px;
  padding: 2px 2px 4px 2px;
}

#frontpage-navbar-inner {
  font-size: 8px;
  float: right !important;
  /*Align top navbar to the right of the web page*/
  padding-left: 20px;
}

#frontpage-navbar-outer {
  height: 59px;
  min-height: 10px;
  max-height: 180px;
}

#copo-global-nav {
  height: 55px;
  min-height: 10px;
  max-height: 180px;
}

#copo-global-nav .global-warning-banner,
#frontpage-navbar-outer .global-warning-banner {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#copo-global-nav .global-warning-banner h1,
#frontpage-navbar-outer .global-warning-banner h1 {
  color: red;
  text-decoration: none;
  min-height: 1rem;
  line-height: 1.1 !important;
  font-family: revert;
  font-family: 'Open Sans', sans-serif !important;
}

#copo-global-nav .global-warning-banner h1 {
  font-weight: 500 !important;
  font-size: 2em !important;
}

#frontpage-navbar-outer .global-warning-banner h1 {
  margin-top: 8px;
  padding: revert !important;
  font-weight: 700 !important;
  font-size: 1.8em !important;
}

#copo-global-nav .global-warning-banner p,
#frontpage-navbar-outer.global-warning-banner p {
  text-decoration: none;
  font-size: 16px;
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.margin-top-neg-8 {
  margin-top: -8px !important;
}

.margin-top-neg-12 {
  margin-top: -12px !important;
}

@media (max-width: 768px) {
  /* Hide on small screens */
  #copo-global-nav .global-warning-banner,
  #frontpage-navbar-outer .global-warning-banner {
    display: none;
  }
}

@media (max-width: 856px) {
  #copo-global-nav.has-margin-top-neg-12 {
    height: 160px;
  }

  .has-banner .copo-main {
    top: 160px;
  }

  .has-banner .copo-sidebar {
    top: 160px;
  }
}

@media (max-width: 860px) {
  #frontpage-navbar-outer.has-margin-top-neg-12 {
    height: 140px;
  }
}

@media (max-width: 1451px) {
  #copo-global-nav.has-margin-top-neg-12 {
    height: 110px;
  }

  .has-banner .copo-main {
    top: 120px;
  }

  .has-banner .copo-sidebar {
    top: 110px;
  }
}

@media (max-width: 1497px) {
  #frontpage-navbar-outer.has-margin-top-neg-12 {
    height: 100px;
  }
}
