/* Authenticated top navigation bar */
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none !important;
}

.navbar-custom-items {
  color: #fff !important;
}

#authNavbar {
  background-color: rgba(255, 255, 255, 0.95) !important;
  height: 55px;
  min-height: 10px;
  max-height: 180px;
  background: transparent;
  border-bottom-color: rgba(38, 38, 38, 0.95);
  border-bottom-width: thin;
  margin-bottom: 0 !important;
}

#authNavbar .navbar-nav > li + li {
  margin-left: 5px;
}

#authNavbar .navbar-nav .dropdown-menu > li + li {
  margin-top: 5px;
}

#authNavbar .navbar-nav > li > a .caret {
  margin-left: 5px;
}

#authNavbar .navbar-nav > li.dropdown:last-child {
  margin-right: 10px;
}

#authNavbar .navbar-brand {
  color: rgba(119, 119, 119, 1);
}

#authNavbar .navbar-header .navbar-brand img {
  height: 45px;
  margin-left: 12px;
}

#authNavbar .navbar-nav > li > a {
  color: black;
  background: transparent;
}

#authNavbar .navbar-nav > li,
#authNavbar .navbar-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 1;
  padding: 0 5px;
}

/* Default icon style */
#authNavbar .navbar-nav > li > a i {
  font-size: 16px;
  padding: 4px;
  display: inline-block;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
}

/* Hover/focus/active for icon */
#authNavbar .navbar-nav > li > a i:hover,
#authNavbar .navbar-nav > li > a i:focus,
#authNavbar .navbar-nav > .active > a i:hover,
#authNavbar .navbar-nav > .active > a i:focus,
#authNavbar .navbar-nav > .active > a i {
  color: white;
  background-color: black;
}

#authNavbar .navbar-nav .dropdown-menu li > a:hover,
#authNavbar .navbar-nav.dropdown-menu li > a:focus,
#authNavbar .navbar-nav.dropdown-submenu:hover > a {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#authNavbar .dropdown-menu {
  background-color: white !important;
}

#authNavbar .dropdown-menu > li > a:focus,
#authNavbar .dropdown-menu > li > a:hover {
  background-color: black !important;
  text-decoration: none;
  color: white !important;
}

#authNavbar .dropdown-menu > li > a {
  font-weight: bold;
  color: black !important;
}

/* Nav bar dropdown icon */
#authNavbar .nav .dropdown-toggle {
  display: inline-flex;
  align-items: center;
}

#authNavbar .nav .dropdown-toggle i {
  display: inline-block;
}

#authNavbar .nav .dropdown-toggle span {
  display: inline-flex;
  align-items: center;
}

#authNavbar .nav .dropdown-toggle span .caret,
#authNavbar .nav .dropdown-toggle .caret {
  display: inline-block;
}

.navbar-nav.active .dropdown-toggle span .caret,
.navbar-nav.active .dropdown-toggle .caret {
  color: white !important;
  border-top-color: white !important;
  border-bottom-color: white !important;
}

/* Navbar toggle button */
#publicNavbar .navbar-toggle,
#authNavbar .navbar-toggle {
  border-color: black;
}

#publicNavbar .navbar-toggle {
  margin-right: 25px;
}

#publicNavbar .navbar-toggle:hover,
#publicNavbar .navbar-toggle:focus,
#authNavbar .navbar-toggle:hover,
#authNavbar .navbar-toggle:focus {
  background-color: black;
}

#publicNavbar .navbar-toggle:hover .icon-bar,
#publicNavbar .navbar-toggle:focus .icon-bar,
#authNavbar .navbar-toggle:hover .icon-bar,
#authNavbar .navbar-toggle:focus .icon-bar {
  background-color: white;
}

#publicNavbar .navbar-toggle .icon-bar,
#authNavbar .navbar-toggle .icon-bar {
  background-color: black;
}

/* Authenticated top navigation bar - Inverse top navigation bar */
#authNavbar .navbar-inverse .dropdown-menu {
  background-color: #101010 !important;
}

#authNavbar .navbar-inverse .dropdown-menu > li > a:focus,
#authNavbar .navbar-inverse .dropdown-menu > li > a:hover {
  background-color: #d9d9d9 !important;
  text-decoration: none;
  color: #0a0a0a !important;
}

#authNavbar .navbar-inverse .dropdown-menu > li > a {
  font-weight: bold;
  color: white !important;
  font-size: 14px !important;
}

#authNavbar .navbar-inverse .navbar-brand {
  color: rgba(119, 119, 119, 1);
}

#authNavbar .navbar-inverse {
  background: transparent;
  border-bottom-color: rgba(38, 38, 38, 0.95);
  border-bottom-width: thin;
}

#authNavbar .navbar-inverse .navbar-nav > li > a {
  color: black;
  background: transparent;
  height: 50px !important;
}

#authNavbar .navbar-inverse .navbar-nav > li > a:hover,
#authNavbar .navbar-inverse .navbar-nav > li > a:focus {
  color: #d1b37f;
  background-color: rgba(0, 0, 0, 0.4);
}

#authNavbar .navbar-inverse .navbar-nav > .active > a,
#authNavbar .navbar-inverse .navbar-nav > .active > a:hover,
#authNavbar .navbar-inverse .navbar-nav > .active > a:focus {
  color: rgba(85, 85, 85, 1);
  background-color: transparent;
}

#authNavbar .navbar-inverse .navbar-nav .dropdown-menu li > a:hover,
#authNavbar .navbar-inverse .navbar-nav .dropdown-menu li > a:focus,
#authNavbar .navbar-inverse .navbar-nav .dropdown-submenu:hover > a {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#authNavbar .navbar-inverse .navbar-toggle:hover,
#authNavbar .navbar-inverse .navbar-toggle:focus,
#authNavbar .navbar-inverse .navbar-toggle:hover .icon-bar,
#authNavbar .navbar-inverse .navbar-toggle:focus .icon-bar,
#authNavbar .navbar-inverse .navbar-toggle .icon-bar {
  background-color: transparent;
}
/* End authenticated top navigation bar */

/* Public top navigation bar */
#publicNavbar {
  height: 59px;
  min-height: 10px;
  max-height: 180px;
  border-bottom-color: rgba(38, 38, 38, 0.95) !important;
  border-bottom-width: thin !important;
  margin-bottom: 0 !important;
}

#publicNavbar .navbar-header .navbar-brand img {
  height: 45px;
  margin-left: 12px;
  padding: 2px;
}

/* Nav bar toggle button */
#publicNavbar .navbar-nav.active li {
  text-align: center;
}

#publicNavbar .navbar-nav.active > .active > a {
  background-color: #ffffff !important;
  color: #080808 !important;
}

#publicNavbar .navbar-nav.active > .active > a:hover,
#publicNavbar .navbar-nav.active > .active > a:focus {
  background-color: #f0f0f0 !important;
}

#publicNavbar .navbar-nav.active > :not(.active) > a {
  color: #ffffff !important;
}

#publicNavbar .navbar-nav.active > :not(.active) > a:hover,
#publicNavbar .navbar-nav.active > :not(.active) > a:focus {
  background-color: #ffffff !important;
  color: #080808 !important;
}

#publicNavbar .nav {
  padding-right: 45px;
  font-size: 8px;
  float: right !important;
  padding-left: 20px;
}

#publicNavbar .nav.active {
  width: 260px;
}

#publicNavbar .nav.active .dropdown-menu {
  border: black solid;
}

#publicNavbar .nav li a {
  background-color: transparent !important;
  color: black !important;
  font-size: 2em;
  font-weight: bold;
  margin: 15px 15px 0 5px; /*10px 5px 0 5px;*/
}

#publicNavbar .navbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  line-height: 20px !important;
}

#publicNavbar .dropdown-menu {
  padding: 5px 0 !important;
  min-width: 160px !important;
  text-align: right;
  background-color: white !important;
}

#publicNavbar .dropdown-menu > li > a:focus,
#publicNavbar .dropdown-menu > li > a:hover {
  background-color: black !important;
  text-decoration: none;
  color: white !important;
}

#publicNavbar .dropdown-menu > li > a {
  font-weight: bold;
  color: black !important;
  font-size: 14px !important;
  text-align: left;
}

/* Public top navigation bar - Inverse top navigation bar */
#publicNavbar .navbar-inverse .dropdown-menu {
  background-color: #101010 !important;
}

#publicNavbar .navbar-inverse .dropdown-menu > li > a:focus,
#publicNavbar .navbar-inverse .dropdown-menu > li > a:hover {
  background-color: #d9d9d9 !important;
  text-decoration: none;
  color: #0a0a0a !important;
}

#publicNavbar .navbar-inverse .dropdown-menu > li > a {
  font-weight: bold;
  color: white !important;
  font-size: 14px !important;
  text-align: left;
}

#publicNavbar .navbar-inverse .nav li a {
  background-color: transparent !important;
  color: white !important;
  font-size: 2em;
  font-weight: bold;
  margin: 15px 15px 0 5px; /*10px 5px 0 5px;*/
}

#publicNavbar .navbar-inverse .navbar-nav > .active > a,
#publicNavbar .navbar-inverse .navbar-nav > .active > a:hover,
#publicNavbar .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #ffffff !important;
  color: #080808 !important;
}

#publicNavbar .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #eaf0f0 !important;
  color: #080808 !important;
}
/* End public top navigation bar */

/* Media queries */
@media (min-width: 768px) {
  .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
  }
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    background-color: black;
    padding: 10px 0;
    width: 180px;
    z-index: 999;
    border-radius: 0 0 5px 5px;
  }

  .navbar-nav.active {
    display: flex;
  }
  .navbar-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .navbar-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white !important;
    text-decoration: none;
  }

  /* Icon spacing */
  .navbar-nav li a i {
    margin-left: 8px;
    min-width: 20px;
    text-align: center;
  }

  .navbar-nav li a span.icon_text {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    margin-left: 5px;
  }

  .navbar-nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
