/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/*=======================================
    GENERAL STYLES
==================================================*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 80px;
    font-weight: 900;
    font-size: 60px;
    padding: 30px 20px 10px 20px;
}

h2 {
    line-height: 40px;
    font-weight: 900;
    font-size: 30px;
    padding: 0 20px 10px 0;
    margin-top: 5px;
}

h3 {
    line-height: 30px;
}

hr {
    border-top: 1px solid #444;
}

.org_img {
    width: 250px
}

.p_position {
    color: #838181FF;
    font-weight: bold;
}

.person .p_orcid img {
    width: 24px;
    height: 24px;
}

.p_orcid a{
    color: mediumblue;
}

.header_font_weight{
    font-weight: 900;
}

#former_members_contributors_ul li {
    color: #1a1c1a;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.421;
    margin-bottom: .5rem;
}

#former_members_contributors_ul li a{
    color: mediumblue;
}

a {
    color: slategrey;
}

a:hover {
    color: slategrey;
}

a:visited {
    color: slategrey;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: white;
}

#footer a:visited {
    color: white;
}

.white {
    color: white;
}

p {
    font-weight: 300;
    line-height: 30px;

}

.space-free {
    height: 100px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*=======================================
    sections
==================================================*/
.color-green {
    /*background-image: url('../img/wheat.jpg');*/
    background-color: rgba(179, 151, 89, 0.4);
    color: white
}

.color-background {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.color-white {
    background-color: #fff !important;
}

.person {
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.person img {
    width: 100%;
    padding: 3px;
}

.organisation {
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.organisation img {
    width: 100%;
    padding: 3px;
}

.o_img {
    line-height: 125px;
    vertical-align: middle;
}

.o_bio {
    text-align: justify;
    text-justify: inter-word;
}

.p_bio {
    text-align: justify;
    text-justify: inter-word;
}

.color-dark {
    background-color: #696969 !important;
}

.color-light {
    background-color: #E9E9E9 !important;
}

.author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #93d242;
    font-size: 0.8em !important;
}

.ArticleCopy {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.ArticleCopy blockquote {
    font-size: 1.8em !important;
    border-radius: 3px;
    position: relative;
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 60%;
    color: rgba(65, 65, 65, 1);
    margin: 1rem auto 2rem;
    background: rgba(65, 65, 65, 1);;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #444;
}

.ArticleCopy blockquote::before {
    content: "\201C";
    margin-right: 13px;
    right: 100%;
    top: -20px !important;
}

.ArticleCopy blockquote::after {
    content: "\201E";
    margin-left: 13px;
    left: 100%;
    top: auto !important;
    bottom: -20px;
}

.ArticleCopy blockquote::before, .ArticleCopy blockquote::after {
    position: absolute;
    top: 13px;
    color: #444;
    font-size: 34px;
}

/*=======================================
    HEADER STYLES
==================================================*/
.head-main {
    font-size: 80px !important;
    font-weight: 900 !important;
    color: #fff !important;
    padding: 150px 20px 10px 20px;
}

.head-sub-main {
    padding: 30px 30px 30px 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin-bottom: 20px;
}

.head-sub-main h2 {
    font-size: 60px !important;
    font-weight: 600 !important;
    color: white !important;
}

.head-sub-main p {
    font-size: 28px !important;
    font-weight: 100 !important;
    color: white !important;
    text-align: justify;
    text-justify: inter-word;
    line-height: 120%;
}

/*=======================================
    NAVIGATION STYLES
==================================================*/
.fixed {
    position: fixed;
    top: 0;
    min-height: 50px;
    z-index: 99;
}

#frontpage-navbar {
    font-size: 8px;
    /*float: right !important;
    padding-left: 20px; */
    /* background-color: rgba(255, 255, 255, 0.95) !important;
    height: 10px !important;
    min-height: 59px; */
    height: 10px !important;
    min-height: 59px;
}

.nav {
    padding-right: 45px;
}
.nav>li>a {
    padding: 0 12px !important;
}

/*nav li {*/
/*    padding-top: 15px*/
/*}*/

/* .nav a {
    color: white !important;
    font-weight: bold;
} */

.navbar {
    min-height: 55px;
}

.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 20px !important;
}

/*.navbar-brand {
    font-size: 30px;
    padding-left: 45px
}*/

.container-fluid a {
    color: #ffffff !important;
    padding-right: 50px;
    padding-top: 10px
}

.navbar-light {
    border-bottom-color: rgba(38, 38, 38, 0.95)!important;
    border-bottom-width: thin!important;
}

.navbar-light .nav li a {
    background-color: transparent !important;
    color: black !important;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 5px 0 5px;
}

.navbar-light .navbar-nav>.active>a,
.navbar-light .navbar-nav>.active>a:hover,
.navbar-light .navbar-nav>.active>a:focus {
    background-color: #080808 !important;
    color: #FFFFFF !important;
}

.navbar-light .navbar-nav>li>a:hover {
    background-color: #080808 !important;
    color: #FFFFFF !important;
}

/*.navbar-dark {
    !*background-color: rgba(107, 186, 80, 0);*!
    background-color: #222;
    border-color: white;
    min-height: 80px;
    padding-top: 0;
   font-size: 20px;
   padding-bottom: 0;
}*/

.navbar-dark .navbar-nav > .active > a, 
.navbar-dark .navbar-nav > .active > a:hover, 
.navbar-dark .navbar-nav > .active > a:focus {
    background-color: #FFFFFF !important;
    color: #080808 !important;
}

.navbar-dark .navbar-nav > li > a:hover {
    background-color: #eaf0f0 !important;
    color: #080808 !important;
}

.navbar-dark .nav li a {
    background-color: transparent !important;
    color: white !important;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 5px 0 5px;
}

.dropdown-menu {
    padding: 5px 0 !important;
    min-width: 160px !important;
    font-size: 14px;
    text-align: left;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    margin: 2px 0 0;
    /* background-color: #101010 !important; */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-light .dropdown-menu {
    background-color: white !important;
}

.navbar-light .dropdown-menu>li>a:focus,
.navbar-light .dropdown-menu>li>a:hover {
    background-color: black!important;
    text-decoration: none;
    color: white !important;
}

.navbar-light .dropdown-menu>li>a {
    font-weight: bold;
    color: black !important;
    font-size: 14px !important;
}

.navbar-dark .dropdown-menu {
    background-color: #101010 !important;
}

.navbar-dark .dropdown-menu > li > a:focus, 
.navbar-dark .dropdown-menu > li > a:hover {
    background-color: #d9d9d9 !important;
    text-decoration: none;
    color: #0a0a0a !important;
}

.navbar-dark .dropdown-menu > li > a {
    font-weight: bold;
    color: white !important;
    font-size: 14px !important;
}

/*=======================================
    WORK FLOW STYLES
=========================================*/

.work-div {
    width: 100%;
    border: 0;
    padding: 20px;
    margin-bottom: 30px;
}

/*=======================================
    CONTACT STYLES
==========================================*/

#social-icon a {
    color: #616161 !important;
    margin-right: 10px;
}

.contact-cls {
    font-size: 20px;
    line-height: 40px;
}

.cnt {
    width: 100%;
    min-height: 350px;
    border: 1px solid #e1e1e1;
}

/*=======================================
    FOOTER STYLES
==================================================*/
.footer {
    background-color: #cdcdcd;
    min-height: 105px;
}

/* Adjust the footer margin top on the about page */
/* Media queries */
@media (max-width: 2144px) {
    .footer {
        margin-top: 7px;
    }
}

@media (max-width: 1920px) {
    .footer {
        margin-top: -20px;
    }
}

.header-img {
    width: 300px;
    padding-top: 0;
}

.carousel {
    z-index: -99;

}

/* keeps this behind all content */
.carousel .carousel-item {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}

.carousel .one {
    background: url(../img/img1.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .two {
    background: url(../img/img2.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .three {
    background: url(../img/img3.jpg);
    background-size: cover;
    -moz-background-size: cover;
}

.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.sub-head {
    color: white;
    font-size: 56px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 100px;
    margin-bottom: 0px;
}

.subsub-head {
    color: black;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 0px;
}

#redirectbtn {
    opacity: 0.8;
    background-color: #fff;
}

#redirectbtn:over {
    opacity: 1;
}

#carousel_text {
    text-align: center;

}

.project-para {
    color: #444;
    text-align: center;
}

#about {
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.info-card {
    position: relative;
    z-index: 2;
    overflow: hidden;
    min-height: 260px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.info-card i {
    color: #444;
}

.info-card-header {
    text-align: center;
    padding-bottom: 12px;
}

.info-card .icon-text {
    line-height: 40px;
    font-weight: 900;
    font-size: 30px;
    margin-top: 5px;
}

.border-right {
    border-right: 1px solid lightgrey;
}

.border-left {
    border-left: 1px solid lightgrey;
}

#info-wrap {
    position: relative;
}

#pub-panel-inner:after {
    content: "\f02d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 200px;
    color: #DDD;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -100px;
    z-index: -1;
}

#cit-panel-inner:after {
    content: "\f079";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 200px;
    color: #DDD;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -100px;
    z-index: -1;
}

#auto-panel-inner:after {
    content: "\f0d0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 200px;
    color: #DDD;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -100px;
    z-index: -1;
}


#content-section {
    min-height: 300px;
}

.news-item {
    color: black;
    min-height: 200px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);

}

.news-item-text {
    padding-left: 30px
}

 /*.news-item-text a {
       color: indianred;
        font-weight: bold;
        font-size: larger; 
}*/

/* stupid tiny window */
@media only screen and (min-width: 320px) {
    .header-img {
        width: 280px;
    }

    .sub-head {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .subsub-head {
        font-size: 18px;
        margin-bottom: 0px;
    }

    #about .info-card {
        min-height: 100%;
    }

    .info-card .icon-text {
        line-height: 26px;
        font-size: 24px;
        margin-top: 0px;
    }

    .person img {
        width: 60%;
    }

    .organisation img {
        width: 60%;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .header-img {
        width: 400px;
    }

    .sub-head {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .subsub-head {
        font-size: 20px;
        margin-bottom: 20px;
    }

    #about {
        padding-bottom: 0px;

    }

    #about [class^=col-] {
        margin-bottom: 20px;
    }

    #about .info-card {
        min-height: 100%;
    }

    .info-card .icon-text {
        line-height: 30px;
        font-size: 26px;
        margin-top: 2px;
    }

    .person img {
        width: 40%;
    }

    .organisation img {
        width: 60%;
    }

    #auto-panel-inner:after {
        content: "\f0d0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -70px;
        z-index: -1;
    }

    #pub-panel-inner:after {
        content: "\f02d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -70px;
        z-index: -1;
    }

    #cit-panel-inner:after {
        content: "\f079";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -70px;
        z-index: -1;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .header-img {
        width: 600px;
    }

    .sub-head {
        font-size: 38px;
        margin-bottom: 0px;
    }

    .sub-head {
        font-size: 30px;
        margin-bottom: 0px;
    }

    #about .info-card {
        min-height: 100%;
    }

    #about [class^=col-] {
        margin-bottom: 20px;
    }

    .info-card .icon-text {
        line-height: 36px;
        font-size: 34px;
        margin-top: 6px;
    }

    .person img {
        width: 100%;
    }

    .organisation img {
        width: 100%;
    }

    #auto-panel-inner:after {
        content: "\f0d0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -65px 0 0 -70px;
        z-index: -1;
    }

    #pub-panel-inner:after {
        content: "\f02d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -65px 0 0 -70px;
        z-index: -1;
    }

    #cit-panel-inner:after {
        content: "\f079";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -70px;
        z-index: -1;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .header-img {
        width: 800px;
    }

    .sub-head {
        font-size: 40px;
        margin-bottom: 0px;
    }

    .subsub-head {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .info-card .icon-text {
        line-height: 32px;
        font-size: 21px;
        margin-top: 5px;
    }

    .person img {
        width: 100%;
    }

    .organisation img {
        width: 100%;
    }

    #auto-panel-inner:after {
        content: "\f0d0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -190px 0 0 -70px;
        z-index: -1;
    }

    #pub-panel-inner:after {
        content: "\f02d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -190px 0 0 -70px;
        z-index: -1;
    }

    #cit-panel-inner:after {
        content: "\f079";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 140px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -190px 0 0 -70px;
        z-index: -1;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .header-img {
        width: 900px;
    }

    .sub-head {
        font-size: 56px;
        margin-bottom: 0px;
    }

    .subsub-head {
        font-size: 30px;
        margin-bottom: 80px;
    }

    .info-card .icon-text {
        line-height: 36px;
        font-size: 28px;
        margin-top: 6px;
    }

    .person img {
        width: 100%;
    }

    .organisation img {
        width: 100%;
    }

    #auto-panel-inner:after {
        content: "\f0d0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 200px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -115px 0 0 -100px;
        z-index: -1;
    }

    #pub-panel-inner:after {
        content: "\f02d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 200px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -115px 0 0 -100px;
        z-index: -1;
    }

    #cit-panel-inner:after {
        content: "\f079";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 220px;
        color: #DDD;
        top: 50%;
        left: 50%;
        margin: -138px 0 0 -120px;
        z-index: -1;
    }
}


