<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Collaborative OPen Omics (COPO) project team">
    <meta name="description" content="{% block meta_description %}COPO supports members of the life sciences community in brokering, managing, and submitting omics data and metadata to public repositories.{% endblock %}">
    <title>{% block title %}{% endblock %} | COPO</title>

    <!-- Loader overlay style: displays full-page spinner while the page is loading -->
    <link rel="stylesheet" href="{% static 'copo/css/loader.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'copo/bootstrap/css/bootstrap-3.3.7.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/menu.css' %}">

    <link rel="shortcut icon" href="{% static 'assets/img/dna_orange.png' %}"/>

    <!-- Google Fonts -->
    <link href="{% static 'copo/google/css/google-fonts.css' %}" rel="stylesheet" type="text/css">

    <!-- Additional stylesheets -->
    <link rel="stylesheet" href="{% static 'copo/css/smart_table.css' %}">


    {% block stylesheet_block %}{% endblock %}

    <!-- Displays a spinner overlay until the page fully loads -->
    <script defer src="{% static 'copo/js/loader.js' %}"></script>
    <script src="{% static 'copo/jquery/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'copo/jquery/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'copo/js/serialize_form_json.js' %}"></script>
    <script src="{% static 'copo/bootstrap/js/bootstrap-3.3.7.js' %}"></script>
    <!-- Additional javascripts -->
    {% block js_block %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            background-image: url("{% static 'assets/img/wheat.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
{% block loader_overlay %}
<!-- Full-page loading overlay -->
<div id="loaderOverlay">
    <div class="copo-i-loader"></div>
</div>
{% endblock loader_overlay %}

{% block image_div %}
<div class="text-center" style="padding:50px">
    <img src="{% static 'assets/img/COPO-logo-full-CMYK-white.png' %}" height="200px">
</div>
{% endblock image_div%}

{% block content %}If you see this there is something wrong with the templates - you probably didn't overwrite the
    content block{% endblock %}

</body>
</html>