<style>
    #cookieModalHeader {
        background-color: #5bc0de;
    }

    #cookieModalTitle {
        color: white;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    #cookieModalBody {
        font-size: 18px;
    }

    #emailModalHeader{
        background-color: #f0ad4e;
    }

    #emailModalTitle {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    }

    #acceptCookies,
    #rejectCookies {
        font-size: 16px;
    }
</style>

<!-- Cookie modal -->
<div id="cookieModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="cookieModalHeader" class="modal-header">
                <h5 id="cookieModalTitle" class="modal-title">Privacy & Transparency</h5>
            </div>
            <div id="cookieModalBody" class="modal-body">
                <p>This website requires cookies, fonts and the limited processing of your personal data 
                    in order to function.
                </p>
                <p>By using our website, you acknowledge that you have read and understood this as outlined in our
                    <a style="text-decoration: underline;" href="/about/privacy_notice">Privacy Notice</a> and
                    <a style="text-decoration: underline;" href="/about/terms_of_use">Terms of Use</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button id="rejectCookies" type="button" class="btn btn-secondary" data-dismiss="modal">I
                    decline, redirect to homepage</button>
                <button id="acceptCookies" type="button" class="btn btn-primary" data-dismiss="modal">I agree, dismiss
                    this dialog</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Cookie modal -->

<!-- Email modal -->
<div id="emailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="emailModalHeader" class="modal-header">
                <h5 id="emailModalTitle" class="modal-title">Add Email Address</h5>
            </div>
            <div id="emailModalBody" class="modal-body">
                <div style="margin-bottom: 10px;"><b>An email address is required for your user account</b></div>
                <input id="emaddres" type="text" class="form-control" placeholder="Enter email address">
                <br/>

                <p style="margin-bottom: 10px; padding-bottom: 15px;">
                    If you would like to make manifest submissions to an ASG, ERGA or DToL manifest group 
                </p>
                
                <p style="margin-top:10px">Please contact <a style="text-decoration: underline;" href="mailto:{{copo_email}}"> {{copo_email}}</a> in order to be added to the profile type group. We will grant you the permission to select the desired group, create a profile for the group and subsequently upload a manifest to the group.</p>

                <p style="margin-top:30px" for="gdpr_check">Please check the following box if you consent to your identifiable information being stored in COPO. The information will be submitted to public repositories and will be a part of the public record. See our <a style="text-decoration: underline;" href="/about/privacy_notice">Privacy Notice</a> for more details.</p>

                <br/>
                <input class="form-check-input" type="checkbox" value="" id="gdpr_check">
                <label class="form-check-label" for="gdpr_check">&ensp; I Agree</label>
            </div>

            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-custom3" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Email modal -->
 
<script>
    $(document).ready(function () {
        // Disable 'I agree' button in 'Add Emaill Address' modal if GDPR checkbox is not checked
        $(document).on("change", "#gdpr_check", function (e) {
            if ($("#gdpr_check").is(":checked")) {
                $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", false)
            } else {
                $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", true)
            }
        });

        $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", true);

        // Show cookie consent modal if cookies have not been accepted yet or if cookies are rejected
        if (getCookie('cookiesAccepted') === null || getCookie('cookiesAccepted').toLowerCase() === 'null'  || getCookie('cookiesAccepted') === 'false') {
            $('#cookieModal').modal({ backdrop: 'static', keyboard: false }, 'show');
        }

        // Handle cookie consent choices
        $('#acceptCookies').on('click', function () {
            setCookie('cookiesAccepted', 'true', 365);
            recordCookieResponse(true);
        });

        $('#rejectCookies').on('click', function () {
            setCookie('cookiesAccepted', 'false', 365);
            recordCookieResponse(false);
            document.location = '/'; // Redirect to homepage
        });

        // Check if user email address has been provided
        isUserEmailAddressProvided();
    });

    // Cookie consent functions
    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            let date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/; SameSite=None; Secure";
    }

    function getCookie(name) {
        let nameEQ = name + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function recordCookieResponse(is_accepted) {
        $.ajax({
            headers: { 'X-CSRFToken': $.cookie('csrftoken') },
            url: '/cookie_response/',
            method: 'POST',
            data: {
                cookie_response: is_accepted
            },
        }).done(function () {
            isUserEmailAddressProvided();
         })
            .fail(function (e) {
                // console.log(e); // Cookies have been rejected
            });
    }
    // End of cookie consent functions

    function do_email_form() {
        let component = "";
        let copoFormsURL = "/copo/copo_forms/";

        let message = "<b>An email address is required for your user account</b>";
        let errMessage = "Please enter a valid email address!";

        let $content = '<div>';
        $content += '<div style="margin-bottom: 10px;">' + message + '</div>';
        $content += '<input id="emaddres" type="text" class="form-control" placeholder="Enter email address">';
        $content += '<p style="margin-top:20px" for="gdpr_check">Please check the following box if you consent to your identifiable information being stored in COPO. The information will be submitted to public repositories and will be a part of the public record. See our <a style="text-decoration: underline;" href="/about/privacy_notice">Privacy Notice</a> for more details.</p>';
        $content += '<input class="form-check-input" type="checkbox" value="" id="gdpr_check">'
        $content += '<label class="form-check-label" for="gdpr_check">&ensp; I Agree</label>'
        $content += '</div>';

        let dialog = $("#emailModal")
        dialog.on('shown.bs.modal', function () {
            dialog.find('#emaddres').focus();
        
            if ($("#gdpr_check").is(":checked")) {
                    $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", false)
                } else {
                    $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", true)
                }
        })
        dialog.on('hide.bs.modal', function () {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                let emaddres = dialog.find('#emaddres').val();
                emaddres = $.trim(emaddres);

                if (emaddres == '' || !re.test(emaddres)) {
                    alert(errMessage);
                    return false;
                } else {
                    // Save to db
                    $.ajax({
                        url: copoFormsURL,
                        type: "POST",
                        headers: { 'X-CSRFToken': $.cookie('csrftoken') },
                        data: {
                            'task': 'user_email',
                            'component': component,
                            'user_email': emaddres
                        },
                        success: function (data) {
                            //$(".takeatour").trigger("click");
                        },
                        error: function () {
                            alert("Couldn't add email address!");
                        }
                    });
                }
        })

         /*
        let dialog1 = new BootstrapDialog({
            type: BootstrapDialog.TYPE_WARNING,
            title: "Add Email Address",
            message: $content,
            closable: false,
            onshown: function (dialogRef) {
                dialogRef.getModalBody().find('#emaddres').focus();
                
                if ($("#gdpr_check").is(":checked")) {
                    $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", false)
                } else {
                    $("#gdpr_check").closest(".modal-dialog").find("button").attr("disabled", true)
                }
            },
            onhide: function (dialogRef) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                let emaddres = dialogRef.getModalBody().find('#emaddres').val();
                emaddres = $.trim(emaddres);

                if (emaddres == '' || !re.test(emaddres)) {
                    alert(errMessage);
                    return false;
                } else {
                    // Save to db
                    $.ajax({
                        url: copoFormsURL,
                        type: "POST",
                        headers: { 'X-CSRFToken': $.cookie('csrftoken') },
                        data: {
                            'task': 'user_email',
                            'component': component,
                            'user_email': emaddres
                        },
                        success: function (data) {
                            //$(".takeatour").trigger("click");
                        },
                        error: function () {
                            alert("Couldn't add email address!");
                        }
                    });

                }
            },
            buttons: [{
                label: 'Submit',
                cssClass: 'btn-custom3',
                hotkey: 13,
                action: function (dialogRef) {
                    dialogRef.close();
                }
            }]
        });

        dialog.realize();
        dialog.getModalFooter().removeClass('modal-footer');
        dialog.getModalFooter().css({ "padding": "15px", "text-align": "right" });

        dialog.open();
        */
        dialog.modal("show");

    } //end of do_email_form

    function isUserEmailAddressProvided() {
        $.ajax({
            headers: { 'X-CSRFToken': $.cookie('csrftoken') },
            url: '/is_user_email_address_provided/',
            method: 'POST',
            data: {
                cookie_response: $.cookie('cookiesAccepted'),
            },
        }).done(function (data) {
            if (!JSON.parse(data).resp && $.cookie('cookiesAccepted') === 'true') {
                $('#cookieModal').modal('hide'); // Hide cookie consent modal
                do_email_form(); // Show 'Add email address' modal
            }

        }).fail(function (e) {
            // console.log(e); // Cookies have been rejected or email has been provided by user 
        });
    }
</script>