{% load static %}
<div id="components_templates" style="display: none;">
      <!-- Alert templates -->
    <div class="alert-templates">
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
    </div>

     <!-- sidebar tabs -->
    <div class="copo-sidebar-templates">
        <ul class="nav nav-tabs copo-sidebar-tabs">
            <li class="active copo-sidebar-info"><a data-toggle="tab" href="#copo-sidebar-info"
                                                    data-copo-tour-id="page_alert_panel">Info</a></li>
            <li class=" copo-sidebar-upload"><a data-toggle="tab" href="#copo-sidebar-upload"
                                                data-copo-tour-id="copo_data_upload_tab">Upload</a></li>
            {#            <li class="active copo-sidebar-help"><a data-toggle="tab" href="#copo-sidebar-help"#}
            {#                                                    data-copo-tour-id="page_context_help_panel"#}
            {#                                                    id="copo-context-help">Help</a>#}
            <li class="copo-sidebar-annotate"><a data-toggle="tab" href="#copo-sidebar-annotate"
                                                 data-copo-tour-id="copo_annotation_panel">Annotate</a></li>
        </ul>

        <div class="tab-content">
            <div id="copo-sidebar-info" class="tab-pane fade in active copo-sidebar-info">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="page_alert_panel"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copo-sidebar-upload" class="tab-pane fade copo-sidebar-upload">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="copo_data_upload_tab">
                                {#                                <div style="display: inline-block; text-indent: 0.5em; margin-top: 15px;">#}
                                {#                                    <form enctype="multipart/form-data" id="upload_0" method="POST"#}
                                {#                                          action="/rest/receive_data_file_chunked/"#}
                                {#                                          style="margin-right:40px">#}
                                {#                                        {% csrf_token %}#}
                                {#                                        <span data-copo-tour-id="copo_data_upload_file_button"#}
                                {#                                              id="upload_files_button"#}
                                {#                                              class="tiny ui basic teal button fileinput-button"#}
                                {#                                              style="background-image: none; border-color:transparent;">#}
                                {#                                                <span>Select files...</span>#}
                                {#                                                <input type="file" name="file"#}
                                {#                                                       onchange="get_chunk_size(event)" multiple/>#}
                                {#                                                <input type="hidden" name="upload_id" value=""/>#}
                                {#                                                <input type="hidden" name="panel_ordering"#}
                                {#                                                       value="0"/>#}
                                {#                                                <input type="hidden" name="exp_id" value=""/>#}
                                {#                                        </span>#}
                                {#                                    </form>#}
                                {#                                    <div class="CyVerse Files"><br/><br/>#}
                                {#                                        <a id="cyverse_files_link" href="{% url 'copo:agave_oauth' %}">Click to View#}
                                {#                                            Files in CyVerse</a>#}
                                {#                                        <!--<a target="_blank" href="https://agave.iplantc.org/oauth2/authorize?response_type=code&client_id=KOm9gFBPVwq6sfCMgumZRJG5j8wa&redirect_uri=http://127.0.0.1:8000/copo/agave_oauth" class="get_files">Click to View Files in CyVerse</a>-->#}
                                {#                                    </div>#}
                                {##}
                                {#                                    <div id="file_tree" style="visibility:hidden"></div>#}
                                {##}
                                {#                                    <div class="file_status_label" style="margin-top: 8px;"></div>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div id="copo-sidebar-help" class="tab-pane fade in active  copo-sidebar-help">#}
            {#                <div class="row">#}
            {#                    <div class="col-sm-12 col-md-12 col-lg-12">#}
            {#                        <div class="panel panel-dtables">#}
            {#                            <div class="panel-body collapse in" id="page_context_help_panel">#}
            {#                                <table id="page-context-help" class="table hover copo-noborders-table"#}
            {#                                       cellspacing="0"#}
            {#                                       width="100%"></table>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div id="copo-sidebar-annotate" class="tab-pane fade copo-sidebar-annotate">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- profiles legend -->
        <!--div id="copo-sidebar-accessions" >
            <div class="profiles-legend">
                <h4 class="profiles-legend-title">Profile Types Legend</h4>
                <ul class="profiles-legend-group">
                </ul>
            </div>
            <div class="accessions-legend">
                <h4 class="accessions-legend-title">Filter Accession Types</h4>
                <div class="accessions-checkboxes"></div>
            </div>
        </div-->
    </div>

    <!-- Profile component templates: Component buttons only -->
    <!-- Button (main/child component) -->
    <a class="pcomponent-button-template" title="Navigate to" href="#">
        <div class="tiny ui button pcomponent-button pcomponent-color">
            <i class="pcomponent-icon"></i>
            <span class="pcomponent-name"></span>
        </div>
    </a>

     <!-- Button (dropdown menu/group): Images -->
    <div class="profile-dropdown-wrapper images-pcomponent-dropdown-button-template" tabindex="0">
        <div class="tiny ui button pcomponent-button pcomponent-color bright-coral">Images
            <i class="dropdown icon"></i>
        </div>
        <div class="menu profile-dropdown-menu comp transition" tabindex="-1">
            <div class="item"></div>
        </div>
    </div>

    <!-- Profile component templates: Component icons only -->
    <!-- Icon: General component icons container for each web page -->
    <div class="huge ui right floated main menu pcomponents-icons-templates">
        <a class="icon item pcomponents-anchor copo-tooltip" title="" href="#">
            <i class="ui icon"></i>
        </a>
    </div>

    <!-- Icon (main/child component) -->
    <a class="icon item copo-tooltip pcomponent-icon-template" title="Navigate to" href="#">
        <i class="ui icon"></i>
    </a>

    <!-- Icon (dropdown menu/group): Images -->
    <div class="profile-dropdown-wrapper item images-pcomponent-dropdown-icon-template" tabindex="0">
        <i class="ui icon bright-coral image"></i>
        <i class="dropdown icon"></i>
        <div class="menu profile-dropdown-menu hidden" tabindex="-1">
        </div>
    </div>

    <!-- progress bars -->
    <!--<div class="submission-progess-wrapper" style="margin-bottom: 15px;">
        <div class="submission-progress progress" style="height:30px; margin-bottom: 5px; background-image: none;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: 0; padding-top: 5px;"></div>
        </div>
        <div class="submission-progress-status">Submission pending</div>
     </div> -->

    <!-- dspace modal template -->
    <!-- <div id="template_dspace_form">
        <div class="form_content">
            <div class="create_add_dataverse">
                <label>Create New dSpace items&nbsp</label><input type="radio"name="create_repo_radio" value="new">
            </div>
            <div class="create_add_dataverse">
                <label>Add to Existing&nbsp</label>
                <input type="radio" checked="checked" name="create_repo_radio"value="existing">
            </div>
            <hr/>

            <span class="input-group ajax-loading-div">
                    <img style="height: 24px; margin-left:5px;" alt="" src="{% static 'copo/img/loading.gif' %}"></span>
            <h5>Choose which collection this item should be added to</h5>
            <div id="table-div-dataverse" class="table table-striped table-bordered"
                 style="padding: 10px;width:100%">
            </div>

            <div id="existing_metadata_table_div"></div>
            <div class="existing-controls" style="display: block">-->
                <!-- existing dspace controls -->
                <!--<div class="form-inline"> </div>
            </div>
        </div>
    </div> -->

    <!-- dataverse modal template -->
    <!-- <div id="template_repo_metadata_form"> -->
        <!-- <form>
            <div class="create_add_dataverse">
                <input type="radio" name="create_repo_radio" value="new" checked="checked"><label>&nbsp Create new
                dataset with your metadata
            </label>
            </div>
            <div class="create_add_dataverse">
                <input type="radio" name="create_repo_radio" value="existing"><label>&nbsp Add to
                Existing</label>
            </div>
            <hr/> -->

            <!-- new dataverse controls -->
            <!--
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h5>Dataverse Details</h5>
                <div class="form-group">
                    <label for="dvName">Name</label>
                    <input type="text" class="form-control" name="dvName" id="dvName">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dvContactFirstname">Primary Contact Firstname</label>
                        <input type="text" class="form-control" name="dvContactFirstname" id="dvContactFirstname">
                    </div>
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dvContactLastname">Primary Contact Lastname</label>
                        <input type="text" class="form-control" name="dvContactLastname" id="dvContactLastname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dvType">Dataverse Type</label>
                    <select class="form-control" id="dvType" name="dvType">
                        <option value="UNCATEGORIZED">Uncategorized</option>
                        <option value="DEPARTMENT">Department</option>
                        <option value="JOURNALS">Journals</option>
                        <option value="LABORATORY">Laboratory</option>
                        <option value="ORGANIZATIONS_INSTITUTIONS">Organizations / Institutions</option>
                        <option value="RESEARCHERS">Researchers</option>
                        <option value="RESEARCH_GROUP">Research Group</option>
                        <option value="RESEARCH_PROJECTS">Research Project</option>
                        <option value="TEACHING_COURSES">Teaching Course</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h5>Dataset Details</h5>
                <div class="form-group">
                    <label for="dsTitle">Dataset Title</label>
                    <input type="text" class="form-control" name="dsTitle" id="dsTitle">
                </div>
                <div class="form-group">
                    <label for="dsDescription">Dataset Descripion</label>
                    <textarea class="form-control" rows="5" name="dsDescription" id="dsDescription"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dsAuthorFirstname">Author Firstname</label>
                        <input type="text" class="form-control" name="dsAuthorFirstname" id="dsAuthorFirstname">
                    </div>
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dsAuthorLastname">Author Lastname</label>
                        <input type="text" class="form-control" name="dsAuthorLastname" id="dsAuthorLastname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dsAffiliation">Author Affiliation</label>
                    <input type="text" class="form-control" name="dsAffiliation" id="dsAffiliation">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dsContactFirstname">Contact Firstname</label>
                        <input type="text" class="form-control" name="dsContactFirstname" id="dsContactFirstname">
                    </div>
                    <div class="form-group col-md-6" style="padding-left:0">
                        <label for="dsContactLastname">Contact Lastname</label>
                        <input type="text" class="form-control" name="dsContactLastname" id="dsContactLastname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dsContactEmail">Contact Email</label>
                    <input type="text" class="form-control" name="dsContactEmail" id="dsContactEmail">
                </div>
            </div>
        </div>-->
            <!-- <div class="dataverse-controls">
                <h5>Search for Dataverse</h5>
                <div style="visibility:hidden" class="radio-inline">
                    <label><input type="radio" value="dataverse" checked="checked"
                                  name="dataverse-radio">Dataverse</label>
                </div>
                <div style="visibility:hidden" class="radio-inline">
                    <label><input type="radio" value="dataset" name="dataverse-radio">Dataset</label>
                </div>
                <div class="form-inline">
                    <div class="input-group marginBottom10px width300px">
                        <span class="input-group-addon" id="search_dv_addon">Search</span>
                        <input type="text" class="form-control" placeholder="Author, Keyword etc."
                               id="search_dataverse" aria-describedby="search_dv_addon"/>

                    </div>

                    <span class="input-group ajax-loading-div"><img
                            style="height: 24px; margin-left:5px;"
                            src="{% static 'copo/img/loading.gif' %}" alt=""></span>


                </div> -->


                <!--<div style="margin-top:30px" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                </div>-->
                <!-- <div id="table-div-dataverse" class="table table-striped table-bordered"
                     style="padding: 10px;width:100%">

                </div>
                <div id="existing_metadata_table_div"></div>


            </div>
        </form> -->
    <!-- </div> -->

    <!-- accordion template -->
    <!-- <div class="template-section" id="accordion-template">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingOne">
                <div id="accordion-body" class="panel-body">

                </div>
            </div>
        </div>
    </div> -->

    <!-- Record actions templates to be placed alongside data tables
     "description": "Provides templates for composing reusable buttons. 'btnType' can either be: "
                   "(1) 'single' - if the button's action is intended to impact just a single record (e.g., edit), "
                   "(2) 'multi' - if the buttons's action is intended to impact one or more records,"
                   "(3) 'all' - always true, and none dependent of row selections e.g., add button",
    -->
    <!--div class="record-action-templates">

        <div class="add_record_all tiny ui basic dtables-dbuttons  blue button copo-dt copo-tooltip"
             data-container="body"
             data-action="add"
             data-error-message=""
             data-btntype="all"
             title="Add new record"
             tabindex="0">
            <i class=" fa fa-plus-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Add</span>
        </div>

        <div class="describe_record_all tiny ui basic dtables-dbuttons  blue button copo-dt copo-tooltip"
             data-container="body"
             data-action="describe"
             data-error-message=""
             data-btntype="all"
             title="Describe"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">Describe</span>
        </div>

        <div class="show_sample_source tiny ui basic dtables-dbuttons olive button copo-dt copo-tooltip"
             data-container="body"
             data-action="sample-source"
             data-error-message=""
             data-btntype="all"
             title="Source list"
             tabindex="0">
            <i style="font-size: 12px;" class=" glyphicon glyphicon-grain"></i>
            <span class="action-label" style="margin-left: -5px;">Source list</span>
        </div>


        <div class="describe_record_multi tiny ui basic dtables-dbuttons  blue button copo-dt copo-tooltip"
             data-container="body"
             data-action="describe"
             data-error-message="Please select one or more datafiles to describe"
             data-btntype="multi"
             title="Describe datafiles"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">Describe</span>
        </div>

        <div class="undescribe_record_multi tiny ui basic dtables-dbuttons red button copo-dt copo-tooltip"
             data-container="body"
             data-action="discard"
             data-error-message="Please select target datafiles to discard metadata"
             data-btntype="multi"
             title="Discard description metadata"
             tabindex="0">
            <i class=" fa fa-times"></i>
            <span class="action-label" style="padding-left: 3px;">Discard Metadata</span>
        </div>

        <div class="undescribe_record_multi tiny ui basic dtables-dbuttons red button copo-dt copo-tooltip"
             data-container="body"
             data-action="annotate"
             data-error-message="Annotate File Level Metadata"
             data-btntype="multi"
             title="Annotate File Level Metadata"
             tabindex="0">
            <i class="fas fa-marker"></i>
            <span class="action-label" style="padding-left: 3px;">Annotate File Level Metadata</span>
        </div>

        <div class="unbundle_record_multi tiny ui basic dtables-dbuttons red button copo-dt copo-tooltip"
             data-container="body"
             data-action="unbundle"
             data-error-message="Please select target datafiles to [un]bundle"
             data-btntype="multi"
             title="[Un]bundle datafiles"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">[Un]bundle</span>
        </div>

        <div class="edit_record_single tiny ui basic dtables-dbuttons  green button copo-dt copo-tooltip"
             data-container="body"
             data-action="edit"
             data-error-message="Please select a record to edit"
             data-btntype="single"
             title="Edit record"
             tabindex="0"
             id="edit_button">
            <i class=" fa fa-pencil-square"></i>
            <span class="action-label" style="padding-left: 3px;">Edit</span>
        </div>

        <div class="delete_record_multi tiny ui basic dtables-dbuttons  red button copo-dt copo-tooltip"
             data-container="body"
             data-action="validate_and_delete"
             data-error-message="Please select one or more records to delete"
             data-btntype="multi"
             title="Delete records"
             tabindex="0"
             id="delete_button">
            <i class=" fa fa-trash-can"></i>
            <span class="action-label" style="padding-left: 3px;">Delete</span>
        </div>

        <div class="delete_datafiles_multi tiny ui basic dtables-dbuttons  red button copo-dt copo-tooltip"
             data-container="body"
             data-action="delete"
             data-error-message="Please select one or more datafiles to delete"
             data-btntype="multi"
             title="Delete datafiles"
             tabindex="0">
            <i class=" fa fa-trash-can"></i>
            <span class="action-label" style="padding-left: 3px;">Delete Datafiles</span>
        </div>

        <div class="summarise_record_single tiny ui basic dtables-dbuttons  teal button copo-dt copo-tooltip"
             data-container="body"
             data-action="summarise"
             data-error-message="Please select a single record to summarise"
             data-btntype="single"
             title="Summarise record"
             tabindex="0">
            <i class=" fa fa-info-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Summarise</span>
        </div>



        <div class="submit_assembly_multi tiny ui basic dtables-dbuttons  teal button copo-dt copo-tooltip"
             data-container="body"
             data-action="submit_assembly"
             data-error-message="Please select one or more record to submit"
             data-btntype="multi"
             title="Submit Assembly"
             tabindex="0">
            <i class=" fa fa-info-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Submit</span>
        </div>

        <div class="submit_annotation_multi tiny ui basic dtables-dbuttons  teal button copo-dt copo-tooltip"
             data-container="body"
             data-action="submit_annotation"
             data-error-message="Please select one or more record to submit"
             data-btntype="multi"
             title="Submit Annotation"
             tabindex="0">
            <i class=" fa fa-info-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Submit</span>
        </div>

        <div class="submit_read_multi tiny ui basic dtables-dbuttons  teal button copo-dt copo-tooltip"
             data-container="body"
             data-action="submit_read"
             data-error-message="Please select one or more record to submit"
             data-btntype="multi"
             title="Submit Read"
             tabindex="0">
            <i class=" fa fa-info-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Submit</span>
        </div>

        <div class="delete_read_multi tiny ui basic dtables-dbuttons  red button copo-dt copo-tooltip"
             data-container="body"
             data-action="delete_read"
             data-error-message="Please select one or more record to delete"
             data-btntype="multi"
             title="Delete Read"
             tabindex="0">
            <i class=" fa fa-trash-can"></i>
            <span class="action-label" style="padding-left: 3px;">Delete</span>
        </div>

        <div class="add_local_all tiny ui basic dtables-dbuttons  blue button copo-dt copo-tooltip"
             data-container="body"
             data-action="add_files_locally"
             data-error-message=""
             data-btntype="all"
             title="Add new file by browsing local file system"
             tabindex="0">
            <i class=" fa fa-desktop"></i>
            <span class="action-label" style="padding-left: 3px;">Add</span>
        </div>

        <div class="add_terminal_all tiny ui basic dtables-dbuttons  blue button copo-dt copo-tooltip"
             data-container="body"
             data-action="add_files_by_terminal"
             data-error-message=""
             data-btntype="all"
             title="Add new file by terminal"
             tabindex="0">
            <i class=" fa fa-terminal"></i>
            <span class="action-label" style="padding-left: 3px;">Add</span>
        </div>       

        <div class="submit_tagged_seq_multi tiny ui basic dtables-dbuttons  teal button copo-dt copo-tooltip"
            data-container="body"
            data-action="submit_tagged_seq"
            data-error-message="Please select one or more record to submit"
            data-btntype="multi"
            title="Submit Tagged Sequence"
            tabindex="0">
            <i class=" fa fa-info-circle"></i>
            <span class="action-label" style="padding-left: 3px;">Submit</span>
        </div>

        <div class="download_sample_manifest_single tiny ui basic dtables-dbuttons blue button copo-dt copo-tooltip" 
            data-container="body"
            data-action="download-sample-manifest"
            data-error-message="Please select one of samples in the manifest to download"
            data-btntype="single"
            title="Download Sample Manifest"
            tabindex="0">
            <i class="fa fa-download"></i>
            <span class="action-label" style="padding-left: 3px;">Download sample manifest</span>
        </div>
        <div class="view_images_multiple tiny ui basic dtables-dbuttons teal button copo-dt copo-tooltip" data-container="body"
            data-action="view-images" data-toggle="modal"
            data-error-message="Please select one or more sample records from the table shown to view images for"
            data-btntype="multi" title="View Images" tabindex="0">
            <i class="fa fa-eye"></i>
            <span class="action-label" style="padding-left: 3px;">View images</span>
        </div>
        
        <div class="download_permits_multiple tiny ui basic dtables-dbuttons orange button copo-dt copo-tooltip"
            data-container="body" data-action="download-permits"
            data-error-message="Please select one or more sample records from the table shown to download permits for"
            data-btntype="multi" title="Download Permits" tabindex="0">
            <i class="fa fa-download"></i>
            <span class="action-label" style="padding-left: 3px;">Download permits</span>
        </div>


    </div-->

    <!--div id="dataverse-table-template">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Identifier</th>
                <th>Description</th>
                <th>Published</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div-->

    <!--div id="ckan-table-template">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>

                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div-->

    <!--div id="dspace-table-template">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Handle</th>
                <th>Type</th>

            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div-->

    <!-- Datatables row Panel template -->
    <!--div class="datatables-panel-template">
        <div class="panel panel-dtables2">
            <div class="panel-heading" style="background-image: none; border: none;">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        {#                        <div class="pull-right row-select-icon">#}
                        {#                            <i class="fa fa-square-o" title="Toggle record selection"#}
                        {#                               style="cursor: pointer; font-size: 20px; font-weight: bold; display: block;"#}
                        {#                               aria-hidden="true"></i>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div-->

    <!--div class="datatables3-panel-template">
        <div class="panel panel-dtables3">
            <div class="panel-heading" style="background-image: none; border: none;">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        {#                        <div class="pull-right row-select-icon">#}
                        {#                            <i class="fa fa-square-o" title="Toggle record selection"#}
                        {#                               style="cursor: pointer; font-size: 20px; font-weight: bold; display: block;"#}
                        {#                               aria-hidden="true"></i>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div-->

    <!-- quick tour button template -->
    <!--button title="Quick tour"
            class="big circular ui icon orange button takeatour quick-tour-template copo-tooltip">
        <i class="icon lightbulb"></i>
    </button-->

    <!-- new component button template -->
    <!--button title="Add new profile record"
            class="big circular ui icon primary button new-component-template copo-tooltip">
        <i class="icon add sign"></i>
    </button-->

    <!-- describe sample button template -->
    <!--button title="Describe samples using COPO Wizard"
            class="big circular ui icon primary button new-samples-template copo-tooltip">
        <i class="icon plus sign"></i>
    </button-->

    <!-- button to upload spreadsheet for dtol/asg users -->
    <!--button   title="Add Sample(s) from Spreadsheet"
            class="big circular ui icon button new-samples-spreadsheet-template copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- button to view samples for dtol users-->
    <!--button style="display: none" title="View DTOL/ASG Sample(s)"
            class="big circular ui icon green button view-samples copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- button to view samples for erga users -->
    <!--button style="display: none" title="View ERGA Sample(s)"
            class="big circular ui icon pink button view-samples-erga copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- button to upload spreadsheet for dtol users -->
    <!--button style="display: inline" title="Add Read(s) from Read Spreadsheet"
            class="big circular ui icon button new-reads-spreadsheet-template copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- button to upload spreadsheet for erga users -->
    <!--button style="display: none" title="Upload ERGA Manifest"
            class="big circular ui icon pink button new-samples-spreadsheet-template-erga copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- new component button template -->
    <!--button title="Add new file by browsing local file system"
            class="big circular ui icon primary button new-local-file copo-tooltip">
        <i class="icon desktop sign"></i>
    </button-->

    <!-- new component button template -->
    <!--button title="Add new file by terminal"
            class="big circular ui icon primary button new-terminal-file copo-tooltip">
        <i class="icon terminal sign"></i>
    </button-->

    <!-- button to upload spreadsheet for barcoding -->
    <!--button style="display: inline" title="Add Tagged Sequence (s) from Tagged Sequence Spreadsheet"
            class="big circular ui icon button new-taggedseq-spreadsheet-template copo-tooltip">
        <i class="icon table sign"></i>
    </button-->

    <!-- button to download blank spreadsheet -->
    <!--a  title="Download Blank Manifest Template"
            class="big circular ui icon brown button download-blank-manifest-template copo-tooltip" target="_blank">
        <i class="icon download sign"></i>
    </a-->

    <!-- button to download SOP spreadsheet -->
    <!--a title="Download Standard Operating Procedure (SOP)"
        class="big circular ui icon yellow button download-sop copo-tooltip" target="_blank">
        <i class="icon download sign"></i>
    </a-->

    <!-- button to for dtol_sample_managers to accept/reject submitted samples -->
    <!--button style="display: none" title="Accept/Reject TOL Samples"
            class="big circular ui icon teal button accept_reject_samples copo-tooltip">
        <i class="icon tasks sign"></i>
    </button-->

    <!-- button for erga_users, erga_sample_managers, dtol_users or dtol_sample_managers to inspect
         TOL of samples within a profile -->
    <!--button style="display: none" title="Inspect TOL"
            class="big circular ui icon yellow button tol_inspect copo-tooltip">
        <i class="icon clipboard list"></i>
    </button-->

    <!-- button for erga_users, erga_sample_managers, dtol_users or dtol_sample_managers to inspect
       TOL of samples by GAL within a profile -->
    <!--button class="big circular ui icon green button tol_inspect_gal copo-tooltip" title="Inspect TOL by GAL">
        <i class="icon building"></i>
    </button-->

    <!-- button for erga_users, erga_sample_managers, dtol_users or dtol_sample_managers to view
         all sample accessions on COPO -->
    <!--button style="display: none" title="View Accessions Dashboard"
            class="big circular ui icon pink button copo_accessions copo-tooltip">
        <i class="icon sitemap"></i>
    </button-->

    <!-- record tasks button -->
    <!--button title="Record tasks" class="big circular ui icon button record-tasks-template copo-tooltip">
        <i class="icon tasks"></i>
    </button-->

    <!-- profile components button template -->
    <!-- <a class="tiny ui labeled button pcomponent-button" tabindex="0" style="margin: 3px;">
        <div class="tiny ui button pcomponent-color">
            <i class="pcomponent-icon "></i>
            <span class="pcomponent-name" style="padding-left: 3px;"></span>
        </div>
        <div class="tiny ui basic pcomponent-color left pointing label">
            <span class="pcomponent-count"><i class='fa fa-spinner fa-pulse' style="font-size: 10px;"></i></span>
        </div>
    </a> -->
</div>
