{% load static %}
{% load web_tags %}
{% load html_tags %}

const title_button_def = {
  {% autoescape off %}
  {% for button in title_button_def %}
    {{ button.name  }}: {
      template: `{{ button.template }}`,
      additional_attr: '{{ button.additional_attr }}',
      },
  {% endfor  %}
  {% endautoescape %}

}

const media_url = "{{ media_url }}";
const upload_url = "{{ upload_url }}";
const image_file_extensions = "{{ image_file_extensions }}";

const record_action_button_def = {
  {% for button in record_action_button_def %}
    {{ button.name  }}: {
      template: '<div class=" tiny ui basic dtables-dbuttons  {{ button.icon_colour}} button copo-dt copo-tooltip {% if 'submit' in button.action %}submit-btn{% endif %}" \
      data-container="body" \
      data-action="{{ button.action }}" \
      data-error-message="{{ button.error_message }}" \
      data-btntype="{{ button.type }}" \
      title="{{ button.title }}" \
      tabindex="0"> \
     <i class="{{ button.icon_class }}"></i> \
     <span class="action-label" style="padding-left: 3px;">{{ button.label }}</span> \
 </div>',
      action: '{{ button.action }}',
      title: '{{ button.title }}',
      label: '{{ button.label }}',
      icon_class: '{{ button.icon_class }}',
      },
  {% endfor  %}
}


const component_def = {
  {% for component in component_def %}
    {{ component.name|lower }}:  {
      component: '{{ component.base_component }}',
      title: '{{ component.title }}',
      {% if component.subtitle %}
        subtitle: '{{ component.subtitle }}',
      {% endif %}
      {% if  component.group_name %}
        groupName: '{{ component.group_name }}',
      {% endif %}
      buttonLabel: '{{ component.button_label }}',
      schema_name: '{{ component.schema_name }}',
      tableID: '{{ component.table_id }}',
      url: "{% if component.reverse_url and component.schema_name %}{% url component.reverse_url  schema_name=component.schema_name  profile_id='999' ui_component=component.name  %}{% elif component.reverse_url %}{% url component.reverse_url  profile_id='999' ui_component=component.name %}{% endif %}",
      semanticIcon: '{{ component.widget_icon }}',
      iconClass: '{{ component.widget_icon_class }}',
      color: '{{ component.widget_colour }}',
      colorClass: '{{ component.widget_colour_class }}',
      buttons: [ {% for button in component.title_buttons.all %} '{{ button.name }}', {% endfor %} ],
      recordActions: [ {% for button in component.recordaction_buttons.all %} '{{ button.name }}', {% endfor %} ],
      sidebarPanels: ['copo-sidebar-info'],
    },
  {% endfor %}
}
 
const profile_type_def = {
  {% for profile_type in profile_type_def %}
    {{ profile_type.type|lower }}:  {
      title: '{{ profile_type.type | upper }}',
      widget_colour: '{{ profile_type.widget_colour }}',
      components: [ {% for component in profile_type.components.all  %} '{{ component.name }}', {% endfor %} ]
    },    
  {% endfor %}
}


function get_profile_components(profile_type) {
  if (profile_type){
    return profile_type_def[profile_type.toLowerCase()].components.map(component => component_def[component]);
  }
}
