{% load static %}
{% load web_tags %}
{% load html_tags %}

const title_button_def = {
  {% autoescape off %}
  {% for button in title_button_def %}
    {{ button.name  }} : {
      template: `{{ button.template }}`,
      additional_attr: '{{ button.additional_attr }}',
      },
  {% endfor  %}
  {% endautoescape %}

}

const media_url = "{{ media_url }}";
const upload_url = "{{ upload_url }}";
const image_file_extensions = "{{ image_file_extensions }}";

const recordActionButtonDef = {
  {% for button in record_action_button_def %}
    {{ button.name  }}: {
      template: '<div class=" tiny ui basic dtables-dbuttons  {{ button.icon_colour}} button copo-dt copo-tooltip" \
      data-container="body" \
      data-action="{{ button.action }}" \
      data-error-message="{{ button.error_message }}" \
      data-btntype="{{ button.type }}" \
      title="{{ button.title }}" \
      tabindex="0"> \
     <i class="{{ button.icon_class }}"></i> \
     <span class="action-label" style="padding-left: 3px;">{{ button.label }}</span> \
 </div>',
      action: '{{ button.action }}',
      title: '{{ button.title }}',
      label: '{{ button.label }}',
      icon_class: '{{ button.icon_class }}',
      },
  {% endfor  %}
}


const componentDef = {
  {% for component in component_def %}
    {{ component.name|lower }}:  {
      component: '{{ component.base_component }}',
      title: '{{ component.title }}',
      {% if component.subtitle %}
      subtitle: '{{ component.subtitle }}',
      {% endif %}
      group_name: '{{ component.group_name }}',
      group_title: '{{ component.group_title }}',
      iconClass: '{{ component.widget_icon_class }}',
      semanticIcon: '{{ component.widget_icon }}',
      buttons: [ {% for button in component.title_buttons.all %} '{{ button.name }}', {% endfor %} ],
      sidebarPanels: ['copo-sidebar-info'],
      colourClass: '{{ component.widget_colour_class }}',
      colour: '{{ component.widget_colour }}',
      tableID: '{{ component.table_id }}',
      schema_name: '{{ component.schema_name }}',
      recordActions: [ {% for button in component.recordaction_buttons.all %} '{{ button.name }}', {% endfor %} ],
      url: "{% if component.reverse_url and component.schema_name %}{% url component.reverse_url  schema_name=component.schema_name  profile_id='999' ui_component=component.name  %}{% elif component.reverse_url %}{% url component.reverse_url  profile_id='999' ui_component=component.name %}{% endif %}"
    },
    
  {% endfor %}
}
 
const profileTypeDef = {
  {% for profile_type in profile_type_def %}
    {{ profile_type.type|lower }}:  {
      title: '{{ profile_type.type | upper }}',
      widget_colour: '{{ profile_type.widget_colour }}',
      components: [ {% for component in profile_type.components.all  %} '{{ component.name }}', {% endfor %} ]
    },    
  {% endfor %}
}


function getProfileComponents(profileType) {
  if (profileType){
    return profileTypeDef[profileType.toLowerCase()].components.map(component => componentDef[component]);
  }
}
