{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags_orcid %}
{% load web_tags %}

{% block title %}Groups{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/lou-multi-select-e052211/css/multi-select.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <style>
        .group-button {
            vertical-align: middle;
            margin-left: 10px;
            cursor: pointer;
            font-size: 1.5em;
        }

        .plus-color {
            color: #0ec36b;
            cursor: pointer;
        }

        .edit-color {
            color: #0096FF;
        }


        .minus-color {
            color: #d34e22;
        }
        
        #myModalLabel{
            color: white;
        }

        .custom-header {
            text-align: center;
            padding: 3px;
            background: #f5f5f5;
            color: black;
        }

        .autocomplete {
            margin-top: 40px;
            min-width: 200px;
        }

        #users_table {
            width: 300px;
            margin-top: 40px;
        }

        .delete_cell {
            text-align: center;
            cursor: pointer;
        }

        .saving_status {
            margin-right: 25px
        }

        .alert {
            padding: 15px;
            padding-right: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
        }

        .alert-info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert-dismissable .close, .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit;
        }

        .errorDiv {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }

        button.close {
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
        }
        
        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
        }

        #edit_group_button,
        #delete_group_button{
           cursor: pointer;
        }

        .fade.in {
            opacity: 1;
        }
        
        .modal-backdrop.in {
            opacity: .5;
        }

    </style>
{% endblock %}


{% block title_block %} Groups {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
         <!-- NB: This page is not a component of a COPO profile. It is a custom page created. -->
        <!-- <input type="hidden" id="nav_component_name" value="group"/> -->
        <input type="hidden" id="profile_tab_title" value="{{ profile_tab_title }}" />
    </div>
{% endblock browse_header_block %}


{% block page_tile %}
    <div class="row">
        <div class="page-title-custom" style="margin-left:10px;">Groups
            <span class="pull-right saving_status">
                <span class="lead label label-default">Accessing</span>
                <img height="20px" src="{% static 'copo/img/ajax.gif' %}"/>
            </span>
        </div>
    </div>
{% endblock page_tile %}


{% block content %}



    <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="group_name_button" class="selection">Choose Group&nbsp;</span><span class="caret"></span>
                </button>
                <ul id="group_dropdown_ul" class="dropdown-menu" role="menu">
                    {% for g in group_list %}
                        <li><a href="#" data-group-id="{{ g|mongo_id }}">{{ g.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <i data-toggle="modal" data-target="#add_group_modal"
               class="fa fa-plus-square fa-2x group-button plus-color" title="Add a group"></i>
            <i data-toggle="modal" style="visibility:hidden" id="edit_group_button" class="fa fa-pencil-square fa-2x group-button edit-color" title="Edit group"></i>
            <i data-toggle="modal" style="visibility:hidden" id="delete_group_button"
               class="fa fa-minus-square fa-2x group-button minus-color" title="Delete group"></i>
            <span class="lead pull-right">Selected Group: <span id="selected_group" class="label label-default">Choose Group</span>
            </span>

        </div>
    </div>
    <hr/>
    <div style="visibility: hidden" id="tool_window" class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="lead">Profiles in Group</p>
            <select multiple="multiple" id="profiles_in_group" name="profiles_in_group">
            </select>


        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="lead">Users in Group</p>
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Please confirm with the users that they have already been added to the particular profile type group.<br><br>
                Please ask the users to contact <a style="text-decoration: underline; font-weight: bold;" href="mailto:{{copo_email}}">{{copo_email}}</a> 
                in order to be added to the profile type group if they do not belong to it.
            </div>
            <label for="basic-url">Search for User
                <small>(Firstname, Lastname or Username)</small>
            </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control user_search_field" id="basic-url"
                       aria-describedby="basic-addon3">
            </div>

            <table class="table" id="users_table">
                <tbody class=".table-hover">
                <tr>

                </tr>
                </tbody>
            </table>

        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="add_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Group</h4>
                </div>
                <div class="modal-body">
                    <div class="row helpDivRow" style="margin-bottom:10px">
                        <div class="helpDivRowMessage col-sm-9 col-md-9 col-lg-9"></div>
                    </div>
                    <form id="group_form" data-toggle="validator" role="form">
                        <div class="form-group">
                            <label class='groupNamelLabel' for="groupName">Group Name</label>
                            <input type="text" class="form-control" id="groupName" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label class='groupDescriptionlLabel' for="groupDescription">Description</label>
                            <textarea type="textarea" rows="2" class="form-control" id="groupDescription"
                                      placeholder="Short Description"></textarea>
                        </div>
                        <div class="form-group submitFormGroupDiv">
                            <button type="submit" id="submit_group" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block help_section %}
    <ul class="nav nav-tabs copo-sidebar-tabs">
        <li class="active copo-sidebar-info"><a data-toggle="tab" href="#copo-sidebar-info"
                data-copo-tour-id="page_alert_panel">Info</a></li>
    </ul>
    <div class="tab-content"></div>
        <div id="copo-sidebar-info" class="tab-pane fade in active copo-sidebar-info">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-dtables">
                        <div id="page_alert_panel" class="panel-body collapse in" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_group.js' %}"></script>
    <script src="{% static 'copo/lou-multi-select-e052211/js/jquery.multi-select.js' %}"></script>
{% endblock %}