{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags_orcid %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/lou-multi-select-e052211/css/multi-select.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <style>
        .group-button {
            vertical-align: middle;
            margin-left: 10px;
            cursor: pointer;
            font-size: 1.5em;
        }

        .plus-color {
            color: #0ec36b;
        }

        .minus-color {
            color: #d34e22;
        }

        .custom-header {
            text-align: center;
            padding: 3px;
            background: #f5f5f5;
            color: black;
        }

        .autocomplete {
            margin-top: 40px;
            min-width: 200px;
        }

        #users_table {
            width: 300px;
            margin-top: 40px;
        }

        .delete_cell {
            text-align: center;
            cursor: pointer;
        }

        .saving_status {
            margin-right: 25px
        }

    </style>
{% endblock %}


{% block title_block %} COPO - Groups {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="group"/>
        <input type="hidden" id="user_type" value="submitters"/>
    </div>
{% endblock browse_header_block %}


{% block page_tile %}

{% endblock page_tile %}


{% block content %}
    <input type="hidden" id="profile_id" value="{{ profile_id }}"/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="h3">
                Submit Assembly
            </h3>
            <p>
                Select A
            </p>


            <form style="margin-bottom: 20px">
                <button class="ui purple button" id="presigned_urls_modal_button" style="width:200px">Upload Data into
                    COPO
                </button>
                <label class="ui blue button" for="file" id="upload_label" style="width:200px">
                    <input id="file" type="file" style="display:none"
                           onchange="upload_spreadsheet(this.files[0])">
                    Upload Sample Manifest
                </label>
                <div class="ui active inline loader" id="ss_upload_spinner" style="display:none">
                    <div class="percent"></div>
                </div>
                <button class="ui green button" id="ena_finish_button" style="display:none">Finish</button>

            </form>

            <div style="display:none; margin-top: 30px; " id="warning_info" class="alert alert-info"
                 role="alert">
            </div>
            <div style="display:none; margin-top: 30px; " id="warning_info2" class="alert alert-info"
                 role="alert">
            </div>
            <div style="display:none; margin-top: 30px; " id="warning_info3" class="alert alert-info"
                 role="alert">
            </div>
            <div style="display:none; margin-top: 30px; " id="sample_info" class="alert alert-info"
                 role="alert">
            </div>

            <div>
                <table id="sample_parse_table" class="table table-striped table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>

    <div id="presigned_url_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Move Data</h4>
                </div>
                <div class="modal-body">
                    <div id="url_upload_controls">
                        <ol>
                            <li>Navigate to your files (Your files must all be in the same directory with no nesting)
                            </li>
                            <li>Run <kbd>ls -F1</kbd></li>
                            <li>Paste the result into the box below, and click Process</li>
                            <li>jkljfklds</li>
                        </ol>
                        <form>
                            <textarea id="url_text_area" class="form-control" rows="10"></textarea>
                        </form>
                    </div>
                    <div id="command_panel">
                        Navigate to where the files you with to move are and run the following commands.
                        <div id="command_area" style="overflow-x: scroll; padding:20px  "></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="process_urls_button" class="btn btn-primary">Process</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}




{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_ena_functions.js' %}"></script>
{% endblock %}
