{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/index.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/copo/index.css' %}">
{% endblock %}


{% block title_block %} Index {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="profile"/>
        <!--input type="hidden" id="view_copo_profile_url" value=" url 'copo:view_copo_profile' profile_id='999'  "/-->

        <!--input type="hidden" value="  url 'copo:copo_publications' profile_id='999'  " name="publication_url"
               id="publication_url"/-->
        <!--input type="hidden" value=" url 'copo:copo_data' profile_id='999'  " name="datafile_url"
               id="datafile_url"/-->
        <input type="hidden" value="{% url 'copo_sample:copo_samples' profile_id='999' %}" name="sample_url"
               id="sample_url"/>
        <input type="hidden" value="{% url 'copo:copo_submissions' profile_id='999' %}" name="submission_url"
               id="submission_url"/>
        <!--input type="hidden" value=" url 'copo:copo_people' profile_id='999'  " name="person_url" id="person_url"/-->

        <!--input type="hidden" value=" url 'copo:copo_repository' profile_id='999'  " name="repository_url"
               id="repository_url"/-->
        <!--input type="hidden" value="{  url 'copo:view_templates' profile_id='999'  }" name="metadata_template_url"
               id="metadata_template_url"/-->

    </div>

    <style>


    </style>
{% endblock browse_header_block %}

{% block page_tile %}
    <div id="global-notifications" class="row collapse">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:40px;">
            <div class="global-notifications-title">Notifications</div>
            <div class="notifications-body" style="border-bottom: 2px solid rgba(38, 38, 38, 0.4);">
                No notifications
            </div>
        </div>
    </div>
    {% if banner and banner.active %}

        <div class="warning_banner">

            <h1>{{ banner.header_txt }}</h1>
            <p style="color:red">{{ banner.body_txt }}</p>
        </div>



    {% endif %}
    <div class="row" style="margin-bottom:70px;">
        <div class="col-sm-5 col-md-5 col-lg-5 copo-page-headers"></div>
        <div class="col-sm-7 col-md-7 col-lg-7 copo-page-icons">
            <button id="accept_reject_shortcut" style="display:none"
                    class="big circular ui icon teal button pull-right accept_reject_samples copo-tooltip"
                    title="Accept/Reject TOL Samples">
                <i class="icon tasks sign"></i>
            </button>
        </div>
    </div>
{% endblock page_tile %}

{% block content %}
    <script>
        var groups = 
        {{ groups|safe }}
    </script>
    <!-- test -->
    <!-- end test -->


    <!-- getting started section -->

    <div class="row">

        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">COPO - Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            Here are a few quick steps to get you started with COPO.
                            <ol>
                                <li>
                                    <strong>COPO Profile: </strong>
                                    <p>The first step to getting work done in COPO is to create a work profile. A
                                        profile is a collection of 'research objects' or components that form part of
                                        your research project or study. Use the
                                        <button class="circular mini ui icon primary button">
                                            <i class="icon add sign"></i>
                                        </button>
                                        button on the page
                                        to create a new profile.
                                    </p>
                                </li>
                                <li>
                                    <strong>Profile Components: </strong>
                                    <p>Once you have created a work profile, you can start creating components within
                                        the profile.                                         
                                        /*
                                        COPO provides templates/wizards for creating and managing different
                                        components including: Datafiles, Samples, Submission, Publications, People, and
                                        Annotations. Profile components can be created in any order.
                                        */
                                    </p></li>
                                <li>
                                    <strong>Quick Tour: </strong>
                                    <p>Finally, if you've not done so already, take some time to explore the various
                                        controls available on the page. Click the
                                        <button class="circular mini ui icon orange button">
                                            <i class="icon lightbulb"></i>
                                        </button>
                                        icon on the
                                        page to activate the quick tour agent.
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="profile_table"></div>
    <!-- div used by the quick tour agent -->
    <div id="profile_table_div">
        <table id="copo_profiles_table" class="ui celled table copo-noselect-table copo-noborders-table"
               cellspacing="0" width="100%">
        </table>

        <table id="copo_shared_profiles_table" class="ui celled table copo-noselect-table copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

{% endblock %}

{% block help_section %}

    <!-- sidebar -->

{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/index.js' %}"></script>
{% endblock %}
