{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Metadata{% endblock %}

{% block stylesheet_block %}
{% endblock %}


{% block title_block %} Metadata Templates {% endblock %}

{% block tagline_block %}

{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="profile_title" value="{{ profile.title }}"/>
        <input type="hidden" id="nav_component_name" value="metadata_template"/>
    </div>

{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}


{% block content %}


    <!-- getting started section -->
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">Metadata Templates - Getting Started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            The metadata template authoring system allows you to create a template to download in a
                            tabular format, to
                            fill out, then reupload to COPO. The information contain in the uploaded file can be
                            automatically
                            processed. Press the
                            <button class="circular tiny ui icon primary button">
                                <i class="icon add sign"></i>
                            </button>
                            to start.
                            <div><strong>Quick Tour: </strong>To explore the various
                                controls available on this page, click the
                                <button class="circular tiny ui icon orange button">
                                    <i class="icon lightbulb"></i>
                                </button>
                                icon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- publication_table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="metadata_template_table"></div> <!-- div used by the quick tour agent -->
    <div class="table-parent-div">
        <table id="metadata_template_table" class="ui celled table hover copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

{% endblock %}

{% block help_section %}


{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_metadata_template.js' %}"></script>
{% endblock %}
