{% extends 'copo/base2.html' %}

{% load static %}
{% block title %}Privacy Notice{% endblock %}

{% block stylesheet_block %}
<style>
    body {
        background-color: rgb(255, 255, 255);
    }

    p {
        color: #1a1c1a;
        font-size: 19px;
        font-weight: 400;
    }

    a.pn-atag:link {
        color: #0000EE;
        text-decoration: underline;
    }

    a.pn-atag:visited {
        color: #551A8B;
        text-decoration: none;
    }

    a.pn-atag:link:active, 
    a.pn-atag:visited:active,
    a.pn-atag:hover { 
        color: #FF0000;
        text-decoration: underline;
        background-color: transparent;
    }

    .pn-ul li {
        color: #1a1c1a;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.421;
        margin-bottom: .5rem;
    }
</style>
{% endblock stylesheet_block%}


{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Privacy Notice</h1>
        <p>This Privacy Notice explains how the <b>Collaborative OPen Omics (COPO)</b> website service collects, 
           stores and uses personal information in operating the website, in accordance with the General Data Protection
           Regulation (GDPR).
        </p>
        <p> Please view our <a class="pn-atag" href="/about/terms_of_use" target="_parent">Terms of Use</a> regarding the rules 
            and requirements for the use of the service.
        </p>

        <br>

        <h2>Lawful basis for processing your data</h2>
        <p>COPO has a legitimate interest in processing personal data to facilitate the sharing and brokering of 
           scientific data, particularly in genomics and related fields. By enabling researchers to collaborate, 
           store, and manage datasets more effectively, COPO supports the advancement of scientific research. 
           This aligns with its mission to enhance data accessibility and reproducibility, while balancing 
           the rights of users and contributors. Processing personal data is essential to allow the operation 
           and functioning of COPO.
        </p>
        <p>By using our website, you hereby consent to our Privacy Notice and agree to its terms.</p>
        <br>

        <h2>Data Collected</h2>
        <p>COPO adopts appropriate data collection, validation, storage and processing practices as well as security
            measures to protect against unauthorised access, alteration, disclosure or destruction of your 
            personal information, <a class="pn-atag" href="https://orcid.org" target="_blank">ORCid</a> 
            credentials and metadata provided on our service.
        </p>

        <h3>Information collected:</h3>
        <ul class="pn-ul">
            <li>Internet Protocol (IP) address</li>
            <li>Operating system</li>
            <li>Browser</li>
            <li>First name, last name and username after you sign into the service with your ORCid credentials
            </li>
            <li>Email address (after you input it in the dialog shown after a first-time access to the service)</li>
            <li>Date and time when a profile record and manifests are created or updated</li>
            <li>Metadata submitted. Metadata is the essential information about when, where, how and why data
                has been collected. It can relate to research elements like samples, assemblies, sequencing annotations,
                barcoding, experiments, reads or runs
            </li>
            <li>If you contact us via email, we may receive additional information about you such as the contents of the
                message and/or attachments you may send us and any other information you may choose to provide
            </li>
        </ul>

        <h3>Usage of information collected:</h3>
        <ul class="pn-ul">
            <li>To utilise Google Fonts, an interactive web directory via Cascading Style Sheets (CSS), 
                which is embedded in the service
            </li>
            <li>To provide the user access to the service</li>
            <li>To answer support request sent by the user</li>
            <li>To monitor errors and exceptions that may occur during metadata submission</li>
            <li>To register your email address with your COPO user account and to submit 
                your email address to public repositories after manifest submissions
            </li>
            <li>To send email notifications when submitted samples have been accepted or 
                rejected by a sample manager
            </li>
        </ul>
        
        <br>

        <h2>Storing and Sharing of your information</h2>
        <p>Your information is shared and stored in the following ways:</p>
        <ul class="pn-ul">
            <li>Authorised COPO team developers</li>
            <li>Public metadata repositories that COPO relies on to provide the service. They are:
                <ul>
                    <li>
                        <a class="pn-atag" href="https://www.ebi.ac.uk/bioimage-archive" target="_blank">
                            BioImage Archive (BIA)
                        </a>
                    </li>
                    <li>
                        <a class="pn-atag" href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-ENA" 
                           target="_blank">European Nucleotide Archive (ENA)
                        </a>
                    </li>
                    <li>
                        <a class="pn-atag" href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-NCBI" 
                           target="_blank">National Centre for Biotechnology Information (NCBI)
                        </a>
                    </li>
                </ul>
            </li>
        </ul><br>

        <h2>Data Retention</h2>
        <ul class="pn-ul">
            <li>Any personal data (name and email address) and metadata obtained from you will be retained as long as
                the service is live, even if you stop using the service
            </li>
            <li>COPO omits your email address, ORCid identifier (ID) and name from the <a class="pn-atag" href="/api" 
                target="_parent">COPO Application Programming Interface (API)</a> method results after a manifest 
                submission. However, your  email address will be submitted to public repositories and will be visible 
                on public records as a metadata submitter.
            </li>
            <li>Access to the web and security logs containing personal data are restricted to the relevant COPO team developers
            </li>
        </ul>

        <br>

        <h2>Cookies</h2>
        <p>This service uses "cookies" to store information about the web pages on the service that the visitor has
           accessed or visited. The information is used to log any errors or exceptions that may occur and user sessions.
        </p>
        
        <br>

        <h2>Your Rights</h2>
        <p>You have the right to request a copy of the information we hold about you, to request a correction and to request that
            your personal data is deleted. In some cases, we may not be able to agree to your request, however if this is the 
            case, we will tell you the reason and your right to complain to the Information Commissioner if you are unhappy with our
            decision. You have a range of other rights under the GDPR.
        </p>
        <p>If you would like more information, please see the 
           <a class="pn-atag" href="https://ico.org.uk" target="_blank">Information Commissioner's Office (ICO) website</a> 
           (see <b>For the public</b>).
        </p>

        <br>

        <h2>Questions</h2>
        <p>If you have any questions about how your personal information is used, or wish to exercise any of your rights, you can
            do so by <a class="pn-atag" href="/contact" target="_parent">contacting us</a>.
        </p>

        <br><br>

        <p><b>Published on: 28-10-2023</b></p>
        <p><b>Last updated: 24-09-2024</b></p>
    </div>
</div>
{% endblock content%}

{% block footer %}
{% endblock footer%}
{% block js_block %}
{% endblock js_block%}