{% extends 'copo/base2.html' %}

{% load static %}

{% block title %}Privacy Notice{% endblock %}
{% block meta_description %}Find out how we collect, use, store, and protect your personal information in accordance with data protection laws.{% endblock %}

{% block stylesheet_block %}
<style>
    body {
        background-color: rgb(255, 255, 255);
    }

    p {
        color: #1a1c1a;
        font-size: 19px;
        font-weight: 400;
    }

    a.pn-atag:link {
        color: #0000EE;
        text-decoration: underline;
    }

    a.pn-atag:visited {
        color: #551A8B;
        text-decoration: none;
    }

    a.pn-atag:link:active, 
    a.pn-atag:visited:active,
    a.pn-atag:hover { 
        color: #FF0000;
        text-decoration: underline;
        background-color: transparent;
    }

    .pn-ul li {
        color: #1a1c1a;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.421;
        margin-bottom: .5rem;
    }
</style>
{% endblock stylesheet_block%}


{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Privacy Notice</h1>
        <p>This Privacy Notice explains how the <b>Collaborative OPen Omics (COPO)</b> website service collects, 
           stores and uses personal information in operating the website, in accordance with the General Data Protection
           Regulation (GDPR).
        </p>
        <p>For the purpose of the Data Protection Act 2018 (the Act), the data controller is Earlham Institute (EI), 
            based at Norwich Research Park, Colney, Norwich, NR4 7UZ.
        </p>

        <p> Please view our <a class="pn-atag" href="/about/terms_of_use" target="_parent">Terms of Use</a> regarding the rules 
            and requirements for the use of the service.
        </p>

        <br>

        <h2>Lawful basis for processing your data</h2>
        <p>Under UK data protection law, we must have a 'lawful basis' for collecting and using your personal information. 
           There is a list of possible lawful bases in the UK GDPR. You can find out more about lawful bases on the 
           <a class="pn-atag" target="_blank"
           href="https://ico.org.uk/for-organisations/advice-for-small-organisations/key-data-protection-terms-you-need-to-know/#lawfulbasis"> 
           Information Commissioner's Office website</a>.
        </p>

        <p>
           COPO has a legitimate interest in processing personal data to facilitate the sharing and brokering of 
           scientific data, particularly in genomics and related fields. By enabling researchers to collaborate, 
           store, and manage datasets more effectively, COPO supports the advancement of scientific research. 
           This aligns with its mission to enhance data accessibility and reproducibility, while balancing 
           the rights of users and contributors. Processing personal data is essential to allow the operation 
           and functioning of COPO.
        </p>
        <p>By using our website, you hereby consent to our Privacy Notice and agree to its terms.</p>
        <br>

        <h2>Data Collected</h2>
        <p>COPO adopts appropriate data collection, validation, storage and processing practices as well as security
            measures to protect against unauthorised access, alteration, disclosure or destruction of your 
            personal information, <a class="pn-atag" href="https://orcid.org" target="_blank">ORCid</a> 
            credentials and metadata provided on our service.
        </p>

        <h3>Information collected</h3>
        <ul class="pn-ul">
            <li>Internet Protocol (IP) address</li>
            <li>Operating system</li>
            <li>Browser</li>
            <li>First name, last name and username after you sign into the service with your ORCid credentials
            </li>
            <li>Email address (after you input it in the dialog shown after a first-time access to the service)</li>
            <li>Date and time when a profile record and manifests are created or updated</li>
            <li>Metadata submitted. Metadata is the essential information about when, where, how and why data
                has been collected. It can relate to research elements like samples, assemblies, sequencing annotations,
                barcoding, experiments, reads or runs
            </li>
            <li>If you contact us via email, we may receive additional information about you such as the contents of the
                message and/or attachments you may send us and any other information you may choose to provide
            </li>
        </ul>

        <h3>Usage of information collected</h3>
        <ul class="pn-ul">
            <li>To utilise Google Fonts, an interactive web directory via Cascading Style Sheets (CSS), 
                which is embedded in the service
            </li>
            <li>To provide the user access to the service</li>
            <li>To answer support request sent by the user</li>
            <li>To monitor errors and exceptions that may occur during metadata submission</li>
            <li>To register your email address with your COPO user account and to submit 
                your email address to public repositories after manifest submissions
            </li>
            <li>To send email notifications when submitted samples have been accepted or 
                rejected by a sample manager
            </li>
        </ul>
        
        <br>

        <h2>Storing and Sharing of your information</h2>
        <p>Your information is shared and stored in the following ways:</p>
        <ul class="pn-ul">
            <li>Authorised COPO team developers</li>
            <li>Public metadata repositories that COPO relies on to provide the service. They are:
                <ul>
                    <li>
                        <a class="pn-atag" href="https://www.ebi.ac.uk/bioimage-archive" target="_blank">
                            BioImage Archive (BIA)
                        </a>
                    </li>
                    <li>
                        <a class="pn-atag" href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-ENA" 
                           target="_blank">European Nucleotide Archive (ENA)
                        </a>
                    </li>
                    <li>
                        <a class="pn-atag" href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-NCBI" 
                           target="_blank">National Centre for Biotechnology Information (NCBI)
                        </a>
                    </li>
                </ul>
            </li>
        </ul><br>

        <h2>Data Retention</h2>
        <ul class="pn-ul">
            <li>Any personal data (name and email address) and metadata obtained from you will be retained as long as
                the service is live, even if you stop using the service
            </li>
            <li>COPO omits your email address, ORCid identifier (ID) and name from the <a class="pn-atag" href="/api" 
                target="_parent">COPO Application Programming Interface (API)</a> method results after a manifest 
                submission. However, your  email address will be submitted to public repositories and will be visible 
                on public records as a metadata submitter.
            </li>
            <li>Access to the web and security logs containing personal data are restricted to the relevant COPO team developers
            </li>
        </ul>

        <br>

        <h2>Cookies</h2>
        <p>This service uses "cookies" to store information about the web pages on the service that the visitor has
           accessed or visited. The information is used to log any errors or exceptions that may occur and user sessions.
        </p>
        
        <br>

        <h2>Your Rights</h2>
        <p>Which lawful basis we rely on may affect your data protection rights which are set out in brief below. 
            You can find out more about your data protection rights and the exemptions which may apply on the 
            Information Commissioner's Office's (ICO's) website:
        </p>

        <ul class="pn-ul">
            <li><b>Your right of access</b> - You have the right to ask us for copies of your personal information. You can 
                request other information such as details about where we get personal information from and who we 
                share personal information with. There are some exemptions which means you may not receive all the 
                information you ask for. 
                <a class="pn-atag"  target="_blank" title="Learn more about your right of access on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#roa">
                You can read more about this right on the ICO website
                </a>.
            </li>

            <li><b>Your right to rectification</b> - You have the right to ask us to correct or delete personal information 
                you think is inaccurate or incomplete. <a class="pn-atag"  target="_blank" title="Learn more about your right to rectification on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rtr">
                You can read more about this right on the ICO website</a>.
            </li>

            <li><b>Your right to erasure</b> - You have the right to ask us to delete your personal information. 
                <a class="pn-atag"  target="_blank" title="Learn more about your right to erasure on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rte">
                You can read more about this right on the ICO website</a>.
            </li>

            <li>
                <b>Your right to restriction of processing</b> - You have the right to ask us to limit how we can use your 
                personal information. <a class="pn-atag"  target="_blank" title="Learn more about your right to restriction of processing on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rtrop">
                You can read more about this right on the ICO website</a>.
            </li>

            <li><b>Your right to object to processing</b> - You have the right to object to the processing of your personal 
                data. <a class="pn-atag"  target="_blank" title="Learn more about your right of object to processing on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rto">
                You can read more about this right on the ICO website</a>.
            </li>

            <li><b>Your right to data portability</b> - You have the right to ask that we transfer the personal information 
                you gave us to another organisation, or to you. 
                <a class="pn-atag"  target="_blank" title="Learn more about your right to data portability on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rtdp">
                You can read more about this right on the ICO website</a>.
            </li>
            
            <li><b>Your right to withdraw consent</b> - If we use consent as our lawful basis you have the right to withdraw 
                your consent at any time. <a class="pn-atag"  target="_blank" title="Learn more about your right to withdraw consent on the ICO website"
                href="https://ico.org.uk/for-organisations/advice-for-small-organisations/create-your-own-privacy-notice/your-data-protection-rights/#rtwc">
                You can read more about this right on the ICO website</a>.
                Please note that some rights may not apply in all situations. If we cannot comply with your request, 
                we will explain why and inform you of your right to complain to the Information Commissioner's Office 
                if you are not satisfied with our response.
            </li>
        </ul>
        <br>
        <p>
           For more information about your rights, visit the ICO's website: <a class="pn-atag"  target="_blank" 
           href="https://ico.org.uk/for-the-public">https://ico.org.uk/for-the-public</a>. 
           If you make a request, we must respond to you without undue delay and in any event within one month.
           To make a data protection rights request, please contact us using the contact details at the bottom 
           of this privacy notice.
        </p>

        <br>

        <h2>Questions</h2>
        <p>If you have any questions about how your personal information is used, or wish to exercise any of 
            your rights, you can do so by <a class="pn-atag" href="/contact" target="_parent">contacting us</a>.
        </p>

        <p>For the Earlham Institute, the person with responsibility for advising on compliance with data 
            protection legislation is Sarah Cossey, contact: <a href="mailto:dpa@earlham.ac.uk">dpa@earlham.ac.uk</a>.
        </p>

        <br><br>

        <p><b>Published on: 28-10-2023</b></p>
        <p><b>Last updated: 07-05-2025</b></p>
    </div>
</div>
{% endblock content%}

{% block footer %}
{% endblock footer%}
{% block js_block %}
{% endblock js_block%}