{% extends 'copo/base2.html' %}

{% load static %}
{% block title %}Terms of Use{% endblock %}

{% block stylesheet_block %}
<style>
    body {
        background-color: rgb(255, 255, 255);
    }

    a {
        color: mediumblue;
    }

    #terms_of_use_ul1 li {
        font-size: 19px;
        color: #1a1c1a;
        font-weight: 400;
        line-height: 1.421;
        margin: 0 0 16px 0;
        margin: var(--vf-stack-margin, 0) 0 var(--vf-text-margin--bottom, 16px) 0;
        margin-bottom: .8rem;
    }
</style>
{% endblock stylesheet_block%}


{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Terms of Use</h1>
        <ol id="terms_of_use_ul1">
            <li>The <b>Collaborative OPen Omics (COPO)</b> website service promotes
                <a
                    href="https://copo-docs.readthedocs.io/en/latest/policies/fair-data-principles.html#fair-data-principles">
                    Findable, Accessible, Interoperable and Reusable (FAIR)
                </a> metadata brokerage through the submission of research objects (raw or processed data, reads,
                samples, images etc.) which are made public to the research community and public repositories like
                <a href="https://www.ebi.ac.uk/bioimage-archive/"> BioImage Archive (BIA)</a>,
                <a href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-ENA"> European Nucleotide
                    Archive (ENA)</a>
                and <a href="https://copo-docs.readthedocs.io/en/latest/help/glossary.html#term-NCBI"> National Centre
                    for Biotechnology
                    Information (NCBI)</a>.
            </li>
            <li>This service uses cookies to record information about your website session to enable the website to
                function well. You can control your use of cookies from your web browser but if you choose not to
                accept cookies from the COPO website service, you will not be able to take full advantage of all of
                the website's features.
            </li>
            <li>This service also uses Google Fonts, a website font service that is owned by Google LLC or by Google 
                Ireland Limited, to provide an interactive web directory via Cascading Style Sheets (CSS) 
                throughout the service. 
                <br><br>
                The Google server needs to collect your Internet Protocol (IP) address in order to send you the 
                Google Font files from the Google servers when you access the service. Through the use of 
                Google Fonts, the website performance is optimised and is displayed more beautiful.
                <br><br>
                Even though our service self-host Google Fonts on some web pages in order to eliminate 
                violating General Data Protection Regulation (GDPR), there are other web pages in our service that 
                do not. By using the service, you consent for the service to use your IP address so that it can 
                load the Google Fonts from the Google servers.
            </li>
            <li>COPO will make all reasonable effort to maintain continuity of its service and provide adequate warning
                of any changes or discontinuities. However, COPO accepts no responsibility for the consequences of any
                temporary or permanent discontinuity of the service.
            </li>
            <li>If you email or submit offensive, inappropriate or objectionable content on our website or to us, or
                engage in any disruptive behaviour on our service, we may use your personal information
                from our security logs to stop such behaviour. We may also use your personal information to inform
                relevant third parties about the content and your behaviour where we reasonably believe that you are
                or may be in breach of any applicable laws.
            </li>

            <li>COPO imposes no additional restrictions on the use of the submitted data available on our service after
                they have been provided by the metadata submitter other than those provided by the metadata 
                submitters like embargoed metadata.
                However, there are restrictions imposed on the metadata submitter on the metadata after the metadata
                have been uploaded and submitted on the COPO service.

                <br><br>

                Some of these metadata submitter restrictions include but are not limited to the following:
                <br>
                <ul>
                    <li>
                        Profile records cannot be deleted after they have associated research objects like samples,
                        reads, files, sequencing annotations, accessions, barcoding manifests etc..
                    </li>
                    <li>Samples cannot be deleted after they have been submitted; they can only be updated. More details
                        about what field values can be updated can be found in the
                        <a href="https://copo-docs.readthedocs.io/en/latest/updates/samples.html"> Updating Samples'
                            section</a>
                        in our documentation.
                    </li>
                    <li> Please see our documentation on the various profile components for
                        <a
                            href="https://copo-docs.readthedocs.io/en/latest/profile/genomics/genomics-profile-walkthrough.html#genomics-profile-components">
                            Genomics profiles
                        </a> and <a
                            href="https://copo-docs.readthedocs.io/en/latest/profile/tol/tol-profile-walkthrough.html#tree-of-life-profile-components">Tree
                            of Life (ToL) profiles</a> for more information concerning the restrictions and 
                            possibilities of the various research objects.
                    </li>
                </ul>
            </li>
            <li>All scientific metadata will be made publicly available after data submission and we may store it
                permanently.
            </li>
            <li>The metadata submitted and the <a href="/api">COPO Application Programming Interface (API) methods </a>
                are generated in part from the data contributed by the community who remain the data submitters.
            </li>
            <li>COPO does not guarantee the accuracy of any provided metadata for any purpose. We, however, make all
                reasonable effort to ensure that the metadata submitted are validated according to the Standard 
                Operating Procedure (SOP) for each manifest type.
                
                <br><br>

                Please see our documentation regarding the 
                <a href="https://copo-docs.readthedocs.io/en/latest/retrieval/manifest_templates.html#recording-data-in-manifests">
                    SOP requirements
                </a>.
            </li>
            <li>The metadata submitted may be subject to embargoed rights or permits rights. It is the responsibility of
                users
                of this service to ensure that their exploitation of the data does not infringe any of the rights of
                such parties.
            </li>
            <li>We reserve the right to update these terms of use at any time. We will attempt to give reasonable notice
                of any changes by placing a notice on our website or by sending an email to any email address 
                you may have provided to us, but you may wish to check the terms of use each time you use the website.

                <br><br>
                The date of the most recent revision will appear at the bottom of this web page, the 'Terms of Use' web
                page. If you do not agree to these changes, please do not continue to use our service.
            </li>
            <li>Any feedback provided to COPO about its service will be treated as non-confidential unless the
                individual or organisation providing the feedback states otherwise.
            </li>
            <li>Any questions or comments concerning these terms of use can be addressed to us by 
                <a href="/#contact-sec">contacting us</a>. More details about the data that we collect 
                from you when you browse the website, make manifest submissions and how we process the 
                data are detailed in our 
                <a style="text-decoration: underline;" href="/about/privacy_notice">Privacy Notice</a>.
            </li>
        </ol>
        <br>
        <p><b>Last revised: 28-10-2023</b></p>
    </div>
</div>
{% endblock content%}

{% block footer %}
{% endblock footer%}
{% block js_block %}
{% endblock js_block%}