{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags_orcid %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="/static/copo/jquery/css/jquery-ui-1.13.2.min.css">
    <script src="/static/copo/jquery/js/jquery-3.7.1.min.js"></script>
    <script src="/static/copo/jquery/js/jquery-ui-1.13.2.js"></script>
    {#  <link rel="stylesheet" href="/resources/demos/style.css">#}
    <script>
        $(function () {
            $("#commonvalueID").datepicker({dateFormat: "yy-mm-dd", maxDate: 0});
        });
    </script>
{% endblock %}


{% block title_block %} Index {% endblock %}

{% block tagline_block %}
    {% block content %}
        {{ latest_message }}: {{ created }}
        <br>
        <p>Date: <input type="text" id="commonvalueID" placeholder="Select date"></p>
    {% endblock %}

{% endblock %}
