{% extends 'copo/base2.html' %}

{% load static %}
{% load web_tags %}

{% block title %}News{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo_profile/css/copo_news.css' %}">
{% endblock %}

{% block carouselblock %}
{% endblock carouselblock %}

{% block header_section %}
{% endblock header_section %}

{% block content %}
    <br><br><br><br>
    <h2>News</h2>
    {% if page_obj|length > 0 %}
        <div class="categories">
            <a href="?category=Research and Innovations">Research and Innovations</a>
            <a href="?category=Industry News">Industry News</a>
            <a href="?category=Regulatory Affairs">Regulatory Affairs</a>
            <a href="?category=Case Studies and Applications">Case Studies and Applications</a>
            <a href="?category=Events and Conferences">Events and Conferences</a>
            <a href="/">All</a>
        </div>
        <div class="news-grid">
            {% for news in page_obj %}
                <div class="news-item">
                    <div class="news-title-heading" style="background-color: {{news.news_grid_colour}}">
                        <div class="news-title">{{ news.title }}</div>
                    </div>
                    {% autoescape on %}
                    <div class="news-content">{{ news.content }}
                        <br>
                        {% if news.associated_website_link %}
                            View associated link <a class="news-link" href="{{news.associated_website_link}}" alt="{{ news.title }}">here</a>.
                        {% endif %}
                    </div>
                    {% endautoescape %}
                    <div class="divider"></div>
                    <div class="">
                        <div class="news-author">By: {{ news.author }}</div>
                        <div class="item-row text-sm">
                            <b>Category:&emsp;</b>
                            <div class="news-category"> {{ news.category }}</div>
                        </div>
                        <div class="news-date"><b>Created date:</b> {{ news.created_date|date:"D, j M Y H:i" }}</div>
                        <div class="news-date"><b>Last updated:</b> {{ news.updated_date|date:"D, j M Y H:i" }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="pagination">
            Page:
            <ul>
                {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
        
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li><span class="current">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li><a href="?page={{ num }}">{{ num
                        }}</a></li>
                    {% endif %}
                    {% endfor %}
        
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
            </ul>
        </div>
    {% else %}
        <div class="news-grid">
            <div class="news-item">
                <div class="news-title-heading news-title-heading-background-default">
                    <div class="news-title"> No news available</div>
               </div>
                <div class="news-content">There are no news articles available at this time. Please check back later.</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block help_section %}
    <!-- sidebar -->
{% endblock %}

{% block js_block %}
    <script src="{% static 'copo_profile/js/copo_news.js' %}"></script>
{% endblock %}
