{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Accept/Reject Samples{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-noscript.css' %}">
    </noscript>
    <noscript>
        <link rel="stylesheet"
              href="{% static 'copo/jQuery-File-Upload-master/css/jquery.fileupload-ui-noscript.css' %}">
    </noscript>
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_wizard.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/copo/sample.css' %}">
    <link rel="stylesheet" href="{% static 'copo/bootstrap-treeview-1.2.0/dist/bootstrap-treeview.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">

    <style>
        th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 9;
            background-color: rgba(255, 255, 255, 1);

        }

        td {
            z-index: 1;
        }

        .confirm {
            border: 1px solid rgba(221, 221, 221, 0.95);
            border-radius: 11px;
            padding: 10px;
            width: 400px;
            margin-bottom: 20px;
        }

        .selected {
            background-color: #e1e1e1 !important;
        }

        .na_color {
            background-color: #eee;
        }

        .empty_color {
            background-color: #f7eded;
        }

        .selectable_row {
            cursor: pointer;
        }

        .table_viewport {
            max-height: 600px;
            overflow: scroll;
        }

        .tickbox {
            vertical-align: middle !important;
        }

        .processing_row {
            background-color: rgba(0, 52, 255, 0.16);
        }

        .table_viewport {
            padding-left: 20px
        }

        .selected_row {
            background-color: #fff3ce !important;
        }

        .filter_margin {
            margin-top: 46px
        }


    </style>
{% endblock %}



{% block title_block %} Index {% endblock %}

{% block tagline_block %}

{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="sample"/>
        <input type="hidden" id="profile_id" value="None"/>
        <input type="hidden" id="profile_title" value="None"/>

    </div>
{% endblock browse_header_block %}

{% block page_tile %}

{% endblock page_tile %}


{% block content %}
    <div class="row">
    <div class="col-lg-9 col-sm-9 col-md-9">
        <h3 class="h3">Choose to Accept or Reject  &nbsp; &nbsp; <select id='group_id' name='group'>{% for group in sample_manager_groups %}<option value='{{ group }}' title='{{group}}' >{{ group }}</option>{% endfor %}</select>  </h3>
        <h3 class="h3"><small>Note clicking accept will immediately send sample info to ENA/Biosamples</small></h3>

    </div>
    <div class="col-lg-3 col-sm-3 col-md-3">
        <h4 class="h4">Status</h4>
        <div class="alert alert-info" style="min-width: 400px; min-height: 55px; max-height: 100px; overflow:auto " role="alert">
            <span id="spinner" style="display:none" class="pull-right ui tiny active inline loader"></span>
            <div id="sub_spinner" class="pull-right ui tiny indeterminate inline loader"></div>
            <p id="dtol_sample_info">Idle</p>
        </div>
    </div>
    </div>
    <hr/>

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3">
            <ul hidden class="nav nav-tabs profile-filter" id="erga">
                <li class="hot_tab_profile in active">
                    <a data-toggle="tab" href="my_profiles">Profiles for My Sequencing Centre</a>
                </li>
                <li class="hot_tab_profile in">
                    <a data-toggle="tab" href="all_profiles">All profiles</a>
                </li>  
            </ul>

            <ul hidden class="nav nav-tabs profile-filter" id="non_erga">
                <li class="hot_tab_profile in active">
                    <a data-toggle="tab" href="my_profiles">All profiles</a>
                </li>
            </ul>

            <table id="profile_titles" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Profile Title</th>
                    <th>Date Created</th>
                    <th class="show_sample_links">Access to Samples</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9" id="sample_panel">

            <div class="ui buttons" id="accept_reject_button" style="margin-bottom: 10px">
                <button type="button" disabled="true" class="ui negative button">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                </button>
                <div class="or"></div>
                <button type="button" disabled="true" class="ui positive button">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
                </button>
            </div>
            <span style="margin-left:20px" id="edit-buttons">
                <button class="select-all tiny ui basic button" tabindex="0" aria-controls="" type="button"><span>Select all visible</span></button>
                <button class="select-none tiny ui basic button" tabindex="0" aria-controls="" type="button"><span>Select None</span></button>
                <button class="delete-selected tiny ui red basic button" tabindex="0" aria-controls=""
                        type="button"><span>Delete Selected</span></button>

            </span>


            <ul class="nav nav-tabs" id="sample_filter">

                {% if is_bge_checker %}
                <li class="hot_tab in active">
                    <a data-toggle="tab" href="bge_pending">Pending BGE Checker Samples</a>
                </li>
                <li class="hot_tab in ">
                    <a data-toggle="tab" href="pending">Pending Samples</a>
                </li>
                {% else %}
                <li class="hot_tab in active">
                    <a data-toggle="tab" href="pending">Pending Samples</a>
                </li>
                {% endif %}

                <li class="hot_tab in">
                    <a data-toggle="tab" href="processing">Processing Samples</a>
                </li>
                <li class="hot_tab in">
                    <a data-toggle="tab" href="accepted">Accepted Samples</a>
                </li>
                <li class="hot_tab in">
                    <a data-toggle="tab" href="rejected">Rejected Samples</a>
                </li>
                <li class="hot_tab in">
                    <a data-toggle="tab" href="private">Private Samples</a>
                </li>
            </ul>


            <!--<div class="table_viewport">-->
            <h4 class="h4"><small class="labelling">Click a Profile on the left to see Samples.</small></h4>

            <table id="profile_samples" class="table table-hover striped table-bordered display compact nowrap">
                <thead></thead>
                <tbody></tbody>
            </table>

        </div>
    </div>




{% endblock %}

{% block help_section %}

{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/dtol_functions.js' %}"></script>
    <script src="{% static 'copo/js/copo_parse_spreadsheet.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.5/sorting/datetime-moment.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
    <script src="{% static 'copo_dtol_submission/js/copo_sample_accept_reject.js' %}"></script>
    <script>socket = undefined</script>

{% endblock %}
