<!-- Created by fshaw at 03/08/2018 -->

{% load static %}
<form id="repo_metadata_form">
    <div class="create_add_dataverse">
        <label><input type="radio"  name="create_repo_radio" value="new">&nbsp
            Create
            New Dataverse</label>
    </div>
    <div class="create_add_dataverse">
        <label><input type="radio" checked="true" name="create_repo_radio" value="existing">&nbsp Add to
            Existing</label>
    </div>
    <hr/>
    <div class="row new-controls">
        <!-- new dataverse controls -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h5>Dataverse Details</h5>
            <div class="form-group">
                <label for="dvName">Name</label>
                <input type="text" class="form-control" name="dvName" id="dvName">
            </div>

            <div class="form-row">

                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dvContactFirstname">Primary Contact Firstname</label>
                    <input type="text" class="form-control" name="dvContactFirstname" id="dvContactFirstname">
                </div>


                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dvContactLastname">Primary Contact Lastname</label>
                    <input type="text" class="form-control" name="dvContactLastname" id="dvContactLastname">
                </div>

            </div>
            <div class="form-group">
                <label for="dvType">Dataverse Type</label>
                <select class="form-control" id="dvType" name="dvType">
                    <option value="UNCATEGORIZED">Uncategorized</option>
                    <option value="DEPARTMENT">Department</option>
                    <option value="JOURNALS">Journals</option>
                    <option value="LABORATORY">Laboratory</option>
                    <option value="ORGANIZATIONS_INSTITUTIONS">Organizations / Institutions</option>
                    <option value="RESEARCHERS">Researchers</option>
                    <option value="RESEARCH_GROUP">Research Group</option>
                    <option value="RESEARCH_PROJECTS">Research Project</option>
                    <option value="TEACHING_COURSES">Teaching Course</option>

                </select>
            </div>
        </div>
        <!-- new dataset controls -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h5>Dataset Details</h5>
            <div class="form-group">
                <label for="dsTitle">Dataset Title</label>
                <input type="text" class="form-control" name="dsTitle" id="dsTitle">
            </div>
            <div class="form-group">
                <label for="dsDescription">Dataset Descripion</label>
                <textarea class="form-control" rows="5" name="dsDescription" id="dsDescription"></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dsAuthorFirstname">Author Firstname</label>
                    <input type="text" class="form-control" name="dsAuthorFirstname" id="dsAuthorFirstname">
                </div>
                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dsAuthorLastname">Author Lastname</label>
                    <input type="text" class="form-control" name="dsAuthorLastname" id="dsAuthorLastname">
                </div>
            </div>
            <div class="form-group">
                <label for="dsAffiliation">Author Affiliation</label>
                <input type="text" class="form-control" name="dsAffiliation" id="dsAffiliation">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dsContactFirstname">Contact Firstname</label>
                    <input type="text" class="form-control" name="dsContactFirstname" id="dsContactFirstname">
                </div>
                <div class="form-group col-md-6" style="padding-left:0">
                    <label for="dsContactLastname">Contact Lastname</label>
                    <input type="text" class="form-control" name="dsContactLastname" id="dsContactLastname">
                </div>
            </div>
            <div class="form-group">
                <label for="dsContactEmail">Contact Email</label>
                <input type="text" class="form-control" name="dsContactEmail" id="dsContactEmail">
            </div>

        </div>
    </div>
    <div class="existing-controls" style="display: none">
        <h5>Search for Dataverse</h5>
        <div style="visibility:hidden" class="radio-inline">
            <label><input type="radio" value="dataverse" checked="true"
                          name="dataverse-radio">Dataverse</label>
        </div>
        <div style="visibility:hidden" class="radio-inline">
            <label><input type="radio" value="dataset" name="dataverse-radio">Dataset</label>
        </div>
        <div class="form-inline">
            <div class="input-group  marginBottom10px width300px">
                <span class="input-group-addon" id="search_dv_addon">Search</span>
                <input type="text" class="form-control" placeholder="Author, Keyword etc."
                       id="search_dataverse" aria-describedby="search_dv_addon">
            </div>

            <span class="input-group" style="display: none" id="ajax-loading-div"><img
                    style="height: 24px; margin-left:5px;"
                    src="{% static 'copo/img/loading.gif' %}"></span>


        </div>


        <!--<div style="margin-top:30px" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        </div>-->

        <div id="table-div-dataverse" class="table table-striped table-bordered"
             style="padding: 10px;width:100%">

        </div>
    </div>
</form>