<!-- Created by fshaw at 03/08/2018 -->

{% load static %}
<form id="dspace_form">
    <div class="create_add_dataverse">
        <label><input type="radio"  name="create_repo_radio" value="new">&nbsp
            Create
            New Dataverse</label>
    </div>
    <div class="create_add_dataverse">
        <label><input type="radio" checked="true" name="create_repo_radio" value="existing">&nbsp Add to
            Existing</label>
    </div>
    <hr/>
    <div class="row new-controls">
        <!-- new dspace controls -->

    </div>
    <div class="existing-controls" style="display: none">
        <!-- existing dspace controls -->

    </div>
</form>