// colors

$data_color: #1f2e2e;
$samples_color: #bfbb11;
$submissions_color: #194d19;
$pubs_color: #e88801;
$people_color: #c93c00;
$annotations_color: #6871C9;

.data_color {
  background-color: $data_color;
  border-color: $data_color;
  //color: $data_color + 120;
}

.data_color_icon {
    color: $data_color;
}

.pubs_color {
  background-color: $pubs_color;
  border-color: $pubs_color;
  //color: $pubs_color + 120;
}

.pubs_color_icon {
    color: $pubs_color;
}

.samples_color {
  background-color: $samples_color;
  border-color: $samples_color;
  //color: $samples_color + 120;
}

.samples_color_icon {
    color: $samples_color;
}

.submissions_color {
  background-color: $submissions_color;
  border-color: $submissions_color;
  //color: $submissions_color + 120;
}

.submissions_color_icon {
    color: $submissions_color;
}

.people_color {
  background-color: $people_color;
  border-color: $people_color;
  //color: $people_color + 120;
}

.people_color_icon {
    color: $people_color;
}

.annotations_color{
  background-color: $annotations_color;
  border-color: $annotations_color;
}

.annotations_color_icon {
    color: $annotations_color;
}