{% extends 'copo/base_simple.html' %}

{% load static %}
{% load web_tags %}

{% block title %}ORCID Authentication Error{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <style>
        body {
            background-image: none !important;
        }

        .error_message{
            width: 750px;
            word-break: break-all;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.8em;
        }
    </style>
{% endblock %}

{% block title_block %} ORCID Authentication Error {% endblock %}

{% block image_div %}
<div class="text-center" style="padding:50px">
    <img src="{% static 'assets/img/COPO-logo-full-CMYK-black.png' %}" height="200px">
</div>
{% endblock image_div%}

{% block content %}
    <div class="wrapper">
        <div class="text-center">
            <span class="lead" style="font-weight: bold;">ORCID Authentication Error</span><br><br>
            <p><span style="font-weight: bold;">Code: </span>{{ auth_error.code }}</p><br> 
            <br><br>
            <p class="error_message"><span style="font-weight: bold;">Error: </span>{{ auth_error.exception }}</p> 
        </div>

        <div class="row text-center">
            <img class="text-center" src="{% static 'copo/img/headcrab.gif' %}" height='50px'
                 style="margin:80px -30px 40px 0"
                 alt="Gordon Freeman and His Crowbar"/>
            <img class="text-center" src="{% static 'copo/img/freeman.gif' %}" height='100px'
                 style="margin:40px 0 40px 0"
                 alt="Gordon Freeman and His Crowbar"/>
            <br>
            <a class="btn btn-default" style="width:200px;" href="mailto:{{copo_email}}?subject=ORCID%20Authentication%20Error&body=Error%20message:%20{{ auth_error.exception | urlencode }}">Contact COPO</a>
        </div>
    </div>
{% endblock %}

{% block js_block %}
{% endblock %}