{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}

{% block title %}Time Series Statistics{% endblock %}

{% block stylesheet_block %}
   <link rel="stylesheet" href="{% static 'copo/css/stats_time_series.css' %}">
{% endblock %}

{% block title_block %} Index {% endblock %}

{% block tagline_block %}{% endblock %}

{% block page_banner %}{% endblock %}

{% block breadcrumb_block %}{% endblock %}

{% block browse_header_block %}{% endblock %}

{% block content %}
{% csrf_token %}
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <h2 class="h2">COPO Statistics</h2>
        {% include "./nav.html" %}
    </div>
    <div class="col-lg-10 col-md-2 col-sm-10">
        <!-- Tooltip -->
        <div id="tooltip" class="tooltip">
            <div class="tooltip-date">
                <span id="date"></span>
            </div>
            <div class="tooltip-temperature">
                Number of <span id="metric"></span>: <span id="num_metric"></span>
            </div>
        </div>
      
         <!-- Chart metric dropdown menu -->
        <div class="dropdown-menu-wrapper">
            <label for="changeChartMetric">Change Element</label>
            <select autocomplete="off" class="form-control" id="changeChartMetric" style="width: 200px">
                <option value="0" selected>Samples</option>
                <option value="1">Datafiles</option>
                <option value="2">Profiles</option>
                <option value="3">Users</option>
            </select>
        </div>

        <!-- Graph -->
        <div id="graph"></div>
    </div>
</div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/d3-v6.min.js' %}"></script>
    <script src="{% static 'copo/js/stats_time_series.js' %}" defer></script>
{% endblock %}