{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}

{% block title %} Variable Histogram Statistics {% endblock %}

{% block stylesheet_block %}
   <link rel="stylesheet" href="{% static 'tol_dashboard/css/stats_variable_histogram.css' %}">
{% endblock %}

{% block title_block %} Index {% endblock %}

{% block tagline_block %}{% endblock %}

{% block page_banner %}{% endblock %}

{% block breadcrumb_block %} {% endblock %}

{% block browse_header_block %} {% endblock %}

{% block content %}
{% csrf_token %}
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2">
    <h2 class="h2">COPO Statistics</h2>
    {% include "./nav.html" %}
  </div>
  <div class="col-lg-10 col-md-2 col-sm-10">
    <!-- Chart metric dropdown menu -->
    <div class="dropdown-menu-wrapper">
        <label for="changeHistMetric">Change Element</label>
        <select autocomplete="off" class="form-control" id="changeHistMetric" style="width: 200px">
            <option value="COLLECTOR_AFFILIATION" selected>
                Collector Affiliation
            </option>
            <option value="DATE_OF_COLLECTION">Date of Collection</option>
            <option value="GAL">GAL or PARTNER</option>
            <option value="HAZARD_GROUP">Hazard Group</option>
            <option value="IDENTIFIED_HOW">Identified How</option>
            <option value="IDENTIFIER_AFFILIATION">Indentifier Affiliation</option>
            <option value="LIFESTAGE">Lifestage</option>
            <option value="ORGANISM_PART">Organism Part</option>
            <option value="PRESERVATION_APPROACH">Preservation Approach</option>
            <option value="PRESERVATIVE_SOLUTION">Preservation Solution</option>
            <option value="PURPOSE_OF_SPECIMEN">Purpose of Specimen</option>
            <option value="SEX">Sex</option>
            <option value="TIME_ELAPSED_FROM_COLLECTION_TO_PRESERVATION">
                Time Elapsed from Collection to Preservation
            </option>
            <option value="TISSUE_FOR_BARCODING">Tissue for Barcoding</option>
            <option value="sample_type">
                Sample type or Tree of Life (ToL) project
            </option>
        </select>
     </div>

    <!-- Graph -->
    <div id="graph"></div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="{% static 'copo/js/stats_histogram_statistics.js' %}" defer></script>
{% endblock %}
