/* Component menu */
.menu-row {
  margin-top: -7px;
  float: left;
  width: 100% !important;
}

.menu-no-addtl-info-row {
  padding: 180px 12px 0px 12px; /* top right bottom left */
  margin-right: -12px;
  margin-left: -12px;
}

.ui.menu {
  position: relative;
  z-index: 1;
  height: 340px;
  overflow: hidden;
  width: 100% !important;
}

.ui.compact.vertical.menu,
.ui.compact.menu,
.ui.menu .menu.comp {
  width: 100% !important;
}

.ui.menu .menu.comp .item {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  gap: 8px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100% !important;
  padding-top: 10px !important;
}

/* Expand components menu on hover */
.ui.menu:has(.menu.comp.many-items):hover,
.ui.menu:has(.menu.comp.many-items) .menu.comp:hover .item {
  overflow: visible !important;
  max-height: none !important;
  z-index: 10;
  grid-template-columns: 1fr; /* 1 column */
  height: auto;
}

.ui.menu:has(.menu.comp.many-items) .item {
  padding-bottom: 25px;
}

/* 'More components' indicator at bottom of menu */
.ui.menu:has(.menu.comp.many-items) .more-pcomponent-indicator {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding-top: 8px;
  background: linear-gradient(to top, white, transparent);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
  color: #999;
  font-size: 1.1em;
  z-index: 15;
  cursor: pointer;
}

@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

.ui.menu:has(.menu.comp.many-items) .item + .more-pcomponent-indicator i {
  animation: bounceArrow 1.3s infinite;
}

.ui.menu:has(.menu.comp.many-items) .item:hover + .more-pcomponent-indicator i,
.ui.menu:has(.menu.comp.many-items:hover) .more-pcomponent-indicator i,
.ui.menu:has(.menu.comp.many-items)
  .item:hover
  + .more-pcomponent-indicator:hover
  i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  animation: none;
}

/* Component buttons */
.profile-dropdown-menu.comp .ui.button,
.ui .menu .item .ui.button,
.ui.menu .comp .ui.button {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  font-size: 12px !important;
  box-shadow: none !important;
  padding: 0.5em !important;
  width: 150px;
  margin: 3px 15px 3px 3px !important;
}

.ui.dropdown .menu > .item .dropdown.icon {
  color: white;
}

#expandingMenuTitle {
  padding: 5px 0 0 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.pcomponent-name {
  /* Show ellipsis after 2 lines of text */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2 !important;
  vertical-align: top !important;
  overflow-wrap: anywhere !important; /* Break words */
}

.pcomponent-icon {
  flex: 0 0 20px !important; /* Adjust 20px to match icon size */
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 2px !important;
  text-shadow: none;
  background: none;
}

.pcomponent-button {
  padding: 6px 10px !important;
  border-radius: 0.28571429rem !important;
  display: inline-flex !important;
  align-items: center;
  gap: 4px;
}

/* Dropdown menu components */
.profile-dropdown-wrapper .ui.button {
  justify-content: center;
}

.profile-dropdown-wrapper {
  position: relative;
  cursor: pointer;
  z-index: 20;
}

.profile-dropdown-menu.comp,
.profile-dropdown-wrapper .profile-dropdown-menu {
  position: absolute;
  z-index: 9999;
  background: white;
  border: 1px solid #ccc;
  min-width: 150px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.profile-dropdown-menu.comp .item {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  gap: 8px;
}

/* Text/paragraph ellipsis when text is too long */
.ellipsis-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-binding: url('ellipsis.xml#ellipsis');
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  line-height: 1.5em; /* fallback */
  max-height: 3em; /*1.5em x 2 = 3em*/ /* fallback */
}

.ellipsis-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  line-height: 1.5em; /* fallback */
  max-height: 1.5em; /*1.5em x 1 = 1.5em*/ /* fallback */
}

#ellipsisId {
  font-size: 14px;
  cursor: pointer;
}

/* mouse over link */
#ellipsisId:hover {
  color: black !important;
}

/* Icon: Sorting */
.sort-icon {
  color: black;
  font-size: 24px;
  width: 30px;
  line-height: 17px !important;
}

.sort-up {
  padding-top: 12px;
}

.sort-down {
  padding-top: 0;
}

/* Popover: View more profile details button */
.popover-title {
  background: #ffffff !important;
  color: black !important;
  border-bottom: none !important;
}

.popover-content {
  background: #ffffff !important;
  color: black !important;
  padding: 0 0 5px 10px !important;
}

.ellipsis-div .popover {
  width: 195px;
}

#showMoreProfileInfoCloseBtn,
#profileOptionsPopoverCloseBtn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  float: right;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

/* Popover: showMoreProfileInfo */
#showMoreProfileInfoBtn + .popover {
  clear: both;
  width: 220px;
  padding-right: 10px;
}

#showMoreProfileInfoBtn {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
}

#showMoreProfileInfoBtn:hover {
  color: #fff;
  background-color: #616161;
  bottom: 30px;
  opacity: 1;
}

#showMoreProfileInfoCloseBtn {
  margin: 0.5px -10px 0 0;
}

.show-more-btn-spacing {
  margin-top: 20px;
}

.show-more-btn-with-2-line-desc {
  margin-top: 20px;
}

/* Profile panels */
.panel.panel-profile {
  border-color: rgba(17, 70, 110, 0.1) !important;
}

.panel.panel-profile .panel-heading {
  color: white;
}

.panel.panel-profile .panel-body {
  height: fit-content; /* Auto adjusts the height of the div according to its contents */
}

.grid-panel-body {
  padding: 15px;
  height: 356px !important;
  position: relative;
  z-index: 1;
}

.grid-panel-body-selected {
  background-color: #ff8c8c !important;
  color: white !important;
  font-weight: bolder !important;
  height: 325px !important;
}

#bottomPanel {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 1.1em;
  border-top: 1px solid #d0d0d0;
  margin-top: 30px;
}

.profile-info-label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.profile-description {
  height: 42px;
}

.profile-info-row {
  padding-left: 12px;
  padding-right: 12px;
  margin-right: -12px;
  margin-left: -12px;
}

.date-created-div {
  display: inline;
  margin-bottom: 10px;
}

/* Profile grid */
#copo_profiles_table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 24px;
  max-width: calc((450px * 2) + (24px * 2)); /* 2 grids per row with 24px gap */
  /* margin: 0 10px 0 10px; */ /* Left align the centre: top right bottom left */
  margin: 0 auto; /* Centre the table */
}

.copo-records-panel:hover,
.copo-records-panel:focus-within,
.grid:hover,
.grid:focus-within {
  z-index: 9999;
}

.grid,
.grid-item {
  height: 400px;
  border-radius: 5px;
  background-color: #fff;
  max-width: 515px;
  position: relative;
  z-index: 1;
}

.grid-selected {
  box-shadow: inset 0 0 0 9999px rgba(0, 136, 204, 0.9) !important;
  border: 1em solid rgba(0, 136, 204, 0.9) !important;
}

.grid:hover,
.grid-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item {
  transition: all 200ms ease-in;
  position: relative;
  overflow: hidden;
}

.grid-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: load 1s infinite;
}

@keyframes load {
  /* Slide-in animation */
  100% {
    transform: translateX(100%);
  }
}

/* Associated types */
.shared-owner-info-icon,
.associated_type_info_icon {
  position: relative;
  left: 2px;
}

ul.associated-type-ul-tag {
  float: left;
  position: relative;
  padding-left: 5px;
  list-style-type: disc;
  list-style-position: inside;
}

.associated-type-ul-tag li {
  padding-bottom: 10px;
}

/* CSS styles for profile records with associated types assigned */
.associated-type-div-value {
  height: fit-content;
  margin-bottom: 10px;
  padding-top: 15px;
  columns: 1;
}

/* Sequencing centres */
.sequencing-centre-info-icon {
  position: relative;
  left: 2px;
}

.sequencing_centre_div_value {
  height: fit-content;
  margin-bottom: 10px;
  padding-top: 15px;
  columns: 1;
}

ul.sequencing-centre-ul-tag {
  float: left;
  position: relative;
  padding-left: 5px;
  list-style-type: disc;
  list-style-position: inside;
}

.sequencing-centre-ul-tag li {
  padding-bottom: 10px;
}

/* Navigate to top button CSS */
.navigate-to-top {
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #335dff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigate-to-top:focus {
  color: #fff;
}

.navigate-to-top.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.navigate-to-top.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}

/* Navigate to bottom */
.navigate-to-bottom {
  word-wrap: break-word;
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #335dff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigate-to-bottom :focus {
  color: #fff;
}

.navigate-to-bottom.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.navigate-to-bottom.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}

.up-arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
}

.up-arrow:nth-child(2) {
  top: 42%;
}

.down-arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(90deg);
  top: 30%;
  left: 40%;
}

.down-arrow:nth-child(2) {
  top: 42%;
}

@keyframes upArrowBounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(-90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
}

@keyframes downArrowBounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(90deg) translateX(0px) scale(1);
  }
}

.navigate-to-top:hover .up-arrow {
  animation-name: upArrowBounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navigate-to-top:hover .up-arrow:nth-child(2) {
  animation-name: upArrowBounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navigate-to-bottom:hover .down-arrow {
  animation-name: downArrowBounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navigate-to-bottom:hover .down-arrow:nth-child(2) {
  animation-name: downArrowBounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Responsiveness */
@media only screen and (max-width: 2400px) {
}

@media only screen and (min-width: 1920px) {
  /* .pcomponent-icon {
    margin-left: -14px;
  } */

  .date-created-div .text-bold::after {
    content: '\A'; /* Inserts a line break */
    white-space: pre; /* Makes the \A behave as a newline */
  }
}

@media only screen and (max-width: 1797px) {
}

@media only screen and (max-width: 1716px) {
}

@media only screen and (max-width: 1711px) {
}

@media (min-width: 1704px) {
  /* .pcomponent-icon {
    margin-left: -14px;
  } */

  .date-created-div .text-bold::after {
    content: '\A'; /* Inserts a line break */
    white-space: pre; /* Makes the \A behave as a newline */
  }
}

@media only screen and (max-width: 1703px) {
}

@media only screen and (max-width: 1701px) {
}

@media only screen and (max-width: 1669px) {
}

@media only screen and (max-width: 1498px) {
}

@media only screen and (max-width: 1473px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 15px 14px 15px 14px !important; /*top right bottom left */
  }
}

@media only screen and (max-width: 1458px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1382px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 15px 0 15px 15px !important; /* top right bottom left */
  }
}

@media only screen and (max-width: 1325px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 15px 5px 15px 5px !important; /* top right bottom left */
  }

  .date-created-div .text-bold::after {
    content: '\A'; /* Inserts a line break */
    white-space: pre; /* Makes the \A behave as a newline */
  }
}

@media only screen and (max-width: 1218px) {
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 15px 0 15px 15px !important; /* top right bottom left */
  }
}

@media only screen and (max-width: 1089px) {
  #copo_profiles_table {
    /* Centre all grids in the table */
    justify-content: center;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
  }

  #sortProfilesBtn {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    appearance: none;
    padding-bottom:10px;
  }
}

@media only screen and (max-width: 776px) {
  .grid-panel-body {
    height: 335px !important;
  }

  .menu-no-addtl-info-row {
    padding: 160px 12px 0px 12px;
  }
}

@media only screen and (max-width: 767px) {
  .menu-row {
    margin-top: -168px;
  }
}

@media only screen and (max-width: 575px) {
  .navigate-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .navigate-to-top.show {
    bottom: 10px;
    right: 10px;
  }

  .navigate-to-top.show:hover {
    bottom: 10px;
  }

  .navigate-to-bottom {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .navigate-to-bottom.show {
    bottom: 10px;
    right: 10px;
  }

  .navigate-to-bottom.show:hover {
    bottom: 10px;
  }

  .up-arrow {
    top: 27%;
    left: 37%;
  }

  .down-arrow {
    top: 27%;
    left: 37%;
  }
}
