
.pad-left {
    padding-left: 5px;
}

.space-left {
    margin-left: 20px;
}

span.summary-details-control {
    position: relative;
    cursor: pointer;
}

span.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f196";
    color: #3a6c55;
    top: 10%;
    left: 50%;
    font-size: 13px;

}

div.shown span.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f147";
    color: #3a6c55;
    top: 10%;
    left: 50%;
    font-size: 13px;

}

.profile-component-icons {
    color: #000;
    font-size: 12px;
}

/*start work profile navs*/
.work-profiles-nav.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
    background: transparent;
}

.work-profiles-nav.navbar-default {
    border: none;
    background: transparent;
    box-shadow: none !important;
}

.work-profiles-nav.navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 1);
    background: rgba(245, 245, 240, 0.95);
    font-size: 12px;
    margin-left: 10px;
    border-radius: 4px;
    width: 130px;
    box-shadow: none !important;
}

.work-profiles-nav.navbar-default .navbar-nav > li > a:hover,
.work-profiles-nav.navbar-default .navbar-nav > li > a:focus {
    /*color: #fff;*/
    background: rgba(240, 240, 240, 1.0);
}

.work-profiles-nav.navbar-default .navbar-nav > .active > a,
.work-profiles-nav.navbar-default .navbar-nav > .active > a:hover,
.work-profiles-nav.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: transparent;
}

.work-profiles-nav.navbar-default .navbar-nav .dropdown-menu li > a:hover,
.work-profiles-nav.navbar-default .navbar-nav.dropdown-menu li > a:focus,
.work-profiles-nav.navbar-default .navbar-nav.dropdown-submenu:hover > a {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.work-profiles-nav.navbar-default .navbar-toggle:hover,
.work-profiles-nav.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.work-profiles-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
}

.work-profiles-nav.navbar-default .navbar-toggle:hover .icon-bar,
.work-profiles-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: transparent;
}

/*end work profile navs*/

.component-col-left {
    padding-left: 5px;
}

.component-col-right {
    padding-right: 10px;
}

.component-item {
    border-radius: 4px;
    background: rgba(245, 245, 240, 1);
}

.component-item-header {
    text-align: center;
    padding-top: 20px;
}

.component-item-header > div > .icon_text {
    font-weight: 500;
    font-size: 12px;
}

.component-item-body {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ffffff;
}

.component-item-badge {
    background: rgba(37, 37, 43, 0.8);
    border-radius: 4px;
    margin-top: 10px;
    padding-top: 3px;
    text-shadow: none;
    box-shadow: none;
}

/*component buttons*/
a.component-btns {
    text-decoration: none;
}

.component-btns > i {
    color: rgba(41, 57, 84, 0.9);
}

/*Set the width of the buttons in the Components tab to the same width*/
.ui.menu .ui.dropdown.item .comp .ui.button {
    width: 190px !important;
}

/*end component buttons*/

/*profile details panel*/
.profile-details.panel,
.profile-details.panel-default {
    box-shadow: none;
    border: none;

}

.profile-details.panel-default > .panel-heading {
    background: #ffffff none no-repeat;
    padding: 0px;
}

.profile-details.panel-default > .panel-footer {
    background-color: #ffffff;
    border-top: none;
}

/* end profile details panel */

/* Text/paragraph ellipsis when text is too long */
.showEllipsisFor2TextLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 3em; /*1.5em x 2 = 3em*/ /* fallback */
}

.showEllipsisFor1TextLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 1.5em; /*1.5em x 1 = 1.5em*/ /* fallback */
}

#ellipsisID {
    font-size: 14px;
    cursor: pointer;
}

/* mouse over link */
#ellipsisID:hover {
    color: black !important;
}

/* Icon: Sorting */
.sort-icon {
    color: black;
    font-size: 24px;
    width: 30px;
    line-height: 17px !important;
}

.sort-up {
    padding-top: 12px;
}

.sort-down {
    padding-top: 0;
}

/* Popover: Ellipsis */
.popover-title {
    background: #ffffff !important;
    color: black !important;
    border-bottom: none !important;
}

.popover-content {
    background: #ffffff !important;
    color: black !important;
}

.popover {
    width: 195px;
}

#popoverCloseBtn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    float: right;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/* Profile panels */
.panel {
    border-color: rgba(17, 70, 110, 0.1) !important;
}

.panel-heading {
    color: white;
}

.panel-body {
    height: fit-content; /* Auto adjusts the height of the div according to its contents */
}

.grid-panel-body {
    padding: 15px;
    height: 356px !important;
}

.grid-panel-body-selected {
    background-color: #ff8c8c !important;
    color: white !important;
    font-weight: bolder !important;
    height: 325px !important;
}

#bottom-panel {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 1.1em;
    border-top: 1px solid #d0d0d0;
    margin-top: 30px;
}


#copo_profiles_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* left align the grid items */
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

/* Profile grid */
.grid,
.grid-item {
    height: 400px !important;
    border-radius: 5px;
    /* 4 grids per row, with space for margin */
    width: calc((100% / 4) - 24px);
    background-color: #ffffff;
    margin: 8px;
    display: inline-block;
}

.grid-selected {
    box-shadow: inset 0 0 0 9999px rgba(0, 136, 204, 0.9) !important;
    border: 1em solid rgba(0, 136, 204, 0.9) !important;
}

.grid-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item {
    transition: all 200ms ease-in;
    position: relative;
    overflow: hidden;
}

.grid-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
}

@keyframes load {
    /* Slide-in animation */
    100% {
        transform: translateX(100%)
    }
}

/* Associated types*/
.boldText {
    font-weight: bold;
}

.associated_type_div_label {
    font-weight: bold;
}

.associated_type_info_icon {
    position: relative;
    left: 2px;
}

ul.associated_type_ulTag {
    float: left;
    position: relative;
    /*margin-right: 20px;*/
    padding-left: 5px;
    list-style-type: disc;
    list-style-position: inside;
}

.associated_type_ulTag li {
    padding-bottom: 10px;
}

/*CSS styles for profile records with no associated types assigned*/
/* The suffix '_release' relates to 'margin-bottom' CSS for if the 
study/profile has release details
*/

.no_associatedTypes_marginBottom {
    margin-bottom: 213px;
}

.no_associatedTypes_marginBottom_release {
    margin-bottom: 162px;
}

.no_associatedTypes_marginBottom_2LineDescriptionText {
    margin-bottom: 193px;
}

.no_associatedTypes_marginBottom_2LineDescriptionText_release {
    margin-bottom: 142px;
}

.associatedTypes_marginBottom {
    margin-bottom: 10px;
}

.associatedTypes_marginBottom_2LineDescriptionText {
    margin-bottom: 10px;
}

/*CSS styles for profile records with associated types assigned*/
/* The suffix '_release' relates to 'margin-bottom' CSS for if the 
   study/profile has release details 
*/

.one_associatedType_marginBottom {
    margin-bottom: 167px;
    padding-top: 15px;
}

.one_associatedType_marginBottom_release {
    margin-bottom: 118px;
    padding-top: 15px;
}

.one_associatedType_marginBottom_2LineDescriptionText {
    margin-bottom: 80px;
    padding-top: 15px;
}

.one_associatedType_marginBottom_2LineDescriptionText_release {
    margin-bottom: 95px;
    padding-top: 15px;
}


.two_associatedTypes_marginBottom {
    margin-bottom: 165px;
    padding-top: 15px;
}

.two_associatedTypes_marginBottom_release {
    margin-bottom: 117px;
    padding-top: 15px;
}

.two_associatedTypes_marginBottom_2LineDescriptionText {
    margin-bottom: 80px;
    padding-top: 15px;
}

.two_associatedTypes_marginBottom_2LineDescriptionText_release {
    margin-bottom: 97px;
    padding-top: 15px;
}


.three_associatedTypes_marginBottom {
    margin-bottom: 168px;
    padding-top: 15px;
}

.three_associatedTypes_marginBottom_release {
    margin-bottom: 118px;
    padding-top: 15px;
}

.three_associatedTypes_marginBottom_2LineDescriptionText {
    height: 81px;
    margin-bottom: 80px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}

.three_associatedTypes_marginBottom_2LineDescriptionText_release {
    height: 81px;
    margin-bottom: 30px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}

.several_associatedTypes_marginBottom {
    height: 100px;
    margin-bottom: 80px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}

.several_associatedTypes_marginBottom_release{
    height: 100px;
    margin-bottom: 30px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}


.several_associatedTypes_marginBottom_2LineDescriptionText {
    height: 100px;
    margin-bottom: 60px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}

.several_associatedTypes_marginBottom_2LineDescriptionText_release{
    height: 100px;
    margin-bottom: 10px;
    overflow: auto;
    padding-top: 15px;
    columns: 2;
}

/* Menu: Actions & Components button */
/* Display buttons in the Components menu button in two columns */
.ui.menu .ui.dropdown.item .comp .item:not(.filtered) {
    display: inline-grid !important;
    grid-template-columns: auto auto;
}

/*Navigate to top button CSS*/
.navigate-to-top {
    position: fixed;
    bottom: -40px;
    right: 40px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #335dff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigate-to-top:focus {
    color: #fff;
}

.navigate-to-top.show {
    bottom: 40px;
    right: 40px;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.navigate-to-top.show:hover {
    color: #fff;
    bottom: 30px;
    opacity: 1;
}

/*Navigate to bottom*/
.navigate-to-bottom {
    word-wrap: break-word;
    position: fixed;
    bottom: -40px;
    right: 40px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #335dff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigate-to-bottom :focus {
    color: #fff;
}

.navigate-to-bottom.show {
    bottom: 40px;
    right: 40px;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.navigate-to-bottom.show:hover {
    color: #fff;
    bottom: 30px;
    opacity: 1;
}

.up-arrow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
    position: absolute;
    width: 12px;
    height: 12px;
    background-size: contain;
    transform: rotate(-90deg);
    top: 30%;
    left: 40%;
}

.up-arrow:nth-child(2) {
    top: 42%;
}

.down-arrow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
    position: absolute;
    width: 12px;
    height: 12px;
    background-size: contain;
    transform: rotate(90deg);
    top: 30%;
    left: 40%;
}

.down-arrow:nth-child(2) {
    top: 42%;
}

@keyframes upArrowBounceAlpha {
    0% {
        opacity: 1;
        transform: rotate(-90deg) translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: rotate(-90deg) translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: rotate(-90deg) translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: rotate(-90deg) translateX(0px) scale(1);
    }
}

@keyframes downArrowBounceAlpha {
    0% {
        opacity: 1;
        transform: rotate(90deg) translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: rotate(90deg) translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: rotate(90deg) translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: rotate(90deg) translateX(0px) scale(1);
    }
}

.navigate-to-top:hover .up-arrow {
    animation-name: upArrowBounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navigate-to-top:hover .up-arrow:nth-child(2) {
    animation-name: upArrowBounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navigate-to-bottom:hover .down-arrow {
    animation-name: downArrowBounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navigate-to-bottom:hover .down-arrow:nth-child(2) {
    animation-name: downArrowBounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Responsiveness */
@media only screen and (max-width: 2400px) {
    .no_associatedTypes_marginBottom {
        margin-bottom: 210px;
    }

    .no_associatedTypes_marginBottom_release {
        margin-bottom: 150px;
    }

    .two_associatedTypes_marginBottom_release {
        margin-bottom: 105px;
    }

    .two_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 145px;
    }

    .two_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 85px;
    }
}

@media only screen and (max-width: 1920px) {
    .no_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 193px;
    }

    .no_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 130px;
    }

    .one_associatedType_marginBottom_2LineDescriptionText {
        margin-bottom: 146px;
    }
}

@media only screen and (max-width: 1797px) {
    .two_associatedTypes_marginBottom {
        margin-bottom: 145px;
    }

    .two_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 145px;
    }

    .several_associatedTypes_marginBottom_release {
        margin-bottom: 10px
    }
}

@media only screen and (max-width: 1716px) {
    .one_associatedType_marginBottom {
        margin-bottom: 145px;
    }

    .three_associatedTypes_marginBottom {
        margin-bottom: 145px;
    } 
    
    .three_associatedTypes_marginBottom_release {
        margin-bottom: 94px;
    }

}

@media only screen and (max-width: 1711px) {
    .one_associatedType_marginBottom {
        margin-bottom: 163px;
    }
}

@media only screen and (max-width: 1701px) {
    .two_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 82px;
    }
}

@media only screen and (max-width: 1703px) {
    .grid,
    .grid-item {
        /* 3 grids per row, with space for margin */
       width: calc((100% / 3) - 24px);
    }

    .no_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 165px;
      }

    .one_associatedType_marginBottom{
        margin-bottom: 165px;
    }

    .two_associatedTypes_marginBottom {
        margin-bottom: 165px;
    }

    .two_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 165px;
    }
    
    .two_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 98px;
    }

    .three_associatedTypes_marginBottom {
        margin-bottom: 169px;
    }
    
    .three_associatedTypes_marginBottom_release{
        margin-bottom: 118px;
    }


    .several_associatedTypes_marginBottom_release {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1669px) {
    .grid,
    .grid-item {
        /* 2 grids per row, with space for margin */
       width: calc((100% / 2) - 24px);
    }

    .two_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 120px;
    }
}

@media only screen and (max-width: 1498px) {
    .two_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 99px;
    }
}

@media only screen and (max-width: 1473px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 15px 14px 15px 14px !important; /*top right bottom left */
    }
}

@media only screen and (max-width: 1458px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 1382px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 15px 0 15px 15px !important; /*top right bottom left */
    }
}

@media only screen and (max-width: 1325px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 15px 5px 15px 5px !important; /*top right bottom left */
    }
}


@media only screen and (max-width: 1218px) {
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 15px 0 15px 15px !important; /*top right bottom left */
    }
}


@media only screen and (max-width: 1089px) {
    .grid,
    .grid-item {
        /* 1 grid per row, with no space for margin */
       width: 80%;
    }

    #copo_profiles_table{
        /* Centre all grids in the table */
        justify-content: center;
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    #sortProfilesBtn {
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;
        appearance: none;
    }
}


@media only screen and (max-width: 776px) {
    .grid-panel-body {
        height: 335px !important
    }

    .no_associatedTypes_marginBottom {
        margin-bottom: 190px;
    }

    .no_associatedTypes_marginBottom_release {
        margin-bottom: 140px;
    }

    .no_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 170px;
    }

    .no_associatedTypes_marginBottom_2LineDescriptionText_release {
        margin-bottom: 140px;
      }
    
    .one_associatedType_marginBottom {
        margin-bottom: 145px;
    }

    .one_associatedType_marginBottom_release {
        margin-bottom: 95px;
    }

    .one_associatedType_marginBottom_2LineDescriptionText_release {
        margin-bottom: 75px;
    }

    .two_associatedTypes_marginBottom_release {
        margin-bottom: 95px;
    }

    .three_associatedTypes_marginBottom {
        margin-bottom: 145px;
    }

    .three_associatedTypes_marginBottom_release {
        margin-bottom: 35px;
        columns: 2;
    }

    .three_associatedTypes_marginBottom_2LineDescriptionText {
        margin-bottom: 60px;
    }

    .three_associatedTypes_marginBottom_2LineDescriptionText_release {
        height: fit-content;
        margin-bottom: 35px;
        columns: 3;
    }

    .several_associatedTypes_marginBottom{
        margin-bottom: 40px;
    }

    .several_associatedTypes_marginBottom_release{
        height: 90px;
        margin-bottom: 20px;
        overflow: auto;
        padding-top: 15px;
        columns: 3;
    }

    .several_associatedTypes_marginBottom_2LineDescriptionText{
        margin-bottom: 40px;
        overflow: auto;
        columns: 3;
    }

    .several_associatedTypes_marginBottom_2LineDescriptionText_release{
        height: 90px;
        margin-bottom: 0;
        overflow: auto;
        padding-top: 15px;
        columns: 2;
    }

}

@media only screen and (max-width: 575px) {
    .navigate-to-top {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .navigate-to-top.show {
        bottom: 10px;
        right: 10px;
    }

    .navigate-to-top.show:hover {
        bottom: 10px;
    }

    .navigate-to-bottom {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .navigate-to-bottom.show {
        bottom: 10px;
        right: 10px;
    }

    .navigate-to-bottom.show:hover {
        bottom: 10px;
    }

    .up-arrow {
        top: 27%;
        left: 37%;
    }

    .down-arrow {
        top: 27%;
        left: 37%;
    }
}