{% extends 'copo/base_2col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}
    <style>
        .highlight_accession {
            background-color: #d9e8d9 !important;
        }

        .highlight_no_accession {
            background-color: #FFD700 !important;
        }
        .highlight_error_file_processing_status {
            background-color: #f88080!important;
        }              
    </style>

{% endblock %}

{% block title %}Assembly{% endblock %}
{% block title_block %}Assembly{% endblock %}

{% block tagline_block %}

{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="profile_title" value="{{ profile.title }}"/>
        <input type="hidden" id="profile_type" value="{{ profile.type }}" />
        <input type="hidden" id="nav_component_name" value="assembly"/>
    </div>

{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}


{% block content %}

    <!-- getting started section -->
    <!-- getting started section -->
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-0 page-welcome-message"
             style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">Assembly - Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            The assembly page provides a platform for aligning and merging fragments of a
                            Deoxyribonucleic acid (DNA) sequence to reconstruct the original structure of the DNA.
                            <br/><br/>
                            <div>To add assemblies, click the
                                <button class="circular tiny ui icon primary button">
                                    <i class="icon add sign"></i>
                                </button>
                                icon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- publication_table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="assembly_table"></div> <!-- div used by the quick tour agent -->
    <div class="table-parent-div">
        <table id="assembly_table" class="ui celled table hover copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

{% endblock %}

{% block help_section %}
{% endblock %}


{% block component_info %}
    <div style="display:none; margin-top: 30px; " id="assembly_info" class="alert alert-info"
         role="alert"></div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_seq_assembly.js' %}"></script>
{% endblock %}
