
#files .label{
    margin-bottom:5px;
    display: inline-block;
}

#tags_input .label{
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom:5px;
    padding: 5px;
    display: inline-block;
}

.delete_tag{
    cursor: pointer;
}

#files_table tbody tr{
    cursor: pointer
}