.orcid_header {
    font-size: x-large;
    border-radius: 5px;
    padding: 5px 0 5px 20px;
    color: white;
    background-color: #191919;
    background: linear-gradient(#243942, #1d2e35);
    margin: 30px 0 10px 0;
}

.orcid_entry {
    padding: 16px;
    margin:15px 0 5px 0;
    background-color: white;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
}

.centerish{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
    padding: 5px;
}

.orcid-info img {
    height: 24px;
    padding-bottom: 4px;
    padding-right: 5px;
}

.orcid-info a {
    text-decoration: underline;
}