{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}
{% load html_tags %}

{% block title %}Tree of Life Inspection by Genome Acquisition Labs{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'tol_dashboard/css/tol_inspection_by_gal.css' %}"/>
    <style></style>
{% endblock %}



{% block title_block %} Tree of Life Inspection by Genome Acquisition Labs{% endblock %}

{% block tagline_block %}{% endblock %}

{% block browse_header_block %}{% csrf_token %}{% endblock browse_header_block %}

{% block page_tile %}{% endblock page_tile %}


{% block content %}
    <span class="float-end">
        <h4 class="h4">Status</h4>
        <div class="alert alert-info" style="min-width: 400px; min-height: 55px" role="alert">
            <span id="spinner" style="display:none" class="float-end ui tiny active inline loader"></span>
            <div id="sub_spinner" class="float-end ui tiny indeterminate inline loader"></div>
            <p id="taxonomy_data_status">Idle</p>
        </div>
    </span>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 display: inline;">
            <h3 class="h3 page-header-width">
                <div class="word-break">Tree of Life (ToL) Inspection by Genome Acquisition Labs (GALs)</div>
                <button class="big circular ui icon green button tol_inspect copo-tooltip"
                        title="View TOL Inspection">
                    <i class="icon clipboard list"></i>
                </button>
                <button id="copo_tol_dashboard_shortcut"
                        class="big circular ui icon yellow button copo_tol_dashboard copo-tooltip"
                        title="View COPO Tree of Life Dashboard">
                    <i class="icon chart line"></i>
                </button>
                <button id="copo_accessions_dashboard_shortcut"
                        title="View Accessions Dashboard"
                        class="big circular ui icon pink button copo_accessions copo-tooltip">
                    <i class="icon sitemap"></i>
                </button>
            </h3>
        </div>
    </div>
    <hr/>

    <div class="row" style="padding-top:10px">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <table id="gal_names" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="text-align: center">GAL</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div style="padding-left:25px" class="col-lg-8 col-md-8 col-sm-8" id="sample_panel_tol_inspect_gal">
            <h4 class="h4"><small class="labelling">Click a GAL on the left to see its samples' taxonomy.</small></h4>
            <div class="tab">
                <button class="tablinks active" onclick="showTab('taxonomyPieChartTabID')">Taxonomy
                    Visual Analysis
                </button>
                <button class="tablinks" onclick="showTab('galSampleGoalStatisticsTabID')">GAL Genome Sample Sequencing
                    Goal Statistics
                </button>
            </div>

            <div>
                <div id="taxonomyPieChartTabID" class="tabcontent" style="height: 480px!important;">
                    <!--   Pie chart component loader -->
                    <div class="piechart_component_loader">
                        <div class="piechart_spinner ui huge_loader hidden inverted dimmer">
                            <div class="ui text loader">Loading...</div>
                        </div>
                    </div>

                    <canvas id="pieChartID" class="chartjs-render-monitor"
                            style="margin:0 auto;height: 480px; width: 600px; display:none;"
                            aria-label="taxonomy representation" role="figure">
                    </canvas>
                </div>
                <div id="galSampleGoalStatisticsTabID" class="tabcontent">
                    <canvas id="barGraphID" class="chartjs-render-monitor" width="400" height="100"
                            aria-label="GAL sample goal percentage representation" role="figure">
                    </canvas>
                </div>
                <div id="taxonomyLevelsDivID" class="mb-3 centre-div" style="padding-top: 20px; display:none;">
                    <input class="form-control taxonomyLevel_fieldName active_taxonomy_level" value="ORDER_OR_GROUP"
                           readonly/>
                    <input class="form-control taxonomyLevel_fieldName" value="FAMILY" readonly/>
                    <input class="form-control taxonomyLevel_fieldName" value="GENUS" readonly/>
                    <input class="form-control taxonomyLevel_fieldName" value="SCIENTIFIC_NAME" readonly/>
                </div>
            </div>

        </div>
    </div>




{% endblock %}

{% block help_section %}{% endblock %}

{% block js_block %}
    <script src="{% static 'tol_dashboard/js/tol_inspection_by_gal.js' %}"></script>
    <script src="{% static 'copo/js/chartjs/chart-4.4.1.umd.js' %}"></script>
{% endblock %}
